[2017-08-15 16:02] emiliom commented on #162
An additional comment about the implementation: `agencyName` and `agencyCode` have been set to be exposed only if `OrganizationTypeCV in ['Government agency', 'Research agency']`. Of course, a wofpy user is free to tweak the ODM2 timeseries DAO code to override that setting.

[2017-08-17 00:19] emiliom commented on #148
This issue was fully fixed, right? Looks like the only outstanding thing was for @miguelcleon to confirm that things were now find on his end?

[2017-08-17 00:22] lsetiawan commented on #148
@emiliom As far as the specific issue of unicode handling, @miguelcleon said that it works [here](https://github.com/ODM2/WOFpy/pull/158#issuecomment-316175310), But then he encountered SSL Error, which is another issue.

[2017-08-17 00:24] emiliom commented on #148
Thanks, @lsetiawan. I'm closing this issue, then.

[2017-08-17 19:00] benjamincrary opened #165 "SOAP 1.0/1.1 and REST 1.0/1.1 - not all working consistently?"
@aufdenkampe @emiliom @lsetiawan @horsburgh

I'm currently using the R library WaterML (https://cran.r-project.org/web/packages/WaterML/WaterML.pdf) to access WOF at the live EnviroDIY endpoint (http://odm2wofpy.uwrl.usu.edu:8080/odm2timeseries/).

I am experiencing some inconsistency with the SOAP/REST protocol versions while accessing the environmental DIY data.  Certain versions (i.e. 1.0 v 1.1

[2017-08-17 23:07] emiliom opened #166 "Prepare for new release, v2.2.0 (no beta)"
Previous release out on June 14: https://github.com/ODM2/WOFpy/releases/tag/v2.1.0b0. Also [refer to current Milestone](https://github.com/ODM2/WOFpy/issues?q=is%3Aopen+is%3Aissue+milestone%3A%22Test+WOFpy+responses+against+ODM2+databases%22)

Distinguish between bug fixes involving **failures** vs ones involves inappropriate or mishandled **response content**.

A list of **enhancements** and **bu

[2017-08-18 02:26] lsetiawan commented on #166
Maybe this should also be #153?

[2017-08-18 02:30] emiliom commented on #166
Thanks. Please feel free to edit the comment directly! I've added your suggestion. Though I'm trying to focus on referencing issues, unless an item arose from a PR/commit and not directly from an issue (or wasn't directly discussed there).

[2017-08-18 02:32] lsetiawan commented on #166
Ah! Got it. Thanks.

[2017-08-18 16:17] lsetiawan commented on #165
Thanks @benjamincrary for this report, we will definitely look into what's going on.

In the mean time, I have tried going to the SOAP end point to start the testing and running into an error when using [`ulmo`](https://github.com/ulmo-dev/ulmo) in Python.

@emiliom I tried requesting the SOAP end point for WOF 1.1 GetSites with `ulmo` and I am getting an error.

[code]

<details>
<summary>Error</

[2017-08-18 17:07] emiliom commented on #165
@benjamincrary, wow, thanks for that extensive assessment! Are you already a WaterML user? Thanks also for putting together a Jupyter notebook **and** uploading it to a useful and relevant BiG-CZ repo! It's great to see an R Jupyter notebook in action.

@lsetiawan, thanks for your follow up.

I'll start by stepping back a bit. There are three important issues/considerations here:
1. Testing was do

[2017-08-18 17:18] emiliom opened #167 "Overhaul/prettify default WOFpy test HTML pages"
The current WOFpy endpoint test HTML pages are ugly as sin. eg:
- http://54.186.36.247:8080/postgresqlodm2timeseries/
- http://54.186.36.247:8080/postgresqlodm2timeseries/rest_1_1/

We should discuss improvements to it, both to make them more user friendly and appealing, and to include useful information; for example, the version/release number of the WOFpy instance being used, and maybe contact a

[2017-08-18 17:23] lsetiawan commented on #167
## List of improvements

- [ ] Styling change should use [Bootstrap](https://getbootstrap.com/docs/3.3/)

[2017-08-18 17:26] emiliom commented on #167
I'm cool as long as Bootstrap is *very* lightweight and doesn't introduce external js library dependencies that could break down the road.

[2017-08-18 17:33] lsetiawan opened #168 "SOAP Request not working on Postgresql?"
This issue follows up with https://github.com/ODM2/WOFpy/issues/165#issuecomment-323408861

[2017-08-18 17:43] emiliom commented on #168
Thanks. If this is a real problem, it definitely would be important to address it and fix it soon, ideally for the next release.

We should check whether the SOAP 1.1 problem is limited to `GetSites`, or if it occurs with other requests as well.

[2017-08-18 17:44] lsetiawan commented on #165
@emiliom Should I replace `GetVariableInfo` with `GetVariables` or keep `GetVariableInfo` and add `GetVariables`? Thanks.

[2017-08-18 17:46] emiliom commented on #165
Keep GetVariableInfo and add GetVariables

[2017-08-18 20:31] lsetiawan commented on #168
SOAP and REST testing for WaterML 1.1 between Postgresql and MySQL can be found here. https://gist.github.com/lsetiawan/5450e69df1a5257545aec2c29c8696d3

@emiliom Let me know if I need to tweak or add anything. Thanks.

[2017-08-18 20:57] emiliom commented on #168
Nice, thanks!

A comment on the REST 1.1 tests only: in your code, failures are seen in both the postgresql and mysql endpoints. Postgresql `GetSites` fails. BUT, this url for the GetSites request works just fine: http://54.186.36.247:8080/postgresqlodm2timeseries/rest/1_1/GetSites. For the mysql endpoint, the `GetSiteInfo` test fails, but the equivalent url for the request works just fine: http:/

[2017-08-18 21:11] lsetiawan commented on #168
This seems weird to me too, but I am referring straight from how `ulmo` is doing things. [`get_sites`](https://github.com/ulmo-dev/ulmo/blob/master/ulmo/cuahsi/wof/core.py#L60), [`get_site_info`](https://github.com/ulmo-dev/ulmo/blob/master/ulmo/cuahsi/wof/core.py#L105). Thanks.

[2017-08-19 18:43] emiliom commented on #168
Ok. Yeah, there must be historical reasons for those misleading ulmo function names.

I examined your notebook more closely and found errors in the print statements of your REST testing for `GetSiteInfo`, `GetVariableInfo` and `GetValues`. You reused the code from the SOAP tests probably w/o checking it first :stuck_out_tongue_winking_eye:. For example, for GetSiteInfo:
[code]

You were using the

[2017-08-19 19:16] emiliom commented on #168
@lsetiawan, I'm copying here your prior error report on `GetSites`, as it has helpful info for debugging the PostgreSQL responses. It makes me suspect that there may be an error coming from an idiosyncracy in the content of the EnviroDIY database, not an actual bug in PostgreSQL handling per se. Still, we need to track this down.

[code]

<details>
<summary>Error</summary>

[code]

</details>

[2017-08-19 19:18] emiliom commented on #165
FYI, @lsetiawan and I are making good progress on testing against our MySQL and PostgreSQL WOFpy instances, SOAP vs REST (1.1 only), in issue #168. We'll report back with solid findings probably by the end of Monday.

[2017-08-21 16:10] lsetiawan commented on #168
Thanks for doing that.

Yea. I'll look into what's going on. Thanks.

[2017-08-21 18:47] lsetiawan commented on #168
All of the errors seen during SOAP and REST testing are caused by `KeyError`.

[code]

[2017-08-21 18:58] emiliom commented on #168
Yeah. And here's an interesting difference in REST 1.1 `GetSiteInfo` responses for the the mysql and postgresql sites in your test, in the `<siteInfo>` block:

**[mysql:](http://54.186.36.247:8080/mysqlodm2timeseries/rest/1_1/GetSiteInfo?site=mysqlodm2timeseries:USU-LBR-Mendon)**
[code]
Has `siteProperty` element, and no `note` element.

**[postgresql:](http://54.186.36.247:8080/postgresqlodm2time

[2017-08-21 19:23] emiliom commented on #168
Forgot to add that I *think* `note` is from WaterML 1.0 and `siteProperty` was introduced in 1.1 to replace `note`. But you'll have to check the WaterML 1.1 documentation to confirm.

[2017-08-21 19:41] lsetiawan commented on #168
@emiliom Those comments helped a lot! I found the problem [here](https://github.com/ODM2/WOFpy/blob/master/wof/core_1_1.py#L682). Should be `add_siteProperty()`.

## Note from WaterML1.1 Docs:
CHANGES FROM WATERML 1.0
siteType - This describes the environment of the site, eg stream, estuary, spring
siteProperty - delinates properties of the Site in an OGC like manner. Ideally, site properties
shou

[2017-08-21 19:53] lsetiawan commented on #168
Based on the [WaterML 1.1 Schema](http://his.cuahsi.org/documents/cuahsiTimeSeries_v1_1.xsd)

[code]

`siteProperty` `minOccurs` is 0, so I think I can just not list `siteProperty` if there's no values for it.

[2017-08-21 19:58] emiliom commented on #168
Excellent!!

Yup, that's the answer!

BTW, another conclusion from all this research is that the source problem has nothing to do with postgresql vs mysql. It's all about the bug in wofpy and empty database attributes that may populate `siteProperty` (from what I've seeing, I'm guessing the ODM2 timeseries DAO is not currently parsing state and county, so that comment is the only attribute that co

[2017-08-21 20:04] lsetiawan commented on #168
Correct. [It doesn't seem like it](https://github.com/ODM2/WOFpy/blob/master/wof/examples/flask/odm2/timeseries/sqlalch_odm2_models.py#L57). I'll see if I can fix this. Thanks for the help debugging 😄

[2017-08-21 20:23] lsetiawan commented on #168
I am not sure where to grab `County` from, but `State` can be obtained from [`Affiliations.PrimaryAddress`](http://odm2.github.io/ODM2/schemas/ODM2_Current/columns/ODM2Core_Affiliations_PrimaryAddress.html)

[2017-08-21 20:33] emiliom commented on #168
Ignore County. And even State is not important right now. Fixing the bug
ASAP is far more important.

On Aug 21, 2017 1:23 PM, "Landung Setiawan" <notifications@github.com>
wrote:

I am not sure where to grab County from, but State can be obtained from
Affiliations.PrimaryAddress
<http://odm2.github.io/ODM2/schemas/ODM2_Current/columns/ODM2Core_Affiliations_PrimaryAddress.html>

—
You are receivin

[2017-08-21 22:40] emiliom commented on #160
@lsetiawan can you remind me where we are with these CV mappings work? I see that we merged PR #163 which lists method, source and qualitycontrollevel in its title. I also see PR #159 (merged), which was broader; and for my own reference, I'll paste here the comments I made there:

And of course, this discussion started at issue #152

[2017-08-21 22:43] lsetiawan commented on #160
We need to work together to fill out the dropdowns on https://github.com/ODM2/WOFpy/issues/160#issue-245239137 above to match ODM2 CV to WATERML CV.

[2017-08-21 22:52] emiliom commented on #160
Thanks! I'll start looking into it by tomorrow morning, to get back to speed.

[2017-08-22 14:25] ocefpaf commented on #166
@lsetiawan please feel free to ping me in any PR you need a second pair of eyes.
Also, once we are done I can update the `conda` for `WOFPy`.

[2017-08-22 15:56] lsetiawan commented on #168
After PR #171, this problem doesn't occur anymore. Closing this issue.

[2017-08-22 15:56] #168 closed

[2017-08-29 20:14] lsetiawan opened #172 "WOFpy Server Unable to Retrieve Request after Database faulting invoking DB restart."
WOFpy gives an `OperationalError` After database crashes and restarted. Originally, problem seemed to be random, but I see that this is caused by restarts. Currently there is no handling of database restarts. SQLAlchemy has documentation about this [here](http://docs.sqlalchemy.org/en/latest/core/pooling.html#more-on-invalidation).

Error seen is:
[code]

After refresh I get:

[code]

[2017-08-29 20:17] emiliom commented on #172
This is a new problem, right? Not the old problem we discussed yesterday, where a problematic requests leads to a permanent WOFpy malfunction that requires a restart.

[2017-08-29 20:19] lsetiawan commented on #172
It is the problem from yesterday. I just found a way to invoke problem on demand.

[2017-08-29 20:32] emiliom commented on #162
Fixed by #163 and #164. Closing

[2017-08-29 20:32] #162 closed

[2017-08-29 20:38] lsetiawan commented on #150
@miguelcleon I have hopefully provided some fix to your EOF problem.. Please try to deploy your WOFpy Server again and let me know if you encountered the error still. Thanks.

[2017-08-29 20:42] emiliom commented on #172
Fixed by #173. Closing

[2017-08-29 20:42] #172 closed

[2017-08-29 21:06] lsetiawan commented on #166
@emiliom what do you mean by SOAP only? this is in REST result. http://54.186.36.247:8080/mysqlodm2timeseries/rest/1_1/GetSiteInfo?site=mysqlodm2timeseries:USU-LBR-Mendon

[2017-08-30 02:58] emiliom commented on #160
One thing to note about the mapping proposed here (mapping ODM2 CV terms to the closest term for the corresponding WaterML 1.1 CV), is that it has to be specific to ODM2 DAO's. It's not a generic mapping that would apply across all DAO's in WOFpy. So, it should probably be implemented at the DAO level.

[2017-08-30 03:58] emiliom commented on #166
**Version number:** there will be so many bug fixes and enhancements in this release, let's just call it "2.2.0" (no beta, and 2.1 > 2.2)

[2017-08-30 03:59] emiliom commented on #166
Thanks. I had a vague memory that it was limited to SOAP. I've edited the text.

[2017-08-30 17:07] lsetiawan commented on #160
Yea this makes sense. Though your comment:

This is a little difficult in DAO level. In `core_1_1.py` checks are performed like [L641](https://github.com/ODM2/WOFpy/blob/master/wof/core_1_1.py#L641). My thoughts are adding another variable to the check functions that specify the data model somehow, or just let any CV pass through by default if they are not matched in DAO.

[2017-08-30 17:43] emiliom commented on #160
Let's discuss this in an hour or so, when I'm in. FYI I've done some
refactoring of vocabularies.py

[2017-08-30 21:17] emiliom commented on #166
@ocefpaf, just a heads-up that @lsetiawan and I are wrapping up the last PR's (on #160) before we issue a new WOFpy release. Unless surprises come up, we'll be ready to stamp the new release by tonight (our tonight!). Please be ready to work with me Thursday and Friday to get a conda package ready by Friday! (FYI, @lsetiawan is unavailable on Thursday, the day of the week he works for a different

[2017-08-30 21:48] ocefpaf commented on #166
Standing by and read to :shipit:

[2017-08-30 22:48] emiliom opened #180 "Revisit tests"
@ocefpaf today commented:

Sure, but not right now! Those tests are not very important.

I'm opening this issue to remind us to give the test suite another look later on.

Ref: #179 and https://github.com/ODM2/WOFpy/pull/178/commits/27b25e81f937ff74a1017f6ccb8a13a2e0370403 (the latter disabled part of the cbi tests)

[2017-08-30 22:58] emiliom commented on #160
@lsetiawan, will you be able to submit a PR with the remaining changes for CV handling, before you leave? We're so close!

[2017-08-30 23:14] lsetiawan commented on #160
@emiliom The latest changes are now up on WOFpy dev server. Thanks.

[2017-08-30 23:18] emiliom commented on #160
Whoa, that was very fast! I've started looking at it. FYI, many of the `valueType` values look odd (in postgresql/EnviroDIY test DB), but don't worry about it. I'll look into it.

[2017-08-30 23:21] ocefpaf commented on #160
I'll be up for a few more hours. If you issue the release I can prepare the packages today.

[2017-08-30 23:38] emiliom commented on #160
Thanks, @ocefpaf. But I have some questions for @lsetiawan first, and it looks like I may need one more PR.

@lsetiawan (after testing REST 1.1 dev endpoints):
- The CV values are coming through as expected (for the most part) in `GetVariable*` and `GetValues*` requests, but `GetSite*` responses have glitches:
  - `GetSites` has an empty `seriesCatalog` element. I don't remember if it's supposed t

[2017-08-31 00:00] emiliom commented on #160
Looks to me like the `Variables` instantiation at [odm2/timeseries/sqlalch_odm2_models.py#L111](https://github.com/ODM2/WOFpy/blob/master/wof/examples/flask/odm2/timeseries/sqlalch_odm2_models.py#L111) needs to look more like the one at [odm2/timeseries/odm2_timeseries_dao.py#L205](https://github.com/ODM2/WOFpy/blob/master/wof/examples/flask/odm2/timeseries/odm2_timeseries_dao.py#L205) -- see the

[2017-08-31 00:09] emiliom commented on #160
It also looks like a `datatype` match (`self.get_match('datatype' ...`) needs to be added in the `get_series_by_sitecode*` functions in odm2_timeseries_dao.py, just as it is in `get_variables_from_results`

[2017-08-31 00:34] emiliom commented on #160
This empty `seriesCatalog` element was already present before we made all the recent changes. It's present in the "stable" (non dev) AWS endpoints.

[2017-08-31 04:24] lsetiawan commented on #180
`test_cli.py` is still causing a build failure. as of now. https://travis-ci.org/ODM2/WOFpy/jobs/270272234#L1173

[2017-08-31 06:53] emiliom commented on #160
Final DAO configuration for the upcoming release:
- CV's for which an ODM2-WaterML1.1 mapping ([examples/flask/odm2/cvmap_wml_1_1.yml](https://github.com/ODM2/WOFpy/blob/master/wof/examples/flask/odm2/cvmap_wml_1_1.yml)) was created for non-matching terms: `censorcode`, `datatype`, `samplemedium`
- CV's deemed to have too large a divergence between ODM2 and WaterML1.1 to either validate terms or c

[2017-08-31 11:19] ocefpaf commented on #180
Hard to debug something that happens sporadically and I cannot reproduce locally :disappointed:

I'll change the test logic to something simpler. It is only trying to check if the new directory has a different inode to ensure it is a new directory, but I have another (simpler) idea that might do the same.

[2017-08-31 15:19] emiliom commented on #166
### TO-DO's after this release (in no particular order):

- Add parsing and reporting of state from address string (#168)
- Add [MS SQL ODM2 DAO configuration instructions](157#issuecomment-316132393) to installation & config doc
- In `GetSiteInfo*` responses, `Variable` `TimeUnits` and `TimeSupport` are not populated, b/c they would involve querying `TimeSeriesResultValues`, which is not currentl

[2017-08-31 15:45] emiliom commented on #160
New release is out. Closing.

[2017-08-31 15:45] #160 closed

[2017-08-31 15:46] emiliom commented on #152
Remaining discussions shifted to #160. New release is out, closing this issue.

[2017-08-31 15:46] #152 closed

[2017-08-31 15:48] emiliom commented on #166
@ocefpaf The new release [v2.2.0](https://github.com/ODM2/WOFpy/releases/tag/v2.2.0) is out. Package away!

[2017-08-31 15:54] ocefpaf commented on #166
PyPI done: https://pypi.python.org/pypi/WOFpy/2.2.0

Conda next...

[2017-08-31 15:57] emiliom opened #185 "TO-DO's after v2.2.0 release"
In no particular order. We can open new issues as needed, as we start addressing these.

- Overhaul documentation, coalesce into single, structured documentation
  - Move from http://pythonhosted.org/WOFpy/ to https://readthedocs.org ?
  - For installation and configuration, https://github.com/ODM2/WOFpy/blob/master/docs/WOFpyODM2LBR_installation.md is the starting point. But look over the other t

[2017-08-31 16:03] emiliom commented on #166
Thanks @ocefpaf!

@lsetiawan: tomorrow, remember to update the public/live WOFpy endpoints on our AWS. First thing in the morning, assuming the conda package is ready.

[2017-08-31 16:08] emiliom commented on #165
A new release [v2.2.0](https://github.com/ODM2/WOFpy/releases/tag/v2.2.0) is just out, with some bug fixes that originated from @benjamincrary's assessment -- plus many other fixes and enhancements.

pip and conda packages will be ready by Friday, possibly today.

FYI, we created a Python Jupyter notebook inspired by your tests: [docs/WOFpy_ODM2_SOAPandREST_Tests.ipynb](https://github.com/ODM2/WOF

[2017-08-31 16:08] #165 closed

[2017-08-31 20:21] emiliom commented on #166
Looks like the conda packages for the 3 OS's are now ready: https://anaconda.org/odm2/wofpy/files

Thanks, @ocefpaf !

[2017-08-31 20:27] ocefpaf commented on #166
Yep. All platforms are available now.

[2017-08-31 20:39] emiliom commented on #166
Once @lsetiawan has updated our live sample WOFpy endpoints tomorrow morning, and then we've also updated (re-run) the [notebook that runs some tests](https://github.com/ODM2/WOFpy/blob/master/docs/WOFpy_ODM2_SOAPandREST_Tests.ipynb) on both of the endpoints, we're done. I'll close this issue then.

Finally, I'll send a wider announcement tomorrow once those two tasks are completed.

Thanks again!

[2017-08-31 21:07] sreeder commented on #148
@emiliom, @lsetiawan  I have been getting this issue today. I reinstalled the newest version of wofpy and it fixed one of unicode errors but it failed on a second.
`'ascii' codec can't encode character u'\u2122' in position 18: ordinal not in range(128)`
It is occurring on a getvalues call. The character is the trademark symbol located in the organization definition field. It is connected to a pos

[2017-08-31 21:15] emiliom commented on #148
Thanks for letting us know, @sreeder. Do you have a public WOFpy endpoint with a specific location and variable that we can use for testing?

@lsetiawan, please look into this tomorrow. Hopefully it'll be an easy fix, given the previous work you've done on unicode handling.

[2017-08-31 21:22] sreeder commented on #148
@emiliom  Yes, I do. It is on our envirodiy website and the exact link is here: [envirodiy](http://envirodiysandbox.usu.edu/wofpy/rest/1_1/GetValues?location=wofpy:desk_sensors&variable=wofpy:Decagon_CTD-10_Temp&methodCode=2&sourceCode=49&qualityControlLevelCode=Raw&startDate=&endDate= )

[2017-08-31 21:25] emiliom commented on #148
Perfect, thanks! That'll be very useful.

[2017-09-01 12:15] ocefpaf commented on #148
Sorry for the noise but I could not resist:

![http://qainsight.net/wp-content/uploads/dasbin/WindowsLiveWriter/IHeartUnicode_11D56/image_4.png](http://qainsight.net/wp-content/uploads/dasbin/WindowsLiveWriter/IHeartUnicode_11D56/image_4.png)

[2017-09-01 15:54] emiliom commented on #166
Done, and the notebook tests are all passing. Closing this issue.

[2017-09-01 15:54] #166 closed

[2017-09-01 19:55] emiliom commented on #148
PR #187 was replaced by #188; thanks @ocefpaf and @lsetiawan! Progress is being made there ...

[2017-09-15 18:59] emiliom opened #191 "serviceWsdl attribute value not using actual domain name"
In `GetSiteInfo` responses, the `seriesCatalog` element includes an attribute called `serviceWsdl`. Currently the value of the attribute uses the localhost domain:port, http://127.0.0.1:8080, rather than the actual domain name (and port) for the wofpy instance. I'm not certain (we'd need to look at WOF/WaterML specs and non-wofpy live WOF instances), but it'd make more sense if this url was the ac

[2017-09-18 17:06] lsetiawan commented on #191
I've changed the config to use the actual service wsdl that works. Thanks.

[2017-09-18 17:22] lsetiawan commented on #191
AWS.

This change should be noted in the the documentation, because it is hardwired in config file. I can try to figure out a way to automate it, if that's better in the long run.

[2017-09-18 17:29] emiliom commented on #191
Thanks for the clarification.

Exactly. Again, low priority, but if you think it's easy, go right ahead.

[2017-09-18 21:38] lsetiawan commented on #73
Hi @miguelcleon,

It has been a while since we address this issue. I am starting up the discussion again now that we have a new release. I'm not sure what your time is like this week, but when you get a chance, could you please test out the latest release of WOFpy in `conda-forge` with your **Luquillo CZO ODM2 PostgreSQL DB** running on **Apache Server**.

Please let me know if you run into any pr

[2017-10-06 19:44] miguelcleon opened #195 "installation error"
@lsetiawan

I'm trying to install WOFpy on the production server and I'm getting an error, it seems like it should work, the dev part worked from your documentation but when I try to set it up for production I'm getting an apache error.

[Fri Oct 06 19:39:19.136206 2017] [core:notice] [pid 1652:tid 140229002598272] AH00094: Command line: '/usr/sbin/apache2'
[Fri Oct 06 19:39:25.815143 2017] [wsgi:

[2017-10-06 19:48] lsetiawan commented on #195
@miguelcleon That looks like a problem in your `.cfg` file https://github.com/ODM2/WOFpy/blob/master/wof/examples/flask/odm2/timeseries/odm2_config_timeseries.cfg#L1 ... is it missing `[WOF]`?

[2017-10-06 19:54] miguelcleon commented on #195
it does have `[WOF]`

[code]

[2017-10-06 20:09] miguelcleon commented on #195
I did have them running on a development server, and the web services were being served via apache. However I installed an SSL certificate on the development server and now it is not working so I thought I'd try installing it on the production server with a fresh installation of wofpy.

[2017-10-06 20:11] miguelcleon commented on #195
Actually CUAHSI installed the SSL cert, so they are going to look at it otherwise I would try to fix that.

[2017-10-06 20:12] lsetiawan commented on #195
Yea, I've never done WOFpy installation on Apache... Not sure what's going on. From the errors, it looks like the problem is somehow WOFpy is not reading the `.cfg` file correctly. Sorry 😞

[2017-10-06 20:15] emiliom commented on #195
... and of course, it's Friday afternoon! @lsetiawan is actually a bit sick right now, so I suggest he take a break and get back to helping @miguelcleon with this problem on Monday, all refreshed and ready to trouble shoot.

[2017-10-06 20:16] miguelcleon commented on #195
Ok, no problem @lsetiawan feel better!

[2017-10-06 20:21] lsetiawan commented on #195
@miguelcleon Thanks! 👍

[2017-10-06 20:26] miguelcleon commented on #195
@emiliom @lsetiawan and I figured it out. My dao wasn't setup right in runserver.py. I'm seeing more things here but that can wait for next week.

[2017-10-06 20:31] miguelcleon commented on #195
the confusion came here, this did not work:
https://github.com/ODM2/WOFpy/blame/master/docs/WOFpyODM2LBR_installation.md#L238

one should instead change the default configuration file parser argument like here:
https://github.com/ODM2/WOFpy/blob/master/wof/examples/flask/odm2/timeseries/runserver_odm2_timeseries.py#L35

[2017-10-06 20:32] emiliom commented on #195
Awesome! Let us know on Monday what problems you're still seeing.

For reference, your installation attempts (and the issue of Apache) started in #73. It'll be great to have WOFpy on top of your LCZO database, and to get from you tips about what needs to be done differently to configure it on Apache.

Also, I seriously need to get back to cleaning up the installation instructions ... I've been neg

[2017-10-10 21:04] miguelcleon opened #196 "registering service with HIS central"
I'm trying to register a WOFpy service with the QA version of HIS central and the  ‘Get Site info’ seems to be erroring out:

http://qa-hiscentral.cuahsi.org/testpage.aspx?n=5629

The service should be viewable here (http://qa-hiswebclient.azurewebsites.net/ ) but it is not.

[2017-10-10 21:08] valentinedwv commented on #196
There was a bit of debugging of this try an issue filter with:
is:issue is:closed his

[2017-10-10 21:52] miguelcleon commented on #196
hmm.. it seems like `getsites` works but `getsiteinfo` info is not working:

 not working:
http://odm2admin.cuahsi.org/wofpy/odm2timeseries/rest/1_1/GetSiteInfo?site=odm2timeseries:Rio%20Icacos%20Trib-IO

working:
http://odm2admin.cuahsi.org/wofpy/odm2timeseries/rest/1_1/GetSites?site=odm2timeseries:Rio%20Icacos%20Trib-IO

I'm now trying https://github.com/ODM2/WOFpy/blob/master/docs/WOFpy_ODM2_SO

[2017-10-10 22:06] miguelcleon commented on #196
Below is my version of https://github.com/ODM2/WOFpy/blob/master/docs/WOFpy_ODM2_SOAPandREST_Tests.ipynb

With lots of extra errors though! :smile:

https://github.com/miguelcleon/ODM2API-ipython-notebooks/blob/master/wofpytest.ipynb

[2017-10-10 22:08] emiliom commented on #196
This rings a bell, as something we ran into some time ago (a problem that happened in some circumstances only) and fixed. From the [notes on the current release](https://github.com/ODM2/WOFpy/releases/tag/v2.2.0), it looks like those bug fixes are in the current release (v2.2.0).

Based on the version number at the bottom of http://odm2admin.cuahsi.org/wofpy/odm2timeseries/, it looks like you are

[2017-10-10 22:12] emiliom commented on #196
BTW, before you register the service with WDC/HIS Central (once we get these errors figured out), I strongly advice you to pick a more meaningful network code. You're using the default, generic "odm2timeseries" network code, which is kind of useless in the context of the WDC catalog. Pick something like "lczots", "LCZO", "luquilloczo", etc.

[2017-10-10 23:10] miguelcleon commented on #196
Ok yes, thank you for pointing that out

[2017-10-11 07:01] emiliom commented on #196
@miguelcleon, you have an important error in [your test notebook](https://github.com/miguelcleon/ODM2API-ipython-notebooks/blob/master/wofpytest.ipynb). In cell 15:
[code]

I'm not saying this will fix things. But at least the errors will be more helpful.

Also, can we get access to your postgresql database, to examine values to help us debug? You can send us connection info offline.

[2017-10-11 13:25] miguelcleon commented on #196
@emiliom actually when I use:
`networkcodes = ['odm2timeseries']
`
this URL is tested:

http://odm2admin.cuahsi.org/odm2timeseries/soap/cuahsi_1_1/.wsdl

but that gives a 404 error, but when I use
`networkcodes = ['wofpy/odm2timeseries']
`
it tests http://odm2admin.cuahsi.org/wofpy/odm2timeseries/soap/cuahsi_1_1/.wsdl which is a valid URL.

Yes, I'll provide DB access.

[2017-10-11 14:09] miguelcleon commented on #196
@emiliom @lsetiawan I sent you guys a link via google drive to download a backup of the database, does that work?

[2017-10-11 15:16] emiliom commented on #196
Ok, here's what worked for the test notebook (I didn't actually test it, previously):
[code]
Note the slash at the end of server_base_url. The need for that has to do with the behavior of `urljoin`.

I ran this, and I got some successful requests and some errors (more successes than errors), matching what I found manually by clicking on the REST 1.1 examples on your end point. But at least the err

[2017-10-11 17:00] miguelcleon commented on #148
I am noticing a unicode error in my apache error log:

[code]

[2017-10-11 17:07] lsetiawan commented on #148
Thanks @miguelcleon we are working on this. Is that unicode stuff within your backup database?

[2017-10-11 17:10] miguelcleon commented on #148
@lsetiawan yes it is.

[2017-10-11 20:10] lsetiawan commented on #196
@miguelcleon Is the database backup that you sent us similar to `ODM2LCZO` database in your AZURE system used to test ODM2-Admin? If it is then that would help me save a huge amount of time, trying to spin up the database and then restoring it. Thanks.

[2017-10-11 20:18] miguelcleon commented on #148
I'm still getting errors but I don't think they are related to unicode now :smile:

this works:
https://dev-odm2admin.cuahsi.org/wofpy/odm2timeseries/rest/1_1/GetSites

this works:
https://dev-odm2admin.cuahsi.org/wofpy/odm2timeseries/rest/1_1/GetSiteInfo?site=odm2timeseries:Rio%20Icacos%20Trib-IO

but soap is not working, will follow up in other issue.

[2017-10-11 20:20] miguelcleon commented on #196
@lsetiawan rest seems to work but I'm still having problems with soap
http://qa-hiscentral.cuahsi.org/testpage.aspx?n=5629
This is still erroring, @emiliom if you run the notebook again you should see the same thing.

[2017-10-11 20:21] miguelcleon commented on #196
@lsetiawan  yes, it is the same database, just a more recent copy.

[2017-10-11 20:27] miguelcleon commented on #196
I've updated the results of [my test notebook](https://github.com/miguelcleon/ODM2API-ipython-notebooks/blob/master/wofpytest.ipynb)

[2017-10-11 20:28] lsetiawan commented on #148
@miguelcleon Great! One down two more problems to go! :man_dancing:

[2017-10-11 20:30] lsetiawan commented on #196
If I work with this older database, will I see the same error do you think?

[2017-10-11 20:30] miguelcleon commented on #196
latest stack trace from apache error log:

[code]

[2017-10-11 20:31] miguelcleon commented on #196
I don't think the older database has sites associated with sampling features, which was a problem I fixed.

[2017-10-11 20:33] lsetiawan commented on #196
Oh okay. I'll just spin up your backup then. Thanks! Stay tuned! Let's see if I can find and remove the 🐛

[2017-10-11 21:27] miguelcleon commented on #196
Any luck? I'm supposed to go see blade runner tonight and I need to leave soon.

[2017-10-11 21:31] lsetiawan commented on #196
Just finished spinning up your db on the cloud, probably won't finish till tomorrow. Thanks.

[2017-10-11 21:32] miguelcleon commented on #196
Ok, ttyl

[2017-10-11 23:34] miguelcleon commented on #196
@lsetiawan I didn't end up going to the movie after all

SOAP looks like it is working based on the results of [the test notebook](https://github.com/miguelcleon/ODM2API-ipython-notebooks/blob/master/wofpytest.ipynb) 😃

The hiscentral qa system is still generating errors though, I tested the same site that the notebook tests so that isn't it. I'll probably have to ask CUAHSI tomorrow.

http://qa-h

[2017-10-11 23:47] emiliom commented on #196
You don't have your priorities straight! BTW, I haven't seen it yet, but I intend to.

I wasn't aware of that test page until you mentioned it yesterday. Admittedly, the tests on our notebook are limited, but the fact that ulmo can consume the services at the WOFpy endpoint is a strong test in my book. Still, it'd be interesting to test one of our sample WOFpy endpoints with that CUAHSI tool. I'll

[2017-10-13 02:31] emiliom commented on #196
@miguelcleon, did you make any progress on this on Thursday, learning what exact errors the CUAHSI test tool is running into? I may try to register one of our test WOFpy endpoints tomorrow, just to see what happens. Of course, I won't make it live.

[2017-10-13 13:18] miguelcleon commented on #196
@emiliom I emailed Martin at CUAHSI, yesterday morning but I haven't heard back from him. I tried changing the site in the test script to see if another one worked and it did. Yeah it would be good if you tried that.

I just tried seeing if there is maybe some unicode in the sites or method records, that the CUAHSI test page might be choking on but I'm not seeing anything.

Maybe it is expecting a

[2017-10-13 14:37] lsetiawan commented on #196
In the example that is in the [WaterML 1.1 Documentation](http://his.cuahsi.org/documents/WaterML_1_1_part1_v2.pdf) Pg 68. Method Name is doesn't seem to be shown. So I think it should be fine if it's not returned.

[code]

[2017-10-13 14:50] miguelcleon commented on #196
Yeah, I don't know we need to hear from them.

[2017-10-13 15:20] emiliom commented on #196
Are you saying you tried a different site in the CUAHSI test system, and it worked? Or just in our test notebook? If I remember correctly the original `Rio Icacos Trib-IO` site was now working fine on our test notebook. But if you meant the former, that you successfully tested a different site in the CUAHSI test system, please send us the site code so we can see if there are any differences in the

[2017-10-13 15:21] miguelcleon commented on #196
Ok I got the below message from Martin, I changed the name of my site name and service name to odm2lczo and it worked! The new test service page is http://qa-hiscentral.cuahsi.org/testpage.aspx?n=5631

[2017-10-13 15:31] lsetiawan commented on #196
Woo hoo! That's awesome! I'm glad it was an easy fix. 😄

[2017-10-13 15:32] emiliom commented on #196
Awesome! I think I get what he's saying, but probably not 100%.

I think it'd be helpful if we set up a conference call with you, Martin, Don and me, next week, if there's still some confusion.

Also, I'm seeing many sites in your endpoint that have a site code that's the same or about the same as the site name. That's not a good practice. The site code should be a much more compact string, ideall

[2017-10-13 15:33] emiliom commented on #196
To be clear: your new endpoint url is http://odm2admin.cuahsi.org/wofpy/odm2lczo/

[2017-10-13 15:38] miguelcleon commented on #196
@emiliom, yes, that is the new endpoint. Now I'm trying to see if they can populate their test hydroclient (http://qa-hiswebclient.azurewebsites.net/) with the data from the endpoint. It looks like they need to harvest the endpoint into hydroclient.

We can setup a call. Hopefully you can test out your own endpoint to see what questions you may have for them.

[2017-10-13 15:54] emiliom commented on #196
BTW, I noticed earlier this week that some of your sites don't have a valid lat-lon! At least one of them has (0.0, 0.0). You'll want to address that before going live as a public service :wink:

Since things to be working on the CUAHSI end, maybe a call isn't needed. We can decide on Monday, after more tests, and specially if by then you've been able to test on the test hydroclient.

[2017-10-13 15:56] miguelcleon commented on #196
Ok, I'll take a look at those lat-lons, thanks for that.

[2017-10-16 19:56] emiliom commented on #196
@miguelcleon, we can close this issue, right? Or are we waiting to get confirmation that the service works with their test HydroClient?

I know you're also going to address sites/sampling features with (0,0) lat-lons, but that's not a WOFpy issue :wink:

Also, just to reiterate, before you go live with the service registration:

I would encourage you to use this opportunity to come up with short,

[2017-10-16 19:58] emiliom commented on #195
@miguelcleon, can we close this issue and #73?

And I'll bug you again: *It'll be great to get from you tips about what needs to be done differently to configure it on Apache.*

I'll keep bugging you about this :smiling_imp:

[2017-10-16 20:08] miguelcleon commented on #196
@emiliom I'd like to keep this open until we can confirm that this is working on their [test HydroClient](http://qa-hiswebclient.azurewebsites.net/). The new Luquillo CZO ODM2 service now shows up but I can't seem to make the filters work, so it seems like something went wrong. I emailed Martin about this.

Yes, one problem I have with the lat-lons is I don't know some of them. They have related f

[2017-10-16 20:11] miguelcleon commented on #73
I haven't noticed this problem on the new installation. If the issue comes back, this can be opened again.

[2017-10-16 20:11] #73 closed

[2017-10-16 20:50] miguelcleon commented on #195
Ok, I created a pull request for the documentation fix I suggested. I can add more for the Apache configuration.

[2017-10-16 21:37] emiliom commented on #196
Sounds good, we'll keep it open.

Let us know via this issue what you learn from Martin.

Well, my first gut instinct is to filter out those complex sites so they're not served at all via WOFpy. They're an awkward fit for ODM1/CUAHSI HIS. We could filter them out now (via the DAO code, probably -- but we can discuss that), and then we'd have time to discuss options among ourselves, with the CUAHSI

[2017-10-20 15:35] miguelcleon opened #200 "beginDateTime?"
@lsetiawan

I'm looking at the results from the following call, particularly the section below. Where does beginDateTime come from? I tried poking around in the code but I'm not finding it. The listed end date 2016-09-18T13:00:00 is correct but the first record for this time series is on 2016-07-07T10:00.  This site was only active for a short time.

http://odm2admin.cuahsi.org/wofpy/odm2lczo/rest

[2017-10-20 15:53] lsetiawan commented on #200
It gets it from seriesResult here: https://github.com/ODM2/WOFpy/blob/master/wof/core_1_1.py#L779

[2017-10-20 15:56] lsetiawan commented on #200
Probably it takes the first and last of the datetime in all your results values. If you don't think that is correct and it is not meeting what WaterML1_1 is supposed to do, please let me know and point me to the documentation of what is supposed to be there. Thanks.

[2017-10-20 15:59] miguelcleon commented on #200
Yeah it would make sense if it where finding the first and last datetime in the result values for the series but in this case it is not finding the correct beginDateTime. I checked in the database. actually you have a copy resultid 16664 if you want to look.

[2017-10-20 16:47] lsetiawan commented on #200
Okay, I will look into what's going on here. Thanks for letting me know.

[2017-10-20 17:35] emiliom commented on #200
I'm looking into this too.

Miguel, have you noticed that two of the variables do have a beginning in
August 2017?

On Oct 20, 2017 9:47 AM, "Landung Setiawan" <notifications@github.com>
wrote:

Okay, I will look into what's going on here. Thanks for letting me know.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github

[2017-10-20 17:49] lsetiawan commented on #200
Hi All,

It seems like the values are grabbed from Action. https://github.com/ODM2/WOFpy/blob/master/wof/examples/flask/odm2/timeseries/sqlalch_odm2_models.py#L126

<details>
<summary>Here's what I get from debugging (All Action Instances)</summary>
BeginDateTime EndDateTime
2016-08-30 15:00:00 None
2014-03-10 09:00:00 None
2014-03-10 09:00:00 None
2014-03-10 09:00:00 None
2014-03-10 09:00:00 None

[2017-10-20 17:50] lsetiawan commented on #200
Though the end date is not any of those values... hmm...

[2017-10-20 18:08] emiliom commented on #200
Well, see the logic starting on [the next line](https://github.com/ODM2/WOFpy/blob/master/wof/examples/flask/odm2/timeseries/sqlalch_odm2_models.py#L127):
[code]

A time series that's still ongoing (eg, sensor is still deployed) is supposed to have a NULL action `EndDateTime`; then, the response EndDateTime is grabbed from the actual time series result values. That's what the code is doing, so tha

[2017-10-20 18:10] lsetiawan commented on #200
Haha yea.. I remember that logic now! We put that in place 😄 Thanks @emiliom

[2017-10-20 18:12] emiliom commented on #200
I should add that the logic used in WOFpy can get tricky (ie, would need customization) if there's a chain of related actions during a sensor deployment. Or one can say, *screw* the attempt to minimize response times by leveraging `actions`, and just query the result values for both start and end datetimes to ensure accuracy!

[2017-10-20 18:33] emiliom commented on #200
Well, the silver lining is that maybe you can customize your DAO to read from those result extension properties instead. I don't remember if `odm2api` already has a read service for result extension properties, but if it does, this may not be too much trouble (I can help next week, I think).

Then, let's discuss the broader issue of ODM2 conventions and challenges at the workshop, with a broader g

[2017-10-20 18:40] miguelcleon commented on #200
Yes, looks like it does. Yes, discussing conventions and challenges does sound like a good idea. I'll look into customizing the DAO.

[2017-10-20 20:18] emiliom commented on #196
@miguelcleon, any progress on HydroClient testing:

[2017-10-20 20:28] emiliom opened #201 "Preparing for new release, 2.3.0"
We've made a couple of helpful bug fixes and error-trapping improvements since the last release (thanks largely to input from @miguelcleon, as well as an out-of-the-blue external contribution!). I'd like to push these into a new minor release (and conda package) fairly soon, well before the workshop. @lsetiawan will be on leave most of the week of October 24, so I'll shoot for a new release the fo

[2017-10-20 20:39] miguelcleon commented on #196
Martin got back to me this morning with:

I followed up asking if he could let me know which metadata fields are missing. It doesn't seem that 'unkown' is present in the WaterML so I asked if he meant they are blank. I know valuecounts aren't updated, I had some code to update them, but it's not working and it wasn't a priority. I don't see something called seriescount anywhere.

Seems like I migh

[2017-10-20 20:43] emiliom commented on #196
Thanks for the update. Let's reconnect on Monday. But yes, it would be really helpful if we got from Martin et al a complete report of problems.

I'll keep @lsetiawan out of this on Monday, though. He'll be offline the whole week except Monday, so he'll have other, more burning priorities on Monday :smile_cat:

[2017-10-21 01:52] horsburgh commented on #201
@emiliom - @jcaraballo17 is trying to deploy WOFPy on our new production server as part of the next release of data.envirodiy.org, but we haven't really done any additional tests or tweaks. Just need to get the latest/best version working for the Envirodiy release. @jcaraballo17 is trying to follow the steps that @sreeder left him before she went on leave, but if there are updated instructions/cod

[2017-10-21 01:57] horsburgh commented on #196
@emiliom, @lsetiawan, and @miguelcleon - that I know of, there is no such thing as "seriescount" in WaterML. It's been a while for me and so I could just be spacing it.  But, you should probably follow up and ask Martin for more information about what the harvester is expecting (which I'm sure you were planning on doing anyway).

[2017-10-21 14:19] ocefpaf commented on #201
@emiliom I am back from my "leave" and with access to internet. As soon as you issue the new release I can prepare the PyPI and conda packages.

[2017-10-21 19:45] emiliom commented on #196
Thanks, @horsburgh. So, I think we've passed the first test phase, which is the CUAHSI service registration tests (that's what led to the last batch of fixes). Now Miguel is on the second (and last?) phase, confirming that everything works on HydroClient. Most things are working, some are not. We're waiting on feedback from Martin on specific errors.

Actually, it didn't occur to me to ask Martin

[2017-10-22 20:40] emiliom opened #202 "Missing unitCode element in WaterML 1.1 responses from ODM2 timeseries DAO"
Looks like WOFpy may not be including a `unit/unitCode` element in its WaterML 1.1 responses. It is including the `unit` attribute `unitID` for `timeScale/unit`, but that's apparently deprecated (according to 1.1 documentation, it's no longer required).

For `unitCode` we can just use the integer value currently inserted as `unitID`.

I validated sample WOFpy responses using the XML schema `cuahsi

[2017-10-22 20:41] emiliom commented on #201
Let's try to address #202 (missing `unit/unitCode`) in the next release.

[2017-10-22 20:52] emiliom commented on #201
@horsburgh, thanks for the update. You should install only from the latest conda package, unless we give you very specific reasons not to (eg, we fix on master a bug you found, and we'd like you to test the fix). We aim not to let many improvements or bug fixes accumulate before issuing new releases and packages -- hence the preparation for this new minor release. I suspect that the issues we ran

[2017-10-23 14:37] lsetiawan commented on #202
What tool did you use to validate this? If it's some sort of python module, maybe we can add this to the test? Thanks.

[2017-10-23 15:24] emiliom commented on #202
OxygenXML. But I'm sure there are shell or python-based tools (eg, within `lxml`) that can do that.

Don't bother with this issue today, though. I'll look into it this week.

[2017-10-27 05:37] emiliom commented on #196
@miguelcleon, any progress in hearing back from CUAHSI about the errors?

Also, while I examining your WaterML 1.1 responses (to test XML Schema validation on my end), I noticed that in your sample `GetValues` response, you have a *positive* time offset of +4; the magnitude seems right for Puerto Rico, but the sign should be negative (vs UTC).

[2017-10-30 20:32] emiliom commented on #201
Other targets for the next release:
- Examine the current unicode character errors in the envirodiy WOFPY. From Jeff: "we are still getting some character encoding errors. For example, see: http://wpfwebstaging.uwrl.usu.edu/wofpy/rest/1_1/GetVariables". If we're lucky this is the same issue already addressed recently for Miguel's WOFpy (issue #148 and PR #197)
- See if we can add some flexibility

[2017-10-31 17:21] emiliom opened #204 "fix unicode / special characters in "units" for ODM2 timeseries DAO"
See "mu" (micro) character in EnviroDIY endpoints (and ODM2 more broadly!).

- http://54.186.36.247:8000/postgresqlodm2timeseries/rest/1_1/GetVariables
- http://wpfwebstaging.uwrl.usu.edu/wofpy/rest/1_1/GetVariables

[2017-10-31 17:35] emiliom commented on #204
Update ... it appears that this issue was actually already addressed in master, in one of the latest couple of commits! The WOFpy deployment at http://54.186.36.247:8000/postgresqlodm2timeseries/rest/1_1/GetVariables is probably old.

Once we've fully confirmed this we'll close this issue.

[2017-10-31 17:39] emiliom commented on #204
It'll be good to refer to this issue explicitly in the release notes, though, to make it clear that handling of units special characters is a bug fix included in the upcoming new release.

[2017-10-31 18:52] lsetiawan commented on #204
I have updated the WOFpy development deployment that uses current master, and sure enough the Unicode problem is gone. Thanks.

[2017-10-31 19:03] emiliom commented on #204
Woo-hoo!

[2017-11-01 16:52] lsetiawan opened #206 "Auto generate Service wsdl URL"
This behavior is harder to implement then I thought it would be.

Looking at the code, it seems like service wsdl is used on [core.py#L127](https://github.com/ODM2/WOFpy/blob/master/wof/core.py#L127). This in turn is used for [core_1_1.py#L704](https://github.com/ODM2/WOFpy/blob/master/wof/core_1_1.py#L704).

Currently, I would be able to get URLPATH from the `.cfg` file, but I cannot get the actu

[2017-11-01 20:27] emiliom commented on #206
For reference, we started discussing the service WSDL url some time ago at #191

[2017-11-01 20:28] emiliom commented on #206
Thanks for your research. Sounds like we should table this to another release.

[2017-11-03 17:27] lsetiawan opened #208 "XML Schema Validation in test?"
Because of issue #202 with `unitCode` that @emiliom had found, it got me thinking to maybe do an automatic XML validation with the schema file as a test? This would help ensuring that we are following the schema.

[2017-11-03 19:15] emiliom commented on #208
Yeah, something along those lines would be good to implement in tests. But not this month!

[2017-11-04 06:27] emiliom commented on #202
Fixed in PR #207.

[2017-11-04 06:27] #202 closed

[2017-11-04 06:29] emiliom commented on #204
Taken care of by a previous PR. Closing.

[2017-11-04 06:29] #204 closed

[2017-11-04 06:30] emiliom commented on #201
@lsetiawan is working on #167, and making great progress! The new facelift for the landing page and REST endpoint sample pages will go on the new release.

[2017-11-04 06:39] emiliom opened #209 "In value elements, align each attribute code with corresponding metadata element id/code"
Ensure that the metadata reference attributes in each `<value>` element of the `GetValues` WaterML 1.1 response align unambiguously with the corresponding metadata elements.

Sample `<value>` element with metadata reference attributes `censorCode`, `methodCode`, `sourceCode` and `labSampleCode`:
[code]

[2017-11-06 21:19] emiliom commented on #167
With PR #210 merged, the next thing will be to just finalize the text in the templates, including some links for that text. I'll work on that either late today or tomorrow.

[2017-11-07 17:00] emiliom commented on #209
@lsetiawan if you can take care of this today, we (or you) will be done with WOFpy today! We turn it over to Filipe for packaging, after I tag the release. Thanks!!

[2017-11-07 17:02] lsetiawan commented on #209
Working on it now as we speak, thanks.

[2017-11-07 18:16] emiliom commented on #209
Awesome!! Taken care of (PR #211). Closing now.

[2017-11-07 18:16] #209 closed

[2017-11-07 18:25] emiliom commented on #201
The new release is almost ready! And it's not so minor any more. So, I'll be bold and tag it as **2.3.0**

@ocefpaf: @lsetiawan and I will have a tagged release ready by tonight. So, hopefully tomorrow morning you can update the conda package (and PyPI? I forget if we're doing that).

[2017-11-07 18:48] ocefpaf commented on #201
:+1:

Sure.

We are :smile:

[2017-11-07 20:44] emiliom commented on #196
@miguelcleon, I assume there's no new info from CUAHSI about the problems you were running into with your service registration and HydroClient?

FYI, we're wrapping up the last updates to WOFpy before issuing a new release (see #201); no more bug fixes or changes will be accepted. I plan to stamp a new release tomorrow morning, and a new conda package will be generated very soon after.

[2017-11-07 21:10] miguelcleon commented on #196
@emiliom unfortunately no. I've been stuck in proposal and annual report writing mode for the past week.

[2017-11-07 21:18] emiliom commented on #196
Oh well. Good luck!

[2017-11-10 18:28] lsetiawan commented on #167
The changes made in #214 looks great! See it in http://54.186.36.247:8000/wofpypostgres/

[2017-11-10 18:37] emiliom opened #215 "Add dropped "GetValues request may kill your server" text in REST HTML templates"
Just realized that we forgot to retain the useful warnings in the REST HTML templates about GetValues requests that may be too big and can kill the server :)

Let's fix that today before issuing the release.

ref #167

[2017-11-10 18:39] lsetiawan commented on #215
I didn't leave it out. If you hover over the url you'll see it 😜

[2017-11-10 18:39] emiliom commented on #167
Thank you for deploying it!!! Yeah, it's looking terrific. Worth all the effort we put in, I think.

See #215 though (we both missed that!). Either one of us can take care of it. I won't do it in the next couple of hours.

[2017-11-10 18:40] emiliom commented on #215
You're good!!! I like it. Closing the issue, then.

[2017-11-10 18:40] #215 closed

[2017-11-10 18:41] lsetiawan commented on #215
Thanks! Yea, I didn't like the clutter it made. 😄

[2017-11-10 18:44] emiliom commented on #167
I've added  http://54.186.36.247:8000/wofpypostgres/ to the github issue listing our AWS resources.

I forgot to say: nice touch on the config info for that sample instance (APL-UW org, you as contact, etc)

[2017-11-10 18:50] emiliom commented on #167
Also forgot to comment: the WOFpy version says "0", but I assume (from recent discussions) everything is set to have the correct version shown when installed from conda package?

[2017-11-10 18:53] lsetiawan commented on #167
Yepp. Ingore my versioning, that deployment is a development without git.

[2017-11-10 18:58] emiliom commented on #167
Great, thanks.

[2017-11-10 19:09] lsetiawan commented on #167
Once the release is out, I will update our "production" development servers. Thanks.

[2017-11-11 01:58] emiliom commented on #201
For reference for crafting the release notes, see https://github.com/ODM2/WOFpy/releases/tag/v2.2.0
(I'll draft the release notes within this issue)

[2017-11-11 02:02] emiliom commented on #167
Done! Closing.

[2017-11-11 02:02] #167 closed

[2017-11-13 09:07] emiliom commented on #148
@miguelcleon and @lsetiawan Can we close this issue?

[2017-11-13 09:56] emiliom commented on #201
Add [MS SQL ODM2 DAO configuration instructions](157#issuecomment-316132393) to installation & config doc (Is it already done?)

[2017-11-13 13:50] miguelcleon commented on #148
Yes

[2017-11-13 13:50] #148 closed

[2017-11-15 07:30] emiliom commented on #201
2.3.0 release is finally out! Closing this issue.

[2017-11-15 07:30] #201 closed

[2017-11-15 22:17] lsetiawan commented on #196
Based on conversation with Martin, The problem seems to lie on tags not being closed properly for empty attributes. For example `<qualityControlLevelCode/>` should be `<qualityControlLevelCode></qualityControlLevelCode>` for the xml to be validated. Thanks.

[2017-11-16 06:13] emiliom commented on #196
Thanks @lsetiawan. I spoke with Martin a bit about this. What we're doing is not wrong (ie, `<qualityControlLevelCode/>` is not incorrect, as demonstrated by our schema validation), but it sounds like there's a client parsing expectation on their end. Let's make sure to follow up tomorrow or next week.

[2017-11-18 22:23] emiliom opened #217 "Investigate SOAP 1.1 GetSiteInfo error with WaterML R package"
See background at https://github.com/BiG-CZ/wshp2017_tutorial_content/issues/7  Summary from there:

[WaterML R](https://cran.r-project.org/web/packages/WaterML/index.html) consumption of WOFpy SOAP 1.1 `GetSiteInfo` for EnviroDIY throws an error, whereas SOAP 1.0 `GetSiteInfo` doesn't. We don't understand it. We've examined SOAP 1.0 and 1.1 responses and may be seeing some odd things (not sure),

[2017-11-19 05:26] emiliom opened #218 "Add documentation info about installation on Apache"
@miguelcleon I'm creating this issue to track your contribution to the installation and setup doc regarding running WOFpy on Apache web server. That topic was being followed in #195 but that was a much broader issue, harder to track this specific topic.

FYI, I revamped https://github.com/ODM2/WOFpy/blob/master/docs/WOFpyODM2LBR_installation.md for [release 2.3.0](https://github.com/ODM2/WOFpy/rel

[2017-11-19 05:26] emiliom commented on #195
Closing. Created #218 to follow up on remaining to-do regarding Apache documentation

[2017-11-19 05:26] #195 closed

[2017-11-19 07:12] emiliom commented on #185
I've updated the status of the tasks.

With 2.3.0, I'm also updating the title of this issue.

[2017-11-19 07:24] emiliom commented on #128
Closing (cleaning up), finally.

[2017-11-19 07:24] #128 closed

[2017-11-27 23:04] emiliom opened #219 "Completing Luquillo CZO WOFpy endpoint integration into CUAHSI WS"
@martinseul, I'm following up on our emails last week about our common goal to identify and fix the remaining issue(s) preventing complete functioning of @miguelcleon's Luquillo CZO WOFpy endpoint in the CUAHSI Water Services. The homepage to that WOFpy endpoint is at http://odm2admin.cuahsi.org/wofpy/odm2lczo/, unless @miguelcleon has changed it. It looks like the test network page at qa-hiscentr

[2017-11-28 18:22] miguelcleon commented on #219
@emiliom yes the WOFpy endpoint homepage is still at http://odm2admin.cuahsi.org/wofpy/odm2lczo/

Is there an expectation that CUAHSI will change their parser or will @lsetiawan  change the closing tags?

[2017-11-28 20:10] emiliom commented on #219
Possibly a combination of both? But we're definitely prepared to do the latter. I'm waiting to hear from @martinseul exactly what the issues are, though.

[2017-11-29 21:51] miguelcleon commented on #219
That is a fix that they will need to implement on their side, a  fix on my side  is not easy as the app relies on a .net xml parser that I don’t control.

I can run test once their XML is updated.

Sorry if that was not clear.

[2017-11-29 22:32] lsetiawan commented on #219
Thanks @miguelcleon. I am currently looking into changing the tags to close. It seems to be complex, but I'm working on it. I'll let you know as soon as I come up with a solution. Thanks.

[2017-11-29 22:34] miguelcleon commented on #219
@lsetiawan sounds good. Thank you!

[2017-12-05 21:34] miguelcleon commented on #219
@lsetiawan any luck with this?

[2017-12-05 23:22] lsetiawan commented on #219
@miguelcleon Not yet. I won't be able to work on this until tomorrow. Thanks.

[2017-12-06 15:43] miguelcleon commented on #219
ok

[2017-12-06 17:30] lsetiawan commented on #219
Alright, so after a lot of research. It seems like the problem lies on `lxml` library actually making empty value tags into a self closing tag. For example, if `MethodLink` is a blank string `''`, wofpy actually creates an xml tag `<methodLink></methodLink>`. However, this string gets turned into an `lxml` `Element` object by Spyne. In this object, the empty value tags turned into a self-closing t

[2017-12-06 17:38] emiliom commented on #219
Thank you, @lsetiawan. I won't be able to help or comment on this until after Christmas. @martinseul and @horsburgh, can you provide input on Don's question/suggestion? Also, Don, if you can reach out to Python lxml/etree experts to see if you can find an ideal solution to this, that'd be great.

[2017-12-06 17:40] miguelcleon commented on #219
I'll email @martinseul , it's possible the space might cause a problem, but maybe not.

[2017-12-06 17:46] miguelcleon commented on #219
@lsetiawan are there cases where a self closing tag is created where a number might be expected? Or are these being generated only for charcter fields?

CUAHSIs parser might treat them different.

[2017-12-06 17:56] lsetiawan commented on #219
If a number is empty, the value getting passed is probably `None` therefore, these tags isn't even included. So i guess these are being generated only for character fields. Thanks.

[2017-12-06 18:08] miguelcleon commented on #219
Ok, I looked over some of the xml being generated by WOFpy and I didn't see any self closing tags for numbers. We can probably assume they aren't generated.

[2017-12-06 18:37] horsburgh commented on #219
This is something I've always wondered about in the implementation of WOFPy, the CUAHSI WaterOneFlow web services, and WaterML. I suspect that David Valentine may have used a convention for this in his original development of WaterOneFlow, which formed the basis for the services that CUAHSI HIS uses. For the WaterOneFlow services I am hosting, I am using the last version of code that Valentine wro

[2017-12-06 18:47] miguelcleon commented on #219
@lsetiawan you can do this:

[code]

Would that fix the problem?

[2017-12-06 18:50] miguelcleon commented on #219
@horsburgh Martin said he doesn't control the parser and can't make updates. I agree that have tags with spaces in between is not a great solution.

[2017-12-06 18:53] lsetiawan commented on #219
@miguelcleon Your solution would have to be implemented within Spyne itself which I do not have control over.

[2017-12-06 18:54] miguelcleon commented on #219
@lsetiawan right, dang, we might have to go with adding the space. I emailed Martin.

[2017-12-06 18:59] lsetiawan commented on #219
I looked at the WaterML 1.0 [GetSiteInfo Response](http://data.envirodiy.org/wofpy/rest/1_0/GetSiteInfo?site=envirodiy:160065_Limno_Crossroads), and it seems like there are some self-closing tags. This was able to be parsed by WaterML R. Though this is the REST response, I'll check and see what the actual SOAP response is.
[code]

[2017-12-06 19:27] lsetiawan commented on #219
So, looking at the response SOAP XML via suds-jurko library. It seems like the tags are actually there. No self-closing.
[code]

Python code:
[code]

I guess the xml becomes self-closing when it is REST.

[2017-12-06 20:27] miguelcleon commented on #219
Maybe we want to test adding the space between the tags? you could just create a separate branch for that. After we test that, we can try to get CUAHSI to fix the parser.

[2017-12-06 20:28] miguelcleon commented on #219
unless @lsetiawan has another idea for what to do.

[2017-12-06 23:30] miguelcleon commented on #219
From Martin:

Having spaces  is not an ideal solution but might work as a workaround for now. If you point me to a dev service I could test or you could update the service we already have and I could run some tests.
If we can isolate the problem to the tags than we can focus on this issue going forward. Could you also include a sample request for data values from wofpy there might be an additional

[2017-12-07 15:48] miguelcleon commented on #219
@lsetiawan

From Martin:

Also most of our HIS infrastructure is still based on soap.
do you have a request body as well so I can test with fiddler?

[2017-12-08 17:42] miguelcleon commented on #219
@martinseul was able to register the EnviroDIY service on http://qa-hiswebclient.azurewebsites.net/

We need to check if the metadata, database fields in download and catalog and service statistics are correct, do additional testing and evaluate performance.

@lsetiawan can you take a look? you should select the envirodiy data service. Then you can select the time series like:

![image](https://us

[2017-12-08 17:48] miguelcleon commented on #219
@lsetiawan the self closing tags are still a problem though. The EnviroDIY data doesn't include any fields that are empty, of those that end up in the XML at least. Can you confirm that? I've filled in the fields in my database that were empty so Martin can run the harvesting again and we can see if mine will work.

[2017-12-08 18:00] lsetiawan commented on #219
@miguelcleon Awesome! Yea.  I just tested it. And it works! I was able to download the actual data just fine.

I looked at the csv and xml for Beth_office temperature. I see that `sourceLink` is empty in [xml](http://data.envirodiy.org/wofpy/rest/1_1/GetValues?location=envirodiy:Beth_office&variable=envirodiy:EnviroDIY_Mayfly_Temp), and it's filled with unknown within the csv. It seems to be worki

[2017-12-08 18:50] miguelcleon commented on #219
Huh, maybe it doesn't try to ingest that field or something.

[2017-12-08 19:46] miguelcleon commented on #219
@lsetiawan do the number of records match the total in your database? It probably should match the number of records in the timeseriesresultvalues table I would think.

[2017-12-08 20:02] lsetiawan commented on #219
Unfortunately I can't check that. I don't have access to the database. Though comparing the xml response and the csv. I get the same number or record.

[2017-12-08 20:10] miguelcleon commented on #219
Ok, that should mean that HIS central ingested all of the data then.

[2017-12-08 20:18] lsetiawan commented on #219
So did they provide a fix with their parser? How did it suddenly work?

[2017-12-08 20:25] miguelcleon commented on #219
the EnviroDIY service is working and the LCZO one is still not working. I'm not sure what the difference is. My guess is that some required fields were not filled in on the LCZO service and that is the problem instead of the self closing tag being the problem. I updated some records so they would be complete. I asked Martin to re-run the harvester to see if that could be the issue.

I had a missin

[2017-12-21 16:09] miguelcleon commented on #219
@lsetiawan I'm trying to upgrade my installation to the latest release, I'm getting an error:

`NoOptionError: No option 'urlpath in section: 'WOF'`

It appears I need to add a urlpath parameter in my odm2_config_timeseries.cfg file but I'm not sure what the urlpath should be I tried a couple of things but I'm shooting in the dark. What sort of urlpath is needed? Where is a template for  odm2_conf

[2017-12-21 16:44] lsetiawan commented on #219
`URLPATH` can be anything so it's different than your network code. See https://github.com/ODM2/WOFpy/blob/master/wof/examples/flask/odm2/timeseries/odm2_config_timeseries.cfg#L4. Hope that helps! Thanks.

[2017-12-21 16:51] miguelcleon commented on #219
hmm so where I had http://odm2admin.cuahsi.org/wofpy/odm2lczo/rest_1_1/

I'd think the URLPATH would be either

`urlpath: wofpy`

or

`urlpath: wofpy/odm2lczo`

but neither worked, I get 404 errors with both settings.

[2017-12-21 16:56] lsetiawan commented on #219
When you spin it up what are all your url options? Also what port are you running this in? Are you setting up in Apache? If so, did you register that path to Apache?

[2017-12-21 16:58] miguelcleon commented on #219
I am also getting another error

Exception AttributeError: "'NoneType' object has no attribute 'py2k'" in <bound method Odm2Dao.__del__ of <wof.examples.flask.odm2.timeseries.odm2_timeseries_dao.Odm2Dao>

[2017-12-21 17:00] miguelcleon commented on #219
I upgraded the installation I had working from begore. So yes, it was setup correctly in apache.  I didn't specify a port so it should just be the http port 80, I'm pretty sure

[2017-12-21 17:01] miguelcleon commented on #219
I didn't change any of the other URL options.

[2017-12-21 17:14] miguelcleon commented on #219
My odm2_config_timeseries.cfg file looks like:
[code]

[2017-12-21 17:17] lsetiawan commented on #219
By default, wofpy maps to port 8080. Hmm...

From your config file, try uppercasing "urlpath" to "URLPATH". I don't remember if I made that case insensitive or not. Maybe change the actual value to something simpler for now to `odm2lczowofpy` or something.

[2017-12-21 17:20] lsetiawan commented on #219
I've just looked at the code real quick and indeed the settings keywords are case sensitive.

[2017-12-21 17:21] miguelcleon commented on #219
Ok, I tried it with uppercase, but I'm not getting anything different.

[2017-12-21 17:22] lsetiawan commented on #219
Is it reading the correct `.cfg` file? If you run it in development mode what happens?

[2017-12-21 17:23] lsetiawan commented on #219
Anyways, I can't spend much more time on this today. I'll be available tomorrow to troubleshoot further. Sorry. Good luck. Let me know how it goes.

[2017-12-21 23:24] miguelcleon commented on #219
No luck yet, I'm off tomorrow returning the third so this will have to wait.

[2018-02-07 17:48] miguelcleon commented on #219
I tried reinstalling wofpy now Im getting an error in spyne. @lsetiawan  any idea what to do?
[code]

[2018-02-07 17:54] lsetiawan commented on #219
@miguelcleon hmm... that's new. I'm not sure.

[2018-02-07 17:57] miguelcleon commented on #219
seems like a conda environment problem @ocefpaf ?

[2018-02-07 18:00] miguelcleon commented on #219
maybe it has to do with SSL?

[2018-02-07 18:30] miguelcleon commented on #219
I tried downgrading spyne to 2.12.11 that didn't help

[2018-02-07 19:06] miguelcleon commented on #219
OK it was an apache problem. My wsgi.py was set to the wrong application group. Making progress, now I'm getting:

[code]

[2018-02-07 19:21] emiliom commented on #219
@miguelcleon, just a heads-up: @lsetiawan and I, and even @ocefpaf, will be largely unavailable for the rest of the week, at a workshop I'm hosting here in Seattle. Don in particular probably won't have any time to do anything related to ODM2, including WOFpy, until Monday.

In the meantime, I'm glad to see you're making progress with debugging!

[2018-02-07 19:24] miguelcleon commented on #219
@emiliom ok, thanks for letting me know.

[2018-02-07 20:18] miguelcleon commented on #219
I had to do the following:

1) downgrade conda environment to python 2.7.13

2) added full path to config file in the runserver file:
[code]
Now it says the URL is not found. Something must still be wrong with the configuration.

https://dev-odm2admin.cuahsi.org/WOFLCZO/

[2018-02-07 20:26] miguelcleon commented on #219
it's working locally

[2018-02-08 21:23] miguelcleon commented on #219
I had to uncomment the line https://github.com/ODM2/WOFpy/blob/master/wof/flask/__init__.py#L51

Why is this line commented out?

WOFpy for LCZO is now up here https://dev-odm2admin.cuahsi.org/wofpy/

[2018-02-08 21:26] miguelcleon commented on #219
I changed it back to https://dev-odm2admin.cuahsi.org/woflczo/

[2018-02-12 19:20] lsetiawan opened #221 "libiconv missing from uwsgi dependencies"
I get an error when trying to deploy `wofpy` via uwsgi.

[code]

To solve this, I had to do `conda install libiconv`. Seems like this dependency is missing from `uwsgi`, should it be included in `wofpy`?

[2018-02-12 19:44] lsetiawan commented on #221
@ocefpaf Do you know if `libiconv` is included in `uwsgi` conda feedstock?

[2018-02-12 19:46] emiliom commented on #219
Darn. @miguelcleon, is this a new problem, or problems you had run into before and were unresolved? Or are you saying the HIS Central QA test system isn't working altogether (not just your endpoint)?

[2018-02-12 19:50] miguelcleon commented on #219
I'm not sure if it is a problem we ran into before. HIS central QA system (http://qa-hiscentral.cuahsi.org/testpage.aspx?n=100002) isn't retrieving siteInfo. I asked Martin for the SOAP envelope and I'm waiting to hear back.

[2018-02-12 19:51] emiliom commented on #219
I'm pretty sure you had gotten past retrieving siteInfo! But anyway ... fingers crossed.

[2018-02-12 21:12] ocefpaf commented on #221
It is the dependency of a dependency (`libxml2` I guess) .

The problem is probably a bad mix of packages from `defaults` and `conda-forge`. I believe that `defaults` does not add `libiconv` to their stack.

Maybe https://github.com/conda-forge/uwsgi-feedstock/pull/10 will fix it. (But things will only get stable when conda-forge moves to conda-build 3.)

[2018-02-12 21:26] lsetiawan commented on #221
Thanks for figuring things out 😄

[2018-02-12 22:06] emiliom commented on #221
Thanks @ocefpaf. Does this mean that it's safer for @lsetiawan to add that dependency explicitly in WOFpy requirements until conda-forge moves to conda-build 3? Or that we should wait (while crossing our fingers) to see if https://github.com/conda-forge/uwsgi-feedstock/pull/10 will take care of it?

[2018-02-12 22:11] ocefpaf commented on #221
In a way, yes :-(  b/c even with https://github.com/conda-forge/uwsgi-feedstock/pull/10, if defaults updates their version too, there will still be conda solver related problems like that and we cannot predict when `defaults` will updated.

[2018-02-12 22:13] emiliom commented on #221
Ok, thanks. So be it.

[2018-02-13 18:00] emiliom opened #224 "EnviroDIY WOFpy registration with CUAHSI data services"
This issue will be a central discussion thread for getting the EnviroDIY WOFpy endpoint fully registered and in production at the CUAHSI data services.

We'll add more background information soon.

There's relevant past discussions at this issue:
- https://github.com/ODM2/WOFpy/issues/219

cc @jcaraballo17 @aufdenkampe @lsetiawan @miguelcleon

[2018-02-13 18:03] emiliom commented on #224
ODM2 deployments (both live and sandbox) are listed here: https://github.com/BiG-CZ/bigcz_wshp2017/issues/1

[2018-02-14 22:55] miguelcleon commented on #219
From @martinseul

I checked he soap request and that fails with a 500 error;;
Request header: http://dev-odm2admin.cuahsi.org/odm2lczo/odm2lczo/soap/cuahsi_1_1/.wsdl
Request body:
<?xml version="1.0" encoding="utf-8"?><soap:Envelope
xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><G

[2018-02-14 23:03] miguelcleon commented on #219
@lsetiawan see my last comment. seems like this `<site>odm2lczo:Rio Icacos Trib-IO</site> ` was working before not sure I named the service odm2lczo though.

[2018-02-15 00:00] miguelcleon commented on #219
From @martinseul

It’s convention to include the service title for the request all WOF services work that way.

So the odm2lczo: should be accetable

[2018-02-15 15:37] miguelcleon commented on #219
Yes, OK, looks like my service name is actually woflczo so the below soap envelope works. I had changed the name, but I didn't change it on the HIS central QA system.

This one works http://qa-hiscentral.cuahsi.org/testpage.aspx?n=100005

Looks like I might need to have Martin delete the old one as I can't get it to update http://qa-hiscentral.cuahsi.org/testpage.aspx?n=100002

[code]

[2018-02-15 15:51] miguelcleon commented on #219
So things appear to be working after all. I asked @martinseul to ingest the new service.

[2018-02-15 16:44] emiliom commented on #219
Great to hear, @miguelcleon! And also a big relief. Thanks for the updates.

[2018-02-15 18:50] miguelcleon commented on #219
from @martinseul

This looks good! It harvested fine and I can see and visualize on the client. Please check it out http://qa-hiswebclient.azurewebsites.net/#

Almost there!

If you search for Luquillo you can find two time series. There should be a third at another location but that isn't showing up and I've asked Martin about that. WOFpy is pointing to a very limited database for testing.

[2018-02-16 17:01] lsetiawan commented on #221
I tried deploying `WOFpy` again with `uwsgi` and I am still getting a `libiconv` error similar to above.

[2018-02-16 17:10] ocefpaf commented on #221
That means you are using the `conda-forge` channel for deploying, right?
For Travis-CI we split the coding standards tests, that uses `conda-forge` to get those `flake8` plugins, to avoid the conflict with the `odm2` and `defaults` channels.

If you are using `conda-forge` I guess that the best solution would be to re-build the `odm2` channel inside the `conda-forge` context. If you are not using

[2018-02-16 17:17] lsetiawan commented on #221
I did this:

1. `conda create -n wofpytest -c odm2 python=2.7 --file requirements.txt --
file requirements-dev.txt`

[2018-02-16 17:19] ocefpaf commented on #221
What is your `.condarc`?

[2018-02-16 17:22] lsetiawan commented on #221
I do not have one.

[2018-02-16 17:25] ocefpaf commented on #221
Can you send me a `conda list` for that env? If you have `conda-forge` packages in there than it is related to the issue I mentioned above, if not than it is an Anaconda issue and we should report it upstream.

PS: if you do have conda-forge packages you somehow have a `.condarc` somewhere :smile:

[2018-02-16 17:34] lsetiawan commented on #221
I don't have any `conda-forge` packages within this environment. Only `defaults` and `odm2`. Should I be using `conda-forge` also? I thought I can't use all 3?

Here's my conda list:

[code]

[2018-02-16 17:37] ocefpaf commented on #221
This is what I feared :unamused:

Let me go over all the packages in `odm2` to be sure where is contamination is coming from but I think the issue is in `defaults`.

[2018-02-16 17:41] lsetiawan commented on #221
Trying to understand here. So should the `defaults` channel say `defaults` in the channel column? I don't really see anywhere that specify `libiconv` to be installed. How come when I do `conda install libiconv` things are fixed?

[2018-02-16 20:01] emiliom commented on #219
@miguelcleon It seems odd or suspicious that the Rio Icacos site only shows DO, and no temperature or conductivity. Is that what you've set up and what you expect? Just checking ...

[2018-02-16 20:09] miguelcleon commented on #219
@emiliom yeah, that is just what I put in this test database. Once the other site shows up on the test his web client I'll try a bigger database with more time series.

[2018-02-16 20:11] miguelcleon commented on #219
Rio Icacos is the site that is not showing up but it only has the one time series associated with it.

[2018-02-16 20:13] emiliom commented on #219
Ok, thanks.

[2018-02-16 20:43] ocefpaf commented on #221
Only if you have the option `show_channels true`, they decided that the implicit channel is always default :unamused:

The thing is, `uwsgi` is built against `libxml2` and at the time of the build `libxml2` from `defautls` linked `libxml2` with to `libiconv`. However, it seems that they no longer do that and `uwsgi` is broken unless you force install `libiconv`.

TL;DR we need to rebuild `uwsgi` t

[2018-02-16 20:44] emiliom commented on #221
Yup, I caught that ... I'll follow up with the ODM2 gang soon.

[2018-02-16 21:27] lsetiawan commented on #221
Thanks for the explanations @ocefpaf. That was helpful!

[2018-02-23 17:34] miguelcleon commented on #219
From @martinseul

Perhaps WOFpy should replace spaces with dashes or underscores. I'm not sure @emiliom ?

[2018-02-23 17:42] miguelcleon commented on #219
From @martinseul

Looks good, we will try a more complete database now.

[2018-02-23 20:12] emiliom opened #226 "Sanitize site codes to follow ODM 1.1.1 conventions?"
Should WOFpy sanitize site codes from source data and handle (advertise and accept) only the sanitized versions in its service endpoints?

This potential need came up in #219, in the context of the Luquillo CZO ODM2 instance, its WOFpy implementation, and registration of that endpoint with the CUAHSI water data services. Copying statements from Martin Seul (CUAHSI) and @miguelcleon:

[2018-02-23 20:15] emiliom commented on #219
Thanks for that follow up @miguelcleon. Changing WOFpy along those lines is certainly a possibility. But another parallel one is imposing constraints on ODM2 to begin with. I've opened a separate issue (#226) to discuss this.

How did you get past the sitecode bad-characters issue? Did you change the sitecode on your database, or did Martin develop mitigation steps on his end?

[2018-02-23 20:17] miguelcleon commented on #219
I just replaced the spaces with dashes.

[2018-02-26 22:15] miguelcleon commented on #219
OK, @martinseul ingested a nearly complete LCZO database 12 out of 16 sites ingested properly but a few  are erroring out. I'm not sure why. The problem would seem to be on the WOFpy side as I'm getting errors via REST. I spent some time trying to debug the problem but I haven't been able to figure it out

this site works and was succesfully ingested: https://dev-odm2admin.cuahsi.org/odm2lczo/odm2

[2018-02-26 22:20] lsetiawan commented on #219
That'd be great. Thanks.

[2018-02-26 23:05] emiliom commented on #219
That's great news, @miguelcleon!

Regarding failing sites: we know your database has idiosyncracies. Some of those may be tough to identify, and probably even tougher to address -- on your end, most likely, or via a DAO customized to your database. SO:

1. I suggest you go live with the LCZO WOFpy with the sites that work (12 out of 16 is pretty darn good!). We can't know how long it'll take us to

[2018-02-27 00:41] miguelcleon commented on #219
@emiliom OK sounds good. Yes, we have made a lot of progress. Thanks much!

[2018-02-27 00:41] #219 closed

[2018-02-27 00:46] miguelcleon opened #227 "GetSiteinfo REST error for some LCZO sites."
OK, @martinseul ingested a nearly complete LCZO database, 12 out of 16 sites ingested properly but a few  are erroring out. I'm not sure why. The problem would seem to be on the WOFpy side as I'm getting errors via REST. I spent some time trying to debug the problem but I haven't been able to figure it out

this site works and was succesfully ingested: https://dev-odm2admin.cuahsi.org/odm2lczo/odm

[2018-02-27 17:24] aufdenkampe commented on #224
@horsburgh, how can we move forward on this?
@emiliom and @miguelcleon have had success with their Luquillo CZO WOFpy registration.
It is listed on http://qa-hiswebclient.azurewebsites.net/ , but there is no service metadata or data streams.

[2018-02-27 17:24] emiliom commented on #224
There is a registered service on the test CUAHSI system, but it's not working: http://hiscentral.cuahsi.org/pub_network.aspx?n=100003

[2018-02-27 17:28] aufdenkampe commented on #224
Deadline: March 13 release of WikiWatershed, with first release of Monitor My Watershed, which we hope to use to feature EnviroDIY.

[2018-02-27 21:00] miguelcleon commented on #224
@emiliom @aufdenkampe @horsburgh on the call today I said the CUAHSI test hydroclient was erroring when searching for envirodiy data. I just noticed that it is also erroring when searching Luquillo CZO data. I tried searching some other services and they also error out. So I think something is wrong with CUAHSI test hydroclient. I will email @martinseul

[2018-02-27 21:13] emiliom commented on #224
Thanks @miguelcleon. I assume this was working fine on the Luquillo CZO last week?

[2018-02-27 21:17] miguelcleon commented on #224
Yes, it was working yesterday in fact.

[2018-02-27 21:40] miguelcleon commented on #224
from @martinseul

I'm still getting an error, I emailed him back.

[2018-02-27 22:09] miguelcleon commented on #224
@aufdenkampe @horsburgh @emiliom

It is working now. envirodiy also works, you can download envirodiy data from the QA hydroclient http://qa-hiswebclient.azurewebsites.net/ take a look.

I did get an error when downloading some time series others ones worked fine.
`
An error occured   downloading file: envirodiy-sara's_desk_at_stroud-relative_humidity.csv

`

[2018-02-28 01:41] emiliom commented on #224
Great.

[2018-03-04 00:17] emiliom commented on #224
Copying over to here the update from Yaping's email (@ypxiao):

I confirmed yesterday that the service and time series were available at data.cuahsi.org. Also, the service info page is looking nice: http://hiscentral.cuahsi.org/pub_network.aspx?n=5644

The service may not have propagated to the catalog API or the [BiGCZ portal](https://portal.bigcz.org) CUAHSI catalog service cache (updated daily?

[2018-03-05 16:59] horsburgh commented on #224
The EnviroDIY service has now been registered at HIS Central:

http://hiscentral.cuahsi.org/pub_network.aspx?n=5644

I still have some questions for fleshing out the public details page for the service:

* What logo should I use for the service? EnviroDIY or WikiWatershed?
* Do we want to customize the icon for the sites?
* What should we list for the citation for the service?
* Are there addition

[2018-03-05 21:27] emiliom commented on #224
@aufdenkampe: Data from the envirodiy service is not showing up in CUAHSI WDC searches under either the staging wikiwatershed portal or the BiGCZ portal. That means that the service is either not being advertised yet in the CUAHSI catalog API, or the wikiwatershed/BiGCZ portal is using a stale, (not updated) cache of service endpoints.

[2018-03-06 19:18] aufdenkampe commented on #224
It's been >3 days since the WikiWatershed EnviroDIY Water Quality Data Portal service (http://hiscentral.cuahsi.org/pub_network.aspx?n=5644 and http://data.cuahsi.org & search for id=5644) has been available and functioning.

Unfortunately, we still can't find any of the sites from https://portal.bigcz.org or https://staging.app.wikiwatershed.org.

@ypxiao & @emiliom, can you let us know if the Wi

[2018-03-06 21:12] miguelcleon commented on #224
@aufdenkampe @emiliom Martin had mentioned to me that service data are cached once a week, I believe on Friday, so maybe it will be updated then.

[2018-03-06 21:40] ajrobbins commented on #224
@rajadain refreshed the cache, which addressed this - services are cached for a week on staging, to avoid requesting them anew every time.

[2018-03-07 14:17] aufdenkampe commented on #224
@horsburgh, here are some responses to the web service metadata.

- Organization:
  * change from `WikiWatershed Water Quality Data Portal`
  * to `WikiWatershed`
- Title:
  * change from `WikiWatershed EnviroDIY Water Quality Data Portal`
  * to `WikiWatershed EnviroDIY Data Sharing Portal`
- What logo should I use for the service? EnviroDIY or WikiWatershed?
  * For now, let's use EnviroDIY squa

[2018-03-13 18:18] HeatherBrooks commented on #224
@aufdenkampe Combining the logos doesn't give great results ... will this work?
![logo-envirodiy-wikiwatershed-square](https://user-images.githubusercontent.com/9368629/37361482-632e833e-26c9-11e8-9ad2-e7b6caa5af46.jpg)

[2018-03-13 18:24] aufdenkampe commented on #224
That's not bad. Can we vertically compress a bit, moving both lines of text upward?
Maybe change the blues in the WikiWatershed wave to match the one in the EnviroDIY logo?

[2018-03-13 18:58] HeatherBrooks commented on #224
I don't really have the proper tools for changing the wave colors so the fine wave ends aren't changed. If the logo will be used at a smaller scale, this might work.
![logo-envirodiy-wikiwatershed-square-2](https://user-images.githubusercontent.com/9368629/37363643-cca68744-26ce-11e8-8a8f-ca53b960b4a6.jpg)

[2018-03-20 19:22] horsburgh commented on #224
@aufdenkampe - I was able to add the funding sources to the WOFPy service registration page at HIS Central. The normal "add funding sources" doesn't seem to work. Liza from CUAHSI told me that you have to add funding organizations to the underlying database, have them harvested by the metadata harvester, and then you can use the funding sources editor. But, I'm not sure how that would work because

[2018-06-17 05:22] emiliom opened #228 "EnviroDIY performance and related issues"
Compiling in one place (to make it easier to follow up) various issues and investigation that have arisen in testing **EnviroDIY WOFpy performance** on the Model-My-Watershed App.

- https://github.com/ODM2/ODM2DataSharingPortal/issues/258 Where the main relevant issues and findings have been discussed.
- https://github.com/WikiWatershed/model-my-watershed/pull/2840 PR with important discussions,

[2018-06-25 20:11] emiliom commented on #227
Going over past LCZO WOFpy issues. In case it's helpful for future follow-ups on this issue, I'm just noting here that this issue originated in the broader discussions in issue #219 (now closed for getting too broad to be useful).

[2018-08-02 14:05] aufdenkampe commented on #224
I think all this has been resolved. Thanks everyone.

[2018-08-02 14:05] #224 closed

[2018-08-07 19:16] emiliom commented on #228
### ulmo: issues to address in a PR (or more) to ulmo

- https://github.com/ulmo-dev/ulmo/issues/155 Issue submitted to ulmo with clear description of recommended enhancement to WOF reader: "need to specify a custom timeout (as opposed to the default 90s). suds-jurko supports timeouts for both the http and https modules. It would be great if they could be surfaced in the Ulmo API, just as caching

[2018-12-04 06:53] emiliom opened #231 "Python 3"
- See PR #230 (11/28/2018)
- Release [v2.1.0b0](https://github.com/ODM2/WOFpy/releases/tag/v2.1.0b0) included a number of Py3 cleanups ("py3k & pep8 code cleanup (though not supporting py3k yet)").

[2018-12-04 07:03] emiliom opened #232 "ODM2 Measurement Results DAO"
- See PR #230 (11/28/2018), based on measurement results in the Luquillo CZO ODM2 (ODM2 Admin) database. [ODM2 measurement results DAO ("example").](https://github.com/ODM2/WOFpy/tree/master/wof/examples/flask/odm2/measurement)
- Issues arising from measurement results in that database came up in previous issues:
  - #227
  - #219
  - #73

[2018-12-04 21:39] emiliom commented on #231
WOFpy is one ODM2 package that should (I think) be ported over to Python 3 only, having no compelling reason to maintain Python 2.7 support. I can elaborate on this later.

As a helpful contrast, I don't think we can say the same thing about `odm2api`. We probably want to maintain Py2.7 support in `odm2api` after we add Py3 support.

[2019-01-02 19:57] emiliom opened #233 "Sphinx docs reactivation, overhaul"
Time to overhaul the Sphinx docs. This will involve a substantial update and reorganization, including:
- Ask Don for help
- (Re)activate CI to build the Sphinx docs, but targeting github-hosted docs rather than the old http://pythonhosted.org/WOFpy
- Include use of markdown files, to make it easier to edit content

## Documentation files, documents
- https://github.com/ODM2/WOFpy/tree/master/docs

[2019-01-03 20:56] lsetiawan commented on #233
## Replying on your email

I'm not sure how this would work with the auto doc and such. I think sticking with just reST would be best. You might want to consult with Filipe on this one. I remember him advising me against it before.

That's a good start. I think as long as you follow the docs folder structure and make sure you have similar code within the travis yaml, this should work.

[2019-01-03 21:36] emiliom commented on #233
Ok, sounds good. No markdown.

:+1:

[2019-01-07 21:41] emiliom commented on #228
Submitted ulmo PR with the two updates involving waterml parsing and wof/suds timeout, https://github.com/ulmo-dev/ulmo/pull/165

[2019-01-14 18:44] emiliom commented on #233
@lsetiawan Have you had some time to think about whether, and possibly when, you'd be able to help with this? No pressure! I'd just like to know what you've decided, to help me plan.

FYI, I've started to do WOFpy testing and development, after wrapping my brain around how WOFpy works, the flow from a request to a response, etc. Fun :smile_cat:

[2019-01-21 21:19] emiliom commented on #228
Link to the Python code in the MMW client that handles querying and reading CUAHSI HIS data services: https://github.com/WikiWatershed/model-my-watershed/tree/develop/src/mmw/apps/bigcz/clients/cuahsi ulmo WOF access is done [here](https://github.com/WikiWatershed/model-my-watershed/blob/develop/src/mmw/apps/bigcz/clients/cuahsi/details.py)

[2019-01-25 19:16] emiliom commented on #233
This comment from @ocefpaf isn't really about Sphinx, but I wanted to capture it here for my own reference:

[2019-01-25 19:59] lsetiawan commented on #233
Darn, I did not see this tag :disappointed: Sorry for not being able to assist with this overhaul. Been quite busy lately with short deadlines and lots of requests!

[2019-01-25 20:06] emiliom commented on #233
No worries @lsetiawan. I figured you were very busy with your day job. Plus, @ocefpaf has extra time on his hands, due to IOOS and the federal shutdown ...

Sphinx is *almost* ready to go! @ocefpaf is dealing with -- hopefully -- the last glitch.

[2019-01-25 20:15] emiliom commented on #233
See PRs #234, #235, #236 (but this one is mainly about Travis-CI and coding standards)

[2019-01-25 20:22] lsetiawan commented on #233
Can't wait to see the public docs! :smile:

[2019-01-25 21:38] emiliom commented on #233
Woo-hoo! http://odm2.github.io/WOFpy/

Thanks so much, @ocefpaf!!

[2019-01-29 20:42] emiliom commented on #233
@ocefpaf, would it be a major effort to port the WOFpy sphinx docs to the Alabaster theme used by the other ODM2 software (eg, http://odm2.github.io/ODM2PythonAPI/)? I'm mainly looking for a consistent look and feel. Also, eventually I'd want to enable the module navigation available on the odm2api Sphinx, but I have a hunch that configuring that is much more involved.

I'm not in any hurry on eit

[2019-01-29 22:00] ocefpaf commented on #233
In theory no, it should be trivial. In practice... Only the Gods would know. I'll give it a try Thursday. (I'll be away tomorrow.)

:+1: (You may look into adding the ODM2 logo like we did for `ODM2PythonAPI`.)

The steps are:
- install the Alabaster [1] theme and;
- change the theme in the `conf.py` file [2].

One roadblock I can imagine is that the WofPy's conf file is old and we may need to re-

[2019-01-30 01:49] aufdenkampe commented on #233
Let's hold off on redoing the look and feel. I've been thinking of redoing the main ODM2 site in Jekyl, and potentially changing the look and feel, given that it's colors don't work well with colors in our ODM2 logo. I actually was thinking of mirroring the bigcz.org<http://bigcz.org> look and feel.

Sent from my iPhone

On Jan 29, 2019, at 6:06 PM, Emilio Mayorga <notifications@github.com<mailto:

[2019-01-30 02:21] emiliom commented on #233
Thanks for chiming in, @aufdenkampe. But keep in mind that we're talking about Sphinx software docs here. That's completely independent of any Jekyll theme you may do at odm2.org. You can see the theme we settled on over a year ago (by default) at http://odm2.github.io/ODM2PythonAPI/ No one would have the time or resources (= money) to tweak a Sphinx theme to make it match a Jekyll theme.

So, wha

[2019-01-30 16:36] aufdenkampe commented on #233
Ah, the dangers of responding to emails and GitHub issues from a phone! Somehow the full url of  odm2.github.io... wasn't visible, so I mistakenly presumed you were talking about emulating the look and feel of https://odm2.github.io/www.odm2.org, which redirects to http://www.odm2.org. All that is presently done in straight-up HTML, and not easy for our team to collectively update, etc. I'm aware

[2019-01-30 18:17] emiliom commented on #233
Yikes! I'm glad that was just a misunderstanding :smile:

Actually, it's much more than a simple update! The Sphinx doc system had never been reactivated since the ODM2/BiGCZ gang took over WOFpy development. SDSC had updated some of the .rst files, but the actual web-browseable (HTML) Sphinx docs had not been generated. @ocefpaf has activated it, enabled its deployment in github as http://odm2.gi

[2019-01-30 19:52] aufdenkampe commented on #233
Yes, indeed. It's clear your update is really more of a massive overhaul. Thank you for undertaking the big effort to take full ownership of the docs and auto-link them to the code via Sphinx.  I definitely see the exceptionally valuable benefits of that. Thank you.

We are also definitely on the same page regarding the benefits of unifying the theme with our other ODM2 Sphinx documentation, espec

[2019-02-06 18:23] emiliom commented on #228
For reference re: database optimization strategies to explore: https://github.com/ODM2/ODM2-performance-optimization/issues/7

[2019-02-06 18:25] emiliom commented on #228
Regarding https://github.com/ODM2/WOFpy/issues/228#issuecomment-452091892: my ulmo PR (plus many others) has been merged into ulmo master. A new release is being prepared, and will almost certainly be ready by mid February. A new conda package will be created on conda-forge immediately after.

[2019-02-06 18:44] aufdenkampe commented on #228
@emiliom, thanks for moving the Ulmo PR forward into an upcoming Ulmo release. That is awesome.

[2019-03-25 22:19] emiliom commented on #228
We've issued a new **ulmo** release, 0.8.5, with all recent bug fixes and improvements, including the ones discussed in this issue. It's available on conda-forge and pypi.

[2019-04-25 11:10] aufdenkampe commented on #231
@emiliom, I fully support this migration sooner than later to support our need to migrate the Monitor My Watershed implementation of the [ODM2DataSharingPortal](https://github.com/ODM2/ODM2DataSharingPortal) to Django 2.x, which requires Python 3. See https://github.com/ODM2/ODM2DataSharingPortal/issues/381.

@miguelcleon, how have you integrated WOFpy with ODM2Admin deployments since you upgraded

[2019-04-25 12:20] miguelcleon commented on #231
I've been using my own fork with python 3. I added a pull request with my changes, Emilio wanted me to break up my changes into two pull requests because it also includes changes to allow ODM2 measurement results to be served succesfully which really wasn't working. I haven't had time to do that. Here is the PR https://github.com/ODM2/WOFpy/pull/230

[2019-04-25 15:15] aufdenkampe commented on #231
@miguelcleon, thanks for that reminder!

[2019-04-25 16:06] emiliom commented on #231
@aufdenkampe please look over the discussion at PR #230, specially [my assessment](https://github.com/ODM2/WOFpy/pull/230#issuecomment-444238806) of the PR.

As it stands the PR is too complex and has some serious issues (unless those were fixed by @miguelcleon's latest commits, from March) that prevent merging. But please head over to the PR to discuss the PR.

@aufdenkampe see also the discussio

[2019-06-25 18:37] emiliom opened #237 "yaml dependency problem"
I'm running into a strange problem with the yaml package, when creating a conda environment for wofpy. Hopefully this problem will be familiar to you (I'm guessing it's not specific to wofpy).

I've created a wofpy conda env the usual way:
`conda create -n wofpy -c conda-forge python=2.7 wofpy`

yaml is installed:
[code]
But import yaml produces the error "ImportError: No module named yaml".

I tr

[2019-06-25 18:38] emiliom commented on #237
From @ocefpaf:

The yaml package is not a python package and we need to fix the wofpy
dependency declaration.
That is the C yaml, see
https://github.com/conda-forge/yaml-feedstock/blob/master/recipe/meta.yaml

What you want is pyyaml. I'll send a PR to fix the package.

[2019-06-25 18:39] emiliom commented on #237
From @ocefpaf:
On second thought yaml/pyyaml does not depend on yaml at all.
Only one example uses it but that is not core code.

[2019-06-25 18:40] emiliom commented on #237
@ocefpaf, since it turned out to be a problem with wofpy directly, I've opened this issue and copied over our exchanges so far. Thanks again!

[2019-06-25 18:58] ocefpaf commented on #237
`yaml`, via `pyyaml`, is only imported in https://github.com/ODM2/WOFpy/blob/8427e345e0853a9ea429f53a4fff115f5f90730c/wof/examples/flask/odm2/timeseries/odm2_timeseries_dao.py#L7, and that is an example, not core code. If `yaml` is really needed to run `WOFpy` it is an indirect dependency then, is that correct?

[2019-06-25 19:16] emiliom commented on #237
It's correct that `odm2/timeseries/odm2_timeseries_dao.py` is not part of the core WOFpy, strictly speaking. But it's more than an example. It's the template "Data Access Object" (DAO) for reading an ODM2 timeseries database, where ODM2 is our primary target for WOFpy. Also, that same code should eventually be added to https://github.com/ODM2/WOFpy/blob/8427e345e0853a9ea429f53a4fff115f5f90730c/wof

[2019-06-25 19:59] ocefpaf commented on #237
Not directly but that should be update first, then a new release, than a conda package update to keep things consistent.

[2019-06-25 20:03] emiliom commented on #237
Ok. For now I'm able to get past this problem by simply installing `pyyaml`. There are other changes to WOFpy that I already have on my local clone, and a few more coming. I'll plan on sending a PR to update `setup.py` in the next few days, but I'll wait a while (couple of weeks) before issuing a new release.

[2019-08-04 19:55] emiliom opened #239 "CUAHSI CV 1.1 web service is down, impacts ODM2 timeseries DAO"
See PR #238

And the [Travis-CI errors.](https://travis-ci.org/ODM2/WOFpy/jobs/567483096#L1691)

[2019-08-06 19:34] martinseul commented on #239
Hi Emilio,
am i understanding correctly that you have problems with the cv hosted here http://his.cuahsi.org/mastercvreg/cv11.aspx . I did move the hosting to a different machine to consolidate our infrastructure and thought all was working well... I did check again and had to change one additional setting. Would you please conform if all is working correctly for you now.

Sorry for the inconvenie

[2019-08-06 20:28] emiliom commented on #239
Hi Martin. Wow, I'm really impressed that you found this github issue that I created just 48 hours ago! It was more of a reminder to me to follow up later. Thanks so much for taking the time to follow up.

The SOAP CV service we've been using has this WSDL end point: http://his.cuahsi.org/odmcv_1_1/odmcv_1_1.asmx?WSDL. Except for the `?WSDL` parameter, that's the url still listed at http://his.cua

[2019-08-07 15:43] martinseul commented on #239
Hi Emilio,

I was working on the migration last week so I picked this one up. I think I did find the problem and fixed it. Please check and let me know if the problem persists.

Thanks
Martin

[2019-08-07 17:07] emiliom commented on #239
It works now. Thanks so much, Martin!

[2019-08-07 17:07] #239 closed, assigned to nobody