[2015-09-30 18:46] valentinedwv opened #1 "Update WaterML 2 output"
Think this file is the transformation:
WOFpy/blob/master/wof/flask/templates/wml2_values_template.xml

[2015-09-30 18:57] valentinedwv opened #2 "WOF 1.1"
Add WaterOneFlow 1.1 and WaterML 1.1 as a soap interface.

Tasks (not necessarily in order) :
* add wof11_temp.wsdl to WOFpy/wof/flask/templates
* add/update rest and wsdl classes. Rest should update paths to 1_0 and 1_1
** /soap/wateroneflow_1_1.wsdl
* implement core objects with a 1.1 flavor
* add 1.1 features to the 1.0 model (or can we just add a 1.1 class that extends WOFpy/wof/models.py

[2015-10-02 18:53] valentinedwv opened #3 "Automatic run of Soap and Rest Services Multiple Service Helper class"
examples/runserver_multiple.py
includes the ability to run multiple sources and multiple servers (rest/soap)

Create a helper class to create multiple data sources server based on a configuration file (it could point to other config files).
This will greatly help with CZOData configurations.

[2015-10-02 18:54] valentinedwv opened #4 "Test soap interface"
Example is here:
http://water.sdsc.edu/lbrsdsc/

use SOAPUI to test
localhost:8080/soap/wateroneflow.wsdl

Future:
localhost:8080/soap/wateroneflow_1_1.wsdl

[2015-10-02 18:55] valentinedwv commented on #1
Template updated.
Once validated we will close

[2015-10-02 20:19] emiliom commented on #4
Dave, is this test running WOFpy on top of the USU-LBR **ODM2** database?? I'm just curious; if it is, that's really cool!

[2015-10-02 20:42] valentinedwv commented on #4
yes.
Choonhan has (had) it working over an ODM2.
I borked it when I started to adding WaterML 1.1

Discovered SOAP instances were not being initialized so that's why CUAHSI did not like it

[2015-10-03 21:14] emiliom commented on #3
FYI, I don't know about examples/runserver_multiple.py, but I can vouch that the WOFpy adaptation that Stroud has been running for a while does have REST and SOAP services. @SRGDamia1 can describe that, if needed. You can see sample (but live) REST requests from the Stroud server at
http://71.185.29.35:8080 and the WSDL at http://71.185.29.35:8080/soap/wateroneflow.wsdl. I think that REST and SOAP

[2015-10-03 21:15] emiliom commented on #4
Thanks. I'm no SOAP expert, so I don't fully understand what you're describing; but I don't remember running into any problems consuming WOFpy services using SOAP, with both suds or ulmo (which uses suds). Could you explain this a bit:

or point me to an explanation online? That'd be helpful to me. Thanks.

[2015-10-04 19:52] valentinedwv commented on #3
You using the soap interface for the calls?
Just because the wade,is there, does not mean the soap interface is initialized.

Sent from my iPad

[2015-10-05 05:59] emiliom commented on #3
Yeah, the soap interface. AFAIK, ulmo [initializes the soap interface](https://github.com/ulmo-dev/ulmo/blob/master/ulmo/cuahsi/wof/core.py).

But no worries. I was just curious.

[2015-10-05 16:16] valentinedwv opened #5 "SOAP WOF1_0 GetSites/GetSitesXML fails with no sites"
NoneType' object has no attribute 'export'
or iteratable in GetSitesXML

Issue resolved by

[2015-10-05 16:17] valentinedwv commented on #5
I fixed soap interface with “core” with “waterml1.0”.
In the “soap.py”, I added it below into two functions (GetSites, GetSitesXml).
Actually, it was due to the processing of input parameters.

Thanks,
Choonhan Youn

if site is not None:
    siteArg = ','.join(str(s) for s in site)
else:
    siteArg = None

[2015-10-05 16:17] #5 closed

[2015-10-05 16:19] valentinedwv commented on #4
I assumed it was soap no initialized, it was actually, bug.
GetSites/GetSitesXml broken.
Rest Interface no sites, works.
Soap interface, no sites returned an error

[2015-10-05 16:26] emiliom commented on #4
Great. So that means that wasn't the reason CUAHSI HIS Central hasn't liked WOFpy endpoints?

[2015-10-05 17:10] valentinedwv commented on #4
.
Not being able to get a list of sites would probably stop them
harvesting...

On Mon, Oct 5, 2015 at 9:26 AM, Emilio Mayorga <notifications@github.com>
wrote:

[2015-10-06 15:03] SRGDamia1 commented on #3
I definitely didn't create the SOAP interface myself.  I'm pretty sure it came from WOFpy.  It's possible that Justin set it up when he was working on it two years ago, but I don't think so.

[2015-10-06 15:19] valentinedwv commented on #3
Can you send the run server file that being used
Direct email...

Sent from my iPad

[2015-10-06 16:31] valentinedwv commented on #3
Ignore.
The Core.WOF.createWofApp takes care of this.
def create_wof_app(dao, config_file):
    """
    Returns a fully instantiated WOF wsgi app (flask + soap)
    """

[2015-10-06 16:34] valentinedwv opened #6 "SOAP GetSites/GetSitesXML error when site does not exists."
If the site does not exist, or if the site is EmptyString, I still get a
'NoneType' object
Just return message 'Site Not Found'

[2015-10-06 16:40] valentinedwv commented on #3
Reopened to make it simpler to create a multiple datasource server.

[2015-10-06 17:49] cdesyoun commented on #6
David, Instead of "<site/>" tag which I did make first, I  put exception error containing the below message.
How about this?

   <senv:Body>
      <senv:Fault>
         <faultcode>senv:Server</faultcode>
         <faultstring>Site Not Found</faultstring>
         <faultactor/>
      </senv:Fault>
   </senv:Body>

[2015-10-06 21:19] valentinedwv opened #7 "Issues with Array of Site in GetSites"
@soap(Array(String), String, _returns=Any)
        def GetSites(self, site, authToken):
I think this should actually be Class(Site), with site defined as Array(String)

Error is that soap call with array of strings sees the comment:
[code]

 In soap UI if I send this:

[code]

I get this:

[code]

[2015-10-06 21:19] valentinedwv commented on #7
low urgency, since call can work, without this.

[2015-10-06 21:23] cdesyoun commented on #7
Yes, I noticed it. I don’t know why soap UI delivered this comment, ```"<!-- Zero or more repetitions: —>”``` on request.
When removing it, in this case, entire site information is returned.

[2015-10-07 19:32] valentinedwv opened #8 "ODM2: GetSiteInfo"
Works with
*SDSC:LR_TWDEF_C*

fails with:
*SDSC:OBI*
[code]
Is this because this is a measuement site, or other reason?

[2015-10-07 19:51] valentinedwv opened #9 "WSDL Wof1_0 QualityControlLevelID wrong cased"
QualityControlLevelID
should be lover case.
WaterML output is lower case, WSDL has it as upper case.

[code]

[2015-10-07 19:57] valentinedwv opened #10 "ODM2 No EndDateTime for series"
endDateTime required.
For Timeseries TODAY ok.
 One Measurement make same as begin
(there are other TimeIntervalTypes we can use.

[code]
should be
[code]

[2015-10-07 20:09] emiliom commented on #8
A couple of things are probably going on here. Obi is a Site SamplingFeature (SF) in my "Marchantaria" use case. The Marchantaria dataset uses Site and Specimen SamplingFeatures, and both of those are being [exposed via the GetSites request](http://sis-devel.cloudapp.net:8080/GetSites); eg, compare the `GetSites` responses for the [Marchantaria Site SF (SDSC:march)](http://sis-devel.cloudapp.net:8

[2015-10-07 20:13] valentinedwv opened #11 "Example CSV model bad iso date"
Example CSV model producing invalid dateTime, no seconds

class Series(wof_base.BaseSeries):
    # Properties common to all series in this example
    BeginDateTime = '2008-01-01T00:00-06
    EndDateTime = '2008-04-30T00:00-06'

Needs to be:
  # Properties common to all series in this example
    BeginDateTime = '2008-01-01T00:00:00-06:00'
    EndDateTime = '2008-04-30T00:00:00-06:00'

[2015-10-07 20:15] #11 closed

[2015-10-07 20:18] valentinedwv commented on #8
For WOF, only sites with Results need to be exposed in GetSites, and GetSiteInfo.

[2015-10-07 20:22] emiliom commented on #8
Yes, but for-specimen based measurement results, just keep in mind that Sites may be associated with results via the parent-child Site > Specimen relationship. If that's what you meant, we're on the same page.

[2015-10-07 22:03] cdesyoun commented on #9
David, In the file, "wsdl_temp.wsdl", it changed from
[code]
to
[code]

[2015-10-07 22:12] cdesyoun commented on #10
David, in ODM2, I took this data from the "Actions" table. In this case, "endDateTime" is optional.
When I looked at "WaterML.py", in the class, "class TimeIntervalType(TimePeriodType):", if there are no existed for "beginDateTime" and "endDateTime", they are not displayed.

[2015-10-07 22:15] cdesyoun commented on #11
Yes, When testing this example before, I got the error for the time format.
I updated it now.

[2015-10-08 01:43] cdesyoun commented on #8
In order to get site information with sampling features for marchanteria datasets, when querying sites with samplingfeatures, I joined "relatedfeatures" table which Emilio described before. In this table, all of sampling features point to one related sampling feature which has a site information.
As Emilio mentioned above, all of sampling features do not have results yet.
So, do you want to just s

[2015-10-08 17:00] horsburgh commented on #8
I think we will quickly get to the point with WOF and WaterML 1.1 on top of ODM2 that we will see limitations with respect to representing the metadata for specimen-based data.  Do we want to just limit WOF for ODM2 to deliver only Time Series Results?

[2015-10-08 17:05] klehnert55 commented on #8
I think that would be most reasonable.

On 10/8/15 13:00 PM, Jeff Horsburgh wrote:

--
Dr. Kerstin Lehnert
Director, Interdisciplinary Earth Data Alliance
Director, EarthChem
President, IGSN e.V.

Lamont-Doherty Earth Observatory
Columbia University
Palisades, NY, 10964
(845) 365-8506
http://www.iedadata.org
http://www.earthchem.org
http://www.igsn.org

[2015-10-08 17:06] klehnert55 commented on #8
We should take a look at the EarthChemXML if it is at all helpful for
exchange of sample-based data.

On 10/8/15 13:00 PM, Jeff Horsburgh wrote:

--
Dr. Kerstin Lehnert
Director, Interdisciplinary Earth Data Alliance
Director, EarthChem
President, IGSN e.V.

Lamont-Doherty Earth Observatory
Columbia University
Palisades, NY, 10964
(845) 365-8506
http://www.iedadata.org
http://www.earthchem.org
htt

[2015-10-09 16:11] emiliom commented on #8
Absolutely, @klehnert55!
But that discussion should be started as a separate github issue, even a separate github repo or an initial email and/or phone discussion. If we go too far addressing that topic in this specific github issue (and [github repo](https://github.com/ODM2/WOFpy)) that's all about WaterOneFlow, it'll get diluted.

[2015-10-09 16:19] valentinedwv opened #12 "Add additional ouput formats"
EarthChemXML
WQX

Prototype OGC hydrodomain working group Water Quality Standards

Dependency: switching to spyne

[2015-10-09 16:21] valentinedwv opened #13 "Switch from soaplib to spyne"
soaplib no longer maintained.
fork is spyne with which will get us the ability to use other server stacks and protocols (although not soap 1.2).

https://github.com/arskom/spyne

[2015-10-09 16:31] emiliom commented on #8
@horsburgh said:

That's a reasonable, pragmatic and probably wise approach to follow initially.

In practice, it will mean that my Marchantaria use case will be excluded. That's fine. Once we work out all kinks with Time Series Results for ODM2 WOF, maybe we can revisit Marchantaria and similar use cases currently present in CZO Central ODM 1.x databases, mostly consisting of semi-regular water c

[2015-10-09 16:35] emiliom commented on #12
But is that in the scope of a WOF server? Maybe you're a few steps ahead and are thinking of generalizing WOFpy to serve different types of request protocols and response encodings?

[2015-10-09 16:52] valentinedwv commented on #12
right move to WS.

[2015-10-09 16:52] #12 closed

[2015-10-09 16:57] valentinedwv opened #14 "WaterML 1.0 validation errors"
Some of the vocabs are controlled, so we will need to do some mapping/simplifying of output to match them

This changes in WaterML 1.1, where vocabs are unioned with string (aka open-ended).

[2015-10-09 17:19] valentinedwv commented on #10
endDateTime required for waterML 1.x (Based on requests for users/developers)

For Timeseries TODAY ok, if it is not there. Ideally, it would be last measurement, so maybe an SQL script for timeseries.

For Measurements, it can be degenerate (aka same start/end time).

so perhaps a an method in core to abstract and produce a WaterML.TimeIntervalType and replace line 480+

        #TimeInterval

[2015-10-09 17:25] valentinedwv commented on #8
Choonhan/Stephanie,
If sites and specimens inherit from SamplingFeature, rather than base does one get the appropriate feature?

[2015-10-09 18:38] cdesyoun commented on #10
In the "core.py", I added these codes below:

[code]

[2015-10-09 21:17] cdesyoun commented on #8
David, @valentinedwv I am not sure what you mean. Sites, Specimens, and SamplingFeaturess(SF) have the primary key as the sampling feature id. Depending on the relationship, I think one can have the appropriate feature.

Emilio, @emiliom, I updated with your suggestions for marchanteria data into test site.
Since there is only one site as the parent sampling feature, the res of child sampling feat

[2015-10-09 22:43] emiliom commented on #8
@cdesyoun, thanks! Just be aware that it's possible you're hard-wiring some assumptions based on my use case, which may not be true for other Measurements-based use cases. But if that works for you in terms of getting the WOFpy-ODM2 adaptation going, that sounds good.

I tried the REST endpoint. I can get to http://sis-devel.cloudapp.net:8080, but from there, the service requests are very unstable

[2015-10-09 22:55] cdesyoun commented on #8
Emilio, @emiliom , I am so sorry for this trouble. It is my mistake for misconfiguration for the database.
Now it is OK for running the server. Please review it again.

[2015-10-09 23:03] cdesyoun commented on #8
In addition, for the jeff's multiple time series data, site-samplingfeature code is "LR_TWDEF_C", and variables are "AirtTemp_Avg", "AirtTemp_Min", "AirtTemp_Max".

[2015-10-09 23:05] cdesyoun commented on #8
For machantaria data, I did query measurement result values with related features if there are no data values when querying measurement result value with sampling feature.

[2015-10-09 23:22] emiliom commented on #8
Perfect. Now all responses are fast, and I haven't gotten any failures. Thanks. Unfortunately, I don't think I'll be able to spend more time on this today. I already have a couple of comments, but I'll wait until I have more time to review this, early next week.

Thanks for the info on Jeff's time series. Great. GetSites does, in fact, return only two sites (ODM2WofPy:march and ODM2WofPy:LR_TWDEF_

[2015-10-09 23:25] cdesyoun commented on #8
Great! Yes, I am using the sample ODM2 database for both services on the back end.

[2015-10-10 01:02] valentinedwv commented on #8
Thinking modifying the 'model' to use inheritance

Sent from my iPhone

[2015-10-11 23:27] emiliom commented on #2
@cdesyoun and @valentinedwv, do you have a rough estimate when WOF 1.1 and WaterML 1.1 might be ready? No rush, just want to have some idea, to plan my testing. Thanks. Great to see all the progress!

[2015-10-12 07:32] emiliom opened #15 "Mapping of ODM 2 variables+units+sampledmedium concepts to ODM 1 variables"
Examining the [ODM2 WOFpy test endpoint](http://sis-devel.cloudapp.net:8080/), I've noticed that the treatment of "variables" in a WOF response (which should match the [ODM1 concept of variables](http://his.cuahsi.org/odmdatabases.html), as found in its Variables entity) from an ODM2 database needs refinement. Despite the similarities in names and carrying over a lot of the variable name vocabular

[2015-10-12 07:45] emiliom commented on #15
To follow up with SQL code, first I created a view (FYI, as a [materialized view](http://www.postgresql.org/docs/current/static/sql-creatematerializedview.html), for speed) that's probably fairly close to the ODM2REST API concept of "Observations". I've pasted the SQL code for this `observations_mv1` view at the bottom, for reference.

Then, I use the `observations_mv1` view to bring in fields fro

[2015-10-12 07:58] emiliom opened #16 "Extract correct datetime range from Measurement Results, across specimens"
@cdesyoun, in [your implementation of querying "measurement result values with related features if there are no data values when querying measurement result value with sampling feature like time series data"](8#issuecomment-147007786), there's a problem with the datetime range (start and end) you're extracting. The start and end datetimes are always identical. It looks to me like you're taking the

[2015-10-12 18:23] valentinedwv commented on #15
Thanks.
Choonhan, can we look into how to do this as an object, then see if it fits into the ODM2API.

[2015-10-14 20:31] emiliom commented on #2
So, any rough idea of when WOF 1.1 and WaterML 1.1 might be ready?

[2015-10-14 22:41] cdesyoun commented on #16
Emilio, it is very useful to understand the marchantaria time series data for the implementation.
I think I fixed it on my development.

[2015-10-14 22:47] cdesyoun commented on #15
Emilio, it also very useful information. David and I discussed about your dataset for the implementation. Based on these comments, currently we have focused on specimen measurement data use case rather than time series data.
With WaterML1.1, we will release new version of WOFpy services for this datset tomorrow some time.

[2015-10-14 22:48] cdesyoun commented on #2
Emilio, I will try to release it tomorrow.

[2015-10-15 05:58] emiliom commented on #15
Thanks, Choonhan. I'm glad the data use case continues to be useful.

While my data use case is much like the time series data WOF & WaterML 1 are optimized for, @horsburgh was absolutely right that we should focus on time series first. Once you start looking at other specimen-based use cases, you'll find that they can be very diverse and can quickly break the capabilities of WaterML 1. So I recom

[2015-10-15 12:45] valentinedwv commented on #15
Waterml 1.1 should work for all data access objects(doa), although others will need a bit of validation.

first in, first out. odm2 wofpy doa is evolving into two data access objects: measurements and time series, with plans for others as we get example databases. This will better allow for agile improvements to the specimens cases.

[2015-10-15 19:12] emiliom commented on #15
@valentinedwv, are you saying that's now ready and accessible on the test service? If so -- Terrific! And, Issue #2 can be closed.

Sounds good. Support for Measurements will inevitably have limits, though, b/c of the nature of WOF & WaterML 1. Getting the (sensor-based) Time Series Result type and to a lesser extent the "time-series-like" Measurement Result type in top shape first will be really

[2015-10-15 19:16] emiliom commented on #2
Have you pushed all updates to the github repo? It doesn't look that way. The [commits history](https://github.com/ODM2/WOFpy/commits/master) shows only one commit, a week ago, since the repo was forked. ie, one commit since 2011.

[2015-10-15 21:00] cdesyoun commented on #2
Emilio, I pushed all updates.

[2015-10-15 21:01] emiliom commented on #2
Great, Thanks!

[2015-10-15 21:03] cdesyoun commented on #15
Emilio, I released WOFpy 1.0 and WOFpy 1.1 through other email.

[2015-10-15 21:08] emiliom commented on #15
Yes, I saw that. Thanks!!

[2015-10-15 22:13] valentinedwv commented on #1
Validation notes 2015-10-15:
Top 2 Codebase changes:

Description: cvc-datatype-valid.1.2.1: 'FPOC::12-Liquid aqueous' is not a valid value for 'NCName'.
These codes are internal to the document, so any old thing is good:
<gml:Definition gml:id="FPOC::12-Liquid aqueous">

Description: cvc-pattern-valid: Value 'mass %' is not facet-valid with respect to pattern '[^: \n\r\t]+' for type 'UomSymbol'.

[2015-10-15 22:17] #6 closed

[2015-10-15 22:17] valentinedwv commented on #4
Tested 1.1 on Oct 15. Comments sent direct.

[2015-10-16 05:11] cdesyoun commented on #4
I fixed them.

[2015-10-16 05:34] cdesyoun commented on #1
David, I think this template is not complete. We need to work on this. And in this template, I think the variable code that consists of three discriminators will be fixed, taking only the variable code.
First, can you work on this template? And then I will edit some elements.

[2015-10-20 22:23] valentinedwv commented on #14
These need to match the vocabularies in the 1_0 schema, or be set to unknown:
Can we def these to be some function?

line 35: string value 'Chemistry' is not a valid enumeration value for dataTypeEnum in namespace http://www.cuahsi.org/waterML/1.0/

line 36: string value 'Liquid aqueous' is not a valid enumeration value for SampleMediumEnum in namespace http://www.cuahsi.org/waterML/1.0/

line 37:

[2015-10-20 22:23] valentinedwv commented on #14
remove the empty metadata
line 16: Attribute not allowed (no wildcards allowed): siteUsesDaylightSavingsTime in element timeZoneInfo@http://www.cuahsi.org/waterML/1.0/

[2015-10-29 22:45] valentinedwv opened #17 "Helper class for URL location of running services"
The classes to run a server all have similar code, If we add features, these will get lost.
Can we add a helper class to figure out what is running in the flask examples, and output the text.

[code]

[2015-10-30 00:37] #9 closed

[2015-10-30 17:46] valentinedwv commented on #3
preparation for this. Paths are now based on the network name.
changeset: e0151a705eb63c6b635d1367c724f1945dfa43ce

[2015-10-30 17:47] valentinedwv commented on #13
Completed.
Closes a couple of issues where comments in soap messages were parsed incorrecly

[2015-10-30 17:47] #13 closed

[2015-10-30 17:48] valentinedwv commented on #2
Implemented.

[2015-10-30 17:48] #2 closed

[2015-10-30 17:48] valentinedwv commented on #7
Fixed by moving to spyne.

[2015-10-30 17:48] #7 closed

[2015-10-30 17:49] #10 closed

[2015-10-30 17:50] valentinedwv commented on #4
Completed.
Need to see if we can register a waterml 1.1 endpoint with cuahsi. any volunteers

[2015-10-30 17:50] #4 closed

[2015-10-30 18:43] valentinedwv opened #18 "WaterOne Flow 1_1 get values breaks with 1.0 DAO"
Catch unimplemented errors from 1.0 DAO to allow for basic 1.1 output.

Document attribute a minimal DOA to get basic WOF 1_0 and WOF 1_1 (GetSites, GetSiteInfo, GetVariables (work), and Getvalues)

Be sure the basic 1.0 DAO code will produce 1.1 output for GetSites, SiteInfo, Variables (work), and values. (breaking for csv example)

test with CSV example (Don't enhance DOA, unless absolutely nece

[2015-10-30 23:03] valentinedwv opened #19 "Update tests on spyne codebase"

[2015-11-02 07:03] emiliom commented on #4
Does the WDC have a test version of their catalog/registry? If so, it's fine with me if you or Choonhan want to try to register my Marchantaria use case, just for testing. If not, I'd rather not; it's too incomplete and unchecked for it to be publicly exposed.

[2015-11-02 16:12] valentinedwv opened #20 "Make Flask (index and wsdl) pages, spyne applications"
These pages should be made routes in a couple of 'application's, so that they can be used in other frameworks.

separate index, and wsdl "applications"
I hope that this will prep us add a swaggerui to the rest pages.

[2015-11-02 16:14] valentinedwv commented on #20
I would use Jinja2 as the template engine to replace the templating in flask.

[2015-11-02 19:02] cdesyoun commented on #20
David,

For considering to support swagger APIs for the restful services/flask apps, I think we need to look into two implementation sites.
https://github.com/rantav/flask-restful-swagger
https://github.com/gangverk/flask-swagger

[2015-11-02 19:09] valentinedwv commented on #20
It's a fixed set of small rest interfaces
we can make a template like we do for wsdl's

On Mon, Nov 2, 2015 at 11:02 AM, Choonhan Youn <notifications@github.com>
wrote:

[2015-11-04 15:49] valentinedwv commented on #18
Closed

[2015-11-04 15:49] #18 closed

[2015-11-04 15:50] #14 closed

[2015-11-04 15:52] valentinedwv opened #21 "No WaterML 2 output in wof_spyne branch"
Add route on it's own class for now.
Use a Jinja2 template to produce the output.

[2015-11-04 18:49] cdesyoun commented on #21
David, I think you added it already below.

app.add_url_rule(servicesPath+'/rest/1_0/GetValuesWML2', 'get_values_wml2', get_values_wml2)
app.add_url_rule(servicesPath+'/rest/1_1/GetValuesWML2', 'get_values_wml2_1_1', get_values_wml2_1_1)

[2015-11-04 18:58] cdesyoun commented on #17
I made this helper class in "core.py".

[2015-11-07 01:32] #21 closed

[2015-11-07 01:33] valentinedwv commented on #3
Closing.  new enhancement to read a set of config files in a directory, and load them.
Thought needed. One server type or multiples. etc.

[2015-11-07 01:33] #3 closed

[2015-11-07 01:34] valentinedwv commented on #20
WSDL's can be found at  wateroneflow/.wsdl wateroneflow_1_1/.wsdl

[2015-11-07 01:34] #20 closed

[2015-11-07 01:36] valentinedwv opened #22 "Update Docs"
Changes to documentation

[2015-11-07 01:37] valentinedwv opened #23 "Update examples to be more command line based."
see odm1 example

[2015-11-09 22:51] valentinedwv commented on #8
Closing

[2015-11-09 22:51] #8 closed

[2015-11-09 23:05] valentinedwv opened #24 "WaterML 1.1 Method Unwrapping"
For WaterML 1.1 the     def _on_method_return_xml(ctx):
will need  a few more customizations.

eg. GetVariableInfoObject should return
[code]
Returns
[code]

ctx,_MethodContext_descriptor.name contains the method name.
so we might need to unwrap the result, another level, and replace it with

Others may be
* GetValuesObject:  line -1: Missing message part with name [{http://www.cuahsi.org/waterML/

[2015-11-10 19:08] valentinedwv opened #25 "WOF11 GetSiteInfoMultiple not working"
At least on the soap side:
[code]

[2015-11-10 19:17] valentinedwv opened #26 "ODM2 Timeseries"
In the soap UI tests, I add two days to the start time of a series.
No data values are returned.
Is this a code error, or a database error

[code]

[2015-11-10 22:56] cdesyoun commented on #25
SOAP URL: http://sis-devel.cloudapp.net:8080/ODM2Timeseries/soap/wateroneflow_1_1/
[code]
SOAP URL: http://sis-devel.cloudapp.net:8080/ODM2Measurement/soap/wateroneflow_1_1/
[code]
When testing the above them, it worked fine.
I don't know why you have this.

[2015-11-10 23:51] valentinedwv commented on #25
Sting should be
Network:sitecode

Sent from my iPad

[2015-11-11 00:29] cdesyoun commented on #26
I changed the code from
[code]
to
[code]
Then if there is no data values, the result is as follows:
[code]

[2015-11-11 00:39] cdesyoun commented on #25
Either one is working, for example, in case of ODM2 measurement data use case, ODM2Measurement:march, or march.
But, if you use the different network name, it returns no data.

[2015-11-11 18:23] #17 closed

[2015-11-11 18:30] valentinedwv commented on #26
Message is fine.

The question is that service says there is data from start to end.
But if I ask for the start plus a couple of days, i get no data values.

So, I assume this is an issue with the database having the incorrect start date.

Assigning to jeff to look into it.

[2015-11-11 18:43] valentinedwv commented on #25
Spelling error that's embedded in interface. oops.
GetSiteInfoMultpleObject changed to GetSiteInfoMultipleObject

[2015-11-11 18:43] #25 closed

[2015-11-11 18:44] #23 closed

[2015-11-11 18:48] horsburgh commented on #26
@valentinedwv - Which database are you working from?

[2015-11-11 19:45] cdesyoun commented on #25
David, I noticed it before so that I fixed it on the wsdl template.
In your WOF service on water.sdsc.edu, the misspelled "GetSiteInfoMultpleObject" is still being used.

[2015-11-11 19:51] cdesyoun commented on #26
Jeff, currently, I used this YODA file (https://github.com/ODM2/YODA-Tools/blob/master/jsonschema/examples/Timeseries_Template_Working_my_version.yaml), which you created. I loaded it into the postgreSQL server for testing the time series data. Do you have any public database connection which I can test for odm2 time series data (LBR)?

[2015-11-11 19:54] valentinedwv commented on #25
Yes, it's in there, been there for years... so it will have to stay, and be
misspelled in the WOFPY service, too

On Wed, Nov 11, 2015 at 11:45 AM, Choonhan Youn <notifications@github.com>
wrote:

[2015-11-11 19:59] cdesyoun commented on #26
David, I think this is the time range problem. this data is between 2010-06-03T11:15:00 and 2010-07-08T10:45:00. I tested the request below for two days.
It returned data values.

[code]

[2015-11-11 20:07] cdesyoun commented on #25
I fixed it on wsdl_1_1_template.wsdl in WOFpy already.

[2015-11-11 20:27] valentinedwv commented on #25
If it's misspelled in the WSDL on Water, it needs to be misspelled in the
WOFPY WSDL and code.
They  need to match.

On Wed, Nov 11, 2015 at 12:07 PM, Choonhan Youn <notifications@github.com>
wrote:

[2015-11-12 00:33] cdesyoun commented on #25
David, I did leave the misspelled "GetSiteInfoMultpleObject" on WSDL and code in WOFpy.
Again, I redeployed it on test sites below:

----------------------------------------------------------------
Acess HTML descriptions of endpoints at
http:// sis-devel.cloudapp.net:8080/ODM2Measurement/
http:// sis-devel.cloudapp.net:8080/ODM2Measurement/rest_1_0/
http:// sis-devel.cloudapp.net:8080/ODM2Measure

[2015-11-12 18:09] #24 closed

[2015-11-12 18:30] #16 closed

[2015-11-12 18:30] #15 closed

[2015-11-12 18:48] valentinedwv commented on #1
Have not run the schematron rules, but general items.

Times are invalid. Will need to pass in and create a function to format correctly.
[code]

[code]
[code]

====
need to add resultTime

Description: cvc-complex-type.2.4.a: Invalid content was found starting with element '{"http://www.opengis.net/om/2.0":procedure}'. One of '{"http://www.opengis.net/om/2.0":resultTime}' is expected.

====
TimeZ

[2015-11-12 18:51] valentinedwv commented on #1
Will need to be a link.
For now, we should point the href at the WOF11 rest endpoint, for the variable. not perfect, but functional.
			<om:observedProperty xlink:href="Discharge_cfs" xlink:title="Discharge"/>

[2015-11-12 22:26] valentinedwv opened #27 "Unwrap rest responses"
Rest responses should just be the waterML..

add code to on_method_xml if the ctx_out_protocol type is 'xml' then return the ctx_out_object in the ctx_out_document

[2015-11-12 22:29] horsburgh commented on #26
@cdesyoun - The Yoda files and examples are significantly out of date and likely still incomplete. In the meantime, I would suggest using the sample ODM2 database I have created instead. There are complete examples for both MySQL and Microsoft SQL Server. I don't have a public database that you could connect to (and USU's firewalls would block it anyway). But, you could easily stand up either on a

[2015-11-13 19:09] #1 closed

[2015-11-13 19:09] #27 closed

[2015-11-13 19:29] cdesyoun commented on #26
Jeff, I deployed this sample data into mysql server for testing. And I fixed some bugs for odm2 timseries example based on this data. I realized sqlalchemy queries are slightly different based on database types (postgreSQL and mysql). In my case, the "distinct" keyword in sqlalchemy's query statement, even if it is working in postgreSQL db, is not working for mysql database so that I used "group_b

[2015-11-17 00:10] horsburgh commented on #26
@cdesyoun - cool. I've been clicking through these and things seem to be working with the new testing database. Thanks for setting that up.  At first glance, there seem to be a few things missing in the WaterML responses.  I will try to summarize a list when I get a chance.

[2015-11-18 18:26] RussNelson opened #29 "GetSites is failing with a 405"
GetSites is failing with a 405 error when you access it via the CUAHSI test page:
http://hiscentral.cuahsi.org/testpage.aspx?n=5574
Must be happening inside one of the libraries, because "405" is not present in the WOFpy code.
Logging isn't helping. For some reason it's throwing a 405 error without logging anything, nor does it return a text message.

Needless to say (because SOAP sucks and REST r

[2015-11-18 18:49] valentinedwv commented on #29
Think this is an HIS issue. It does not actually sniff out the service endpoint.
Try changing the WSDL to the endpoint:
http://rths.us:8088/soap/wateroneflow/

Also, it you dare, you might try the new release. Not yet in pypi.

[2015-11-18 18:56] cdesyoun commented on #29
I test the service endpoint, http://rths.us:8088/soap/wateroneflow.wsdl on soapui and membrane tools.
In soapUI tool, on request message,
[code]
on response
[code]
Also, membrane soap client test, it went well.

[2015-11-18 19:05] cdesyoun commented on #29
Russ, in addition, your error message are due to just providing the network name only. Please provide the network name:site code (for example, REON:Stillwater) or just site code ( for example, Stillwater).

[2015-11-18 19:30] valentinedwv opened #30 "Change soap/wateroneflow to soap/cuahsi"
This will let the present HIS havester sniff out a 1.1 endpoint.

[2015-11-18 19:35] RussNelson commented on #29
valentinedwv's advice worked for me.
cdesyoun: Sorry, why would GetSites require anything but the bare network name? Isn't the whole point of GetSites that you don't (yet) know any of the site names? Yes, if I know "Stillwater", then I can request it from GetSites, but GetSites is supposed to return a list of sites, not data from a single site. Either that, or I'm a moron.

[2015-11-18 19:40] RussNelson commented on #29
I can reproduce your success with membrane, cdesyoun, by using the http://rths.us:8088/soap/wateroneflow/
url rather than the .wsdl url. I just leave the Network input box empty.

So why is WOFpy announcing the .wsdl URL rather than the / URL? Is the .wsdl technically correct, but clients don't know how to use it properly?? Maybe WOFpy should warn people about that, and give them the correct and t

[2015-11-18 19:52] valentinedwv opened #31 "Add note of WSDL to use in HIS central to Flask index.html page"
While the wsdl's are correct, HIS central needs a bit of a hack to work:
http://127.0.0.1:8080/LBR/soap/cuahsi_1_0/.wsdl

So add text to say in HIS central, and possibly other clients use the service location endpoint URL's
http://127.0.0.1:8080/{network}/soap/cuahsi_1_0/
http://127.0.0.1:8080/{network}/soap/cuahsi_1_1/

[2015-11-18 19:53] valentinedwv commented on #29
Added issue #31

[2015-11-18 19:54] valentinedwv commented on #29
GetSites does not need anything. An empty name normally returns all sites.

[2015-11-18 20:03] #29 closed

[2015-11-18 23:04] cdesyoun commented on #31
David, I added some notes for soap service in HIS central.
And I redeployed it on test sites:

Service endpoints
http://sis-devel.cloudapp.net:8080/ODM2Measurement/rest/1_0
http://sis-devel.cloudapp.net:8080/ODM2Measurement/rest/1_1
http://sis-devel.cloudapp.net:8080/ODM2Measurement/rest/2
http://sis-devel.cloudapp.net:8080/ODM2Measurement/soap/cuahsi_1_0
http://sis-devel.cloudapp.net:8080/ODM2Mea

[2015-11-19 17:37] RussNelson opened #32 "HydroDesktop vs WOFpy, rrrrrrumble in the Bronx!"
Downloaded the latest HydroDesktop, running WOFpy from git HEAD, I try to download some of my data, and I get the enclosed error message. Not sure why HydroDesktop could or would transmit XML which is in error. Given that WOFpy is throwing the error, I'd expect it to be better about reporting it. For example, instead of letting the bare error be thrown, I'd expect something like this:

mydata = sy

[2015-11-19 19:02] RussNelson opened #33 "hiscentral fails to harvest, millions starve"
Jon reports "Martin – I tried to harvest but returned “there is an error in the XML document (225, 71).” …the harvest fails." On that query, soaplib is giving me this error: "DEBUG:soaplib._base:Unicode strings with encoding declaration are not supported. Please use bytes input or XML fragments without declaration. -- falling back to str decoding."

Perhaps I shouldn't be using HEAD? Is there a pr

[2015-11-19 19:55] valentinedwv commented on #33
SoapLib...
Can you try ODM2/WOFpy/ source release? It's been moved to sypne.io

https://github.com/ODM2/WOFpy/releases/tag/v2.0.003-alpha

[2015-11-19 20:18] valentinedwv opened #34 "WaterML improvements for ODM2"
WML 1.1
[code]
Fix, censor code to use censorCode.
Need to add DateTimeUTC, and dateOffset to WML 1.1

[code]
add censorcode and quality control

[2015-11-19 20:21] valentinedwv commented on #34
add qualitycontrol and censorcode  block to WML 1.0

[2015-11-19 20:22] #31 closed

[2015-11-19 20:22] #30 closed

[2015-11-19 21:28] valentinedwv commented on #32
Agreed. That error looks deep in the network stack. Something is not getting converted to XML... Thinking about it, there were a couple of None errors that we fixed in the ODM2/WofPy codebase

 I get a 404 error for every port 8080 UR from hydrodesktop. I put in. Never even hits my localhost service.

[2015-11-19 21:43] RussNelson commented on #32
/me spanks hydrodesktop. Any idea how to turn on logging for the request?

[2015-11-19 22:00] valentinedwv commented on #32
HD Changing the CaSE of the path.
so:
http://127.0.0.1/LBR/soap/cuahsi_1_0/

becomes:
http://127.0.0.1/lbr/soap/cuahsi_1_0/

which in the python wsgi world is a different resource.

[2015-11-19 22:02] valentinedwv commented on #32
As for logging. What is the standard way to up the logging level for python... learning myself.

[2015-11-19 22:21] valentinedwv commented on #32
new source version published.

[2015-11-19 22:22] valentinedwv opened #35 "Hack for Hydrodesktop"
HD Changing the CaSE of the path.
so:
http://127.0.0.1/LBR/soap/cuahsi_1_0/

becomes:
http://127.0.0.1/lbr/soap/cuahsi_1_0/

which in the python wsgi world is a different resource.

Network names lowercased in the configuration object.

[2015-11-19 22:23] valentinedwv commented on #35
b0acaa41628cd00fd6a03938085dbd659cee299f

[2015-11-19 22:23] #35 closed

[2015-11-20 01:17] cdesyoun opened #36 "WOFpy with ODM2 test sites"
Based on new release, I redeployed it on test site.
Here are newly updated links below:

----------------------------------------------------------------
Access HTML descriptions of endpoints at
http:// sis-devel.cloudapp.net:8080/odm2measurement/
http:// sis-devel.cloudapp.net:8080/odm2measurement/rest_1_0/
http:// sis-devel.cloudapp.net:8080/odm2measurement/rest_1_1/
http:// sis-devel.cloudapp.n

[2015-11-20 01:18] #36 closed

[2015-11-20 17:16] RussNelson commented on #33
sypne.io isn't a valid domain name.
I'm not sure about the 003-alpha release. Part of the problem is that hiscentral harvesting isn't under my control, so I don't know exactly when they'll be harvesting. I switched between different WOFpy versions yesterday. I'm currently running the swtools/WOFpy HEAD. It might be working. Seems to have been harvested by the dev server but not the production serv

[2015-11-20 17:38] valentinedwv opened #38 "Can odm_mysql be merged with odm_sqlserver?"
examples/odm_mysql has changes for lower case table names
examples/odm_sqlserver is the original code.

Can these be merged to just have an odm_1_1 example?

Quick test says, yes.
Does the USU group a have example odm1 mysql, and postgres db's that could be tests

[2015-11-21 17:54] valentinedwv opened #39 "Add version"
See how pip does it.
https://github.com/pypa/pip/blob/develop/setup.py

[2015-11-23 17:59] RussNelson opened #40 "Little Bear in SQL examples?"
Do we need these files in examples/odm_sqlserver:
lbr_config_original.cfg
runserver_lbr.py
?

[2015-11-23 20:10] valentinedwv commented on #40
No. go ahead and remove

[2015-11-23 21:05] RussNelson opened #41 ""Start tag expected, '<' not found, line 1, column 1""
I can't understand why I'm getting this error. In theory at least, I'm running the exact same code as everyone else.
nelson@left:~/RussNelson-WOFpy$ git pull odm2 master
From https://github.com/ODM2/WOFpy
 * branch            master     -> FETCH_HEAD
Already up-to-date.

Yet when I do this:
  nelson@left:~/RussNelson-WOFpy$ curl -d ~/WOFpy/tcpdump.failingrequest http://rths.us:8088/reon/soap/cuahs

[2015-11-23 21:26] emiliom commented on #33
@valentinedwv probably meant http://spyne.io

[2015-11-23 21:26] RussNelson commented on #41
Oops, wrong error, wrong title.

[2015-11-23 21:26] #41 closed

[2015-11-23 21:42] valentinedwv opened #42 "Option to Lossen up the Network and Vocabulary match"
The code is pretty restrictive on matching the Network Naming.
           siteCodesArr = [s.replace(self.network + ':', '')
                            for s in siteCodesArr]
Allows for strict matching of the network name, and normal new user no network name at the start.
Need option to allow for any network name (especially for testing).

Create a core method that can be used to do the separation

[2015-11-23 22:10] RussNelson commented on #42
Interesting you should say that, because REON:Marist isn't working for me right now, while the bare Marist is working. This is while using GetSiteInfoObject.

[2015-11-23 22:25] RussNelson commented on #42
But "reon:Marist" does work. Color me confused.

[2015-11-23 22:39] cdesyoun commented on #39
I added version info into several files.
Main location for version info is ```wof/__init__.py```

[2015-11-23 22:47] RussNelson opened #43 ""Start tag expected, '<' not found, line 1, column 1""
I'm running HEAD, and I'm up to date. If I try to fetch my site's metadata using HydroDesktop, it gives me the error in the subject. More precisely this:

ERROR:spyne.protocol.soap.soap11.invalid:XMLSyntaxError(u"Start tag expected, '<' not found, line 1, column 1",) in string u'\ufeff<?xml version="1.0" encoding="utf-8"?>\r\n<soap:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xml

[2015-11-24 00:52] valentinedwv commented on #42
put a hack in to make Hydrodesktop work.
need to better note this .
https://github.com/ODM2/WOFpy/issues/35

On Mon, Nov 23, 2015 at 2:25 PM, Russ Nelson <notifications@github.com>
wrote:

[2015-11-24 01:10] valentinedwv commented on #43
Not sure, dont' remember seeing this when running in PyCharm.

perhaps:
change the validator='lxml'
to
validator='soft'
in the core.py   soap_xx applications?

Might have to drop in a couple of events to see exactly what's happening
http://spyne.io/docs/2.10/reference/server.html

[2015-11-24 01:28] valentinedwv commented on #43
And not seeing this locally:
HD 1.7.2.78
 running in a pycharm started instance of wofpy on 127.0.0.1:8080 windows
python 2.7.10
both 1_1 and 1_0 endpoints
[code]

[2015-11-24 03:29] cdesyoun commented on #43
Thanks for checking this, David.
Practically, I have not seen this error before. If I can spawn it, it will be easier to find this problem.

[2015-11-24 15:55] RussNelson commented on #43
I'm running Ubuntu LTS, Python 2.7.6. Looks like there's a unicode bug. I installed 2.7.10 and this problem has gone away. Since Ubuntu LTS comes with 2.7.6, it's likely that I won't be the only person running into this issue. We don't know which version *is* required, but we know that we can't work on 2.7.6.  I don't see any obvious way to tell setuptools to refuse to install on 2.7.6. Help?

[2015-11-24 17:24] horsburgh commented on #38
@valentinedwv - There are sample ODM 1.1.1 databases, including one for MySQL at:

http://hydroserver.codeplex.com/wikipage?title=Observations%20Data%20Model&referringTitle=Documentation

It's been a while, but I think we made the samples so they contain the same dataset.

[2015-11-24 19:32] cdesyoun commented on #43
David,
Would you please test it on my development site, http://sis-devel.cloudapp.net:8080/odm2timeseries/?
It is using python 2.7.6 and Ubuntu (Linux sis-devel 3.16.0-31-generic #41~14.04.1-Ubuntu SMP) OS.
If you have same problems, I will try to change this code line below in spyned_1_0.py and spyned_1_1.py as follows:
[code]
But, I am not sure it will work on that.

[2015-11-24 19:48] RussNelson commented on #38
I have some improvements to the mysql database. I split it into three parts: the invariant part that sets up the tables, the controlled variable part (which I download from cuahsi and turn into sql), and the site-dependent stuff, like sources, sites, variables, and methods. I think it would be reasonable to share the invariant and cv parts, and also supply a "populate with sample data" .sql file.

[2015-11-24 20:59] valentinedwv commented on #43
@cdesyoun working, but this issue is with the initial XML stream of the whole message, so I don't think that those are the issue. But go ahead and check in, anyway.

[2015-11-24 21:08] valentinedwv commented on #43
@cdesyoun  Before you upgrade the python, can you pull the latest, and see if
setup.py install rejects 2.7.6?

[2015-11-24 21:24] cdesyoun commented on #43
David, yes, the installation is rejected.

azureuser@sis-devel:~/WOF/WOFpy$ sudo python setup.py install
Sorry, Issues with Python 2.7.6. Please upgrade to 2.7.10 or above

Do we still need to debug this?

[2015-11-24 22:10] cdesyoun commented on #43
David, I changed the validator from 'lxml' to 'soft' on core.py file and the parameter type from 'Unicode' to 'String' on spyned_1_0.py and spyned_1_1.py files.
I redeployed it on test site.
Would you please test it again to see if it is working on python 2.7.6?

[2015-11-24 22:24] RussNelson commented on #43
It's not working for me, and this is what I see vis-a-vis 'lxml' and 'soft' in core.py:

nelson@left:~/RussNelson-WOFpy$ grep soft wof/core.py
        in_protocol=HttpRpc(validator='soft'),
        in_protocol=HttpRpc(validator='soft'),
        in_protocol=HttpRpc(validator='soft'),
nelson@left:~/RussNelson-WOFpy$ grep lxml wof/core.py
        in_protocol=Soap11(validator='lxml'),
        in_proto

[2015-11-24 22:29] cdesyoun commented on #43
Changes are on my development site, not on the github.
If it works, I will update it on the github.

[2015-11-24 22:46] valentinedwv commented on #43
Nope. Changing does the validator  and object types does not appear to solve this.

So, no. Let's just set it to suggesting 2.7.10, in setup...

[2015-11-24 23:03] cdesyoun commented on #43
OK, I stop debugging on python 2.7.6 version.
Then I will update python version from 2.7.6 to 2.7.10 on my test/development site.

[2015-11-25 17:06] RussNelson opened #45 "value outside of enum for ....."
I notice that core_1_0 is checking the UnitsType against a list of units, and throwing a warning and throwing the "invalid" unit away and replacing it with "dimensionless". Perhaps we should change the warning so it says something like "UnitsType not in 1.0 CV. Should you use the .../cuahsi_1_1 URL?" It's always better to give people a warning or error that points them in the direction of repair.

[2015-11-25 17:20] valentinedwv commented on #45
Yes, suggestion is to use the 1_1 endpoint.

In 1.0, many vocabularies for WaterML were embedded and fixed, so even if it's now in the CV, its not valid in WML 1.0.

Probably should change to Info, and improve the messages

[2015-11-25 17:41] valentinedwv commented on #45
INFO:root:Substituted 'Dimensionless'. WaterML 1.0 schema enum issue 'Turbidity' not in UnitsType. Use the cuashi_1_1 endpoint
INFO:root:Substituted 'Dimensionless'. WaterML 1.0 schema enum issue 'Concentration' not in UnitsType. Use the cuashi_1_1 endpoint

[2015-11-25 17:45] #45 closed

[2015-11-25 17:45] #39 closed

[2015-11-25 17:46] #32 closed

[2015-11-25 17:48] valentinedwv commented on #33
Still waiting on a harvest

[2015-11-25 17:50] valentinedwv commented on #26
closing.
opened #34

[2015-11-25 17:50] #26 closed

[2015-11-25 18:18] RussNelson commented on #33
I got a successful harvest last night, with the cuahsi_1_0 endpoint. Green check mark! http://hiscentral.cuahsi.org/pub_network.aspx?n=5574

Have changed it to _1_1. Will check it tomorrow on Thanksgiving Day to make sure that it's still harvesting. No, actually, I'll be stuffing myself with turkey and stuffing. Happy Thanksgiving!

[2015-11-25 19:13] cdesyoun commented on #34
David, Jeff, I updated waterML for ODM2 timeseries data.
I redeployed it on test site as well.

[2015-11-25 20:37] valentinedwv commented on #43
We upgrade the sis-devel.cloudapp.net server, still no go.

Even did a nice clean virtualenv, and still not working correctly.

(venv_odm)azureuser@sis-devel:~/WOF/WOFpy$ pip list
Flask (0.10.1)
GeoAlchemy2 (0.2.6)
itsdangerous (0.24)
Jinja2 (2.8)
lxml (3.5.0)
MarkupSafe (0.23)
mysql (0.0.1)
MySQL-python (1.2.5)
nose (1.3.7)
numpy (1.10.1)
ODM2API (0.1)
pandas (0.17.1)
pip (7.1.2)
postgres (2.2.1)

[2015-11-25 21:00] RussNelson commented on #43
FWIW, I have:
lxml 3.4.4
MySQL-python 1.2.3
numpy 1.8.2
pip 1.5.4
pytz 2015.4
setuptools 3.3
six 1.5.2
SQLAlchemy 0.8.4
Werkzeug 0.10.4
and WOFpy HEAD

[2015-11-26 22:17] valentinedwv commented on #43
I suspect it's the new lxml.
on sis-devel
removed lxml 3.5, installed 3.4.4 works.

pip uninstall lxml
pip install lxml==3.4.4

[2015-11-27 02:11] cdesyoun commented on #43
David, I installed HydroDesktop (HD) 1.4.11.1 version on my desktop window 7 pro.
When trying to harvest soap service 1.0, I still got the same error which Russ got.
Because of BOM (\ufeff) in the request, lxml lib (supports only the encoding type, 'UTF-8') can not encode/decode the request message. In spyne package, I looked into "spyne/protocol/soap/soap11.py".
Within this file, this function be

[2015-11-27 03:01] cdesyoun commented on #43
And, David, I guess you did test WOFpy using my own modified spyne package above deployed on sis-devel host while I am working on. After changing lxml version as you suggested, I switched original spyne version. It did not work. I think when we add two lines in above function, at least, within HydroDesktop WOFpy will work correctly without encoding problem.

[2015-11-27 12:49] valentinedwv commented on #43
Different thought.
can we see if it's flask?
aka try the standard python wsgi app, without the html pages (no flask).

[2015-11-28 17:12] valentinedwv commented on #43
Can that be a method_call event in the service classes?

http://spyne.io/docs/2.10/reference/service.html

[2015-11-28 20:04] cdesyoun commented on #43
In WOFpy, I think soap service is related to wsgi app, not flask app.
And I tried to capture event handlers in service and application classes.
In service class, "method_call" event happens after making request including BOM tag so that it is no use of it. That is, the error exception was raised already. In application class in spyne, when used "method_context_created" event, most of variables in

[2015-11-28 20:33] valentinedwv commented on #43
Can you inherit the soap_1_1 class, override _parse_xml_string
and use that in WofPy

[2015-11-28 21:23] cdesyoun commented on #43
OK, I will try on it.

[2015-11-29 01:20] cdesyoun commented on #43
David, I caught this event. The "ctx.in_string" variable which contains soap request has object type. But converting string is still empty.
Instead, I overrode "create_in_document" function below in soap11.py in wof/core.py.
It works fine. I updated it on github.

[code]

[2015-11-29 17:38] valentinedwv commented on #43
Can you put it on a branch so we can test it?

Sent from my iPhone

[2015-11-29 18:02] cdesyoun commented on #43
Yes, I have already put the 'master' branch. You can pull it out.

[2015-11-29 23:45] valentinedwv commented on #34
Think this broke something.
getvalues WOF10 soap. "get_qualcontrollvl_by_id Method not implemented by this service."

Should throw a warning

[2015-11-30 02:27] cdesyoun commented on #34
David, did you test odm2 timeseries, http://sis-devel.cloudapp.net:8080/odm2timeseries/ or other examples?
In odm2 timeseries dao object, this function below was implemented. In soapUI testing, it went well.
[code]

[2015-11-30 02:33] cdesyoun commented on #34
And, I looked into your csv_dao.py for these functions below. you need to fix the second method name different from that of wof/dao.
[code]
In wof/dao.py,
[code]

[2015-11-30 15:47] valentinedwv commented on #34
valueResult.QualityControlLevel = qlevelResult.Definition
Definition is not in the core model

and still need to check to see if you get None.

[2015-11-30 18:05] RussNelson opened #46 "GetValuesObject request returns nothing"
I'm trying to download data into HydroDesktop. I get no data on a 200 response from WOFpy, which HydroDesktop thinks is an error. You'd think it would be a warning, but BUT maybe what WOFpy is returning is actually an invalid response?

I figured out how to get sqlalchemy to log its SQL transactions. You have to add the following line:
  logging.getLogger('sqlalchemy.engine').setLevel(logging.DEBU

[2015-11-30 18:43] cdesyoun commented on #34
In core_1_0.py,
[code]
the return output is as follows:
[code]
So, in case of waterML 1.0, the value of the name ,"qualityControlLevel" is coming from "ProcessingLevels.Definition" column.
Would you please elaborate it?

[2015-11-30 22:36] RussNelson commented on #46
It looks like somebody successfully downloaded quite a bit of data from 108.197.33.64. They asked for this: GetValuesObject(location=u'reon:Esperance', variable=u'reon:temperature', startDate=u'2014-09-01', endDate=u'2014-10-01', authToken=u'?' Unfortunately, the SQL queries that resulted in this data rolled off the head of the log file.

[2015-11-30 22:39] RussNelson commented on #46
Another detail: HD is reporting "No series found in xml file".

[2015-11-30 23:16] RussNelson commented on #46
Another detail: the query that succeeded was identical to the ones that fail except for three differences: 1) working: "in_header_doc=[]", failing: "in_header_doc=None", 2) the dates working: "startDate=u'2014-09-01', endDate=u'2014-10-01'" and failing: "startDate=u'2015-10-25T00:02', endDate=u'2015-11-23T00:00'", and 3) working had the network name in lower case, failing in upper case.

[2015-12-01 00:53] valentinedwv commented on #46
Choonhan,
can you see if changes you made effect the cvs and odm output.

Russ, can you send choonhan a mysql dump with a small number points.

[2015-12-01 01:20] cdesyoun commented on #46
David,
I tested odm2 examples. It went well. I will try to test csv example.

[2015-12-01 03:28] cdesyoun commented on #34
Through the csv example, I fixed this bug below in core_1_0.py
[code]

[2015-12-01 03:30] cdesyoun commented on #46
Using soapUI tool, csv example was fixed. It went well.

[2015-12-01 05:06] cdesyoun commented on #46
David, Russ, it seems to me I fixed a bug. Recently, David has changed network/vocaburary names as the lowercase in code. This change did not make effect to main core codes that check these names.
I did two functions below in core_1_0.py and core_1_1.py.

[code]
so, in soap request,
[code]
both are working.

[2015-12-01 16:19] RussNelson commented on #46
Progress!!! It's now doing the database queries necessary to get data, and it's logging that it's getting the data, but it's crashing. I'll close this one and start a new issue with the new details. Well done!

[2015-12-01 16:19] #46 closed

[2015-12-01 16:34] valentinedwv commented on #46
So looks like this partially addresses #42
thanks

[2015-12-01 16:39] RussNelson opened #47 "Fault: Fault(Server: 'unconverted data remains: Z')"
Trying to read one variable (temperature) from one site (Esperance). Seems to be making great progress. Get the site, gets the spatial reference, gets the variable, gets the units, (96L, 'degree celsius', 'Temperature', 'degC'), searches for another unit, gets it: (100L, 'second', 'Time', 's') but immediately thereafter, I get this error and traceback:
ERROR:spyne.application:Fault(Server: 'unconv

[2015-12-01 16:44] RussNelson commented on #47
I took out the try/except from spyned_1_1.py at line 181 and got a better traceback. It looks like my speculation was correct: it's trying to convert a datetimeUTC that has a Z at the end.
[trackback.txt](https://github.com/ODM2/WOFpy/files/48775/trackback.txt)

[2015-12-01 16:49] valentinedwv commented on #47
Yeah, I had a feeling we would hit this somewhere else in the code after I fixed some time parsing in the  csv codebase, and implemented timezones using pytz

Original code passed dates as iso strings.... better to pass datetime objects with timezone set using pytz

code needs to use dateutils.parser.parse, and not custom parse strings

for examples, see csv_dao
create_datavalue_from_row
parse_dat

[2015-12-01 16:53] RussNelson commented on #47
Adding a "Z" to the end of the conversion string in line 3053 in WaterML_1_1.py fixes it for me:
            initvalue_ = datetime_.datetime.strptime(dateTimeUTC, '%Y-%m-%dT%H:%M:%SZ')
I'm not familiar enough with the code to want to submit it as a fix for everyone, however.

[2015-12-01 16:55] valentinedwv commented on #47
I'd say let's fix it higher in the code to use objects (core), and not strings.

[2015-12-01 16:57] RussNelson commented on #47
I'm under a two-week deadline to teach my boss how to use HydroDesktop, which means that I need WOFpy to be working, so I have to run with "works for me" for now...

[2015-12-01 19:07] valentinedwv commented on #47
Yes.

[2015-12-03 18:05] valentinedwv opened #48 "Download/usage Logging"
We want to know how often the service is accessed, and what is access.
Add usage logging to a file.

| date| (START/END)| network| method| sitecode|variablecode| begindate|endDate| resultCount | response time

[2015-12-03 18:06] valentinedwv commented on #48
And perhaps a daily/since start accumulation to a file. (hey, improve upon original wateroneflow logging)

[2015-12-03 18:52] valentinedwv commented on #38
complete

[2015-12-03 18:52] #38 closed

[2015-12-03 18:53] #43 closed

[2015-12-03 18:54] valentinedwv commented on #47
I think we have this done.

[2015-12-03 18:54] #47 closed

[2015-12-05 16:33] valentinedwv commented on #22
@emiliom added a Readme.md doc.
Thanks.

[2015-12-05 16:33] valentinedwv commented on #22
I updated the doc and pushed to pydocs.
Still needs more work

[2015-12-06 04:11] emiliom commented on #22
Is this the "pydocs" push? http://pydoc.net/Python/WOFpy/0.1.1-alpha/ (that looks old, before all the work you and Choonhan have done).
Or is it something else?

BTW, it looks like readme.txt is an rst file. Maybe it would've been best if I had changed the file extension and edited that file instead of creating a new/copy as a markdown file (README.md). But I don't know rst syntax and creating the

[2015-12-06 16:14] valentinedwv commented on #22
I pushed to http://pythonhosted.org/WOFpy/

Pydoc must be pulling from original

[2015-12-06 22:49] emiliom commented on #22
Ah, pythonhosted.org. Great. I've updated README.md to include a prominent link to those docs. Thanks.

[2015-12-06 23:02] emiliom opened #49 "Release as "1.0" instead of "2.0"?"
The WOFpy overhauls are being [flagged as building towards a "2.0" release](https://github.com/ODM2/WOFpy/releases). But there was never a WOFpy 1.0; in its original development, it stayed only with alpha tags that reached a 0.1.1 version. Back in early October @cdesyoun [tagged the initial enhancements as 0.2](https://github.com/ODM2/WOFpy/tags).

I know this may be quibbling, but to me it seems

[2015-12-07 16:28] valentinedwv commented on #49
I looked at the breaking changes from when we moved to spyne as the reason to skip 1.0.  It announces that this is a different codebase, and not a progression from the 0.x codebase.
Mostly compatible, but with many breaking changes

Sent from my iPad

[2015-12-07 18:46] emiliom commented on #49
Got it. Thanks.

[2015-12-07 18:46] #49 closed

[2015-12-07 20:40] RussNelson opened #50 "Werkzeug says don't use debugger in production"
Werkzeug says don't use debugger in production: http://werkzeug.pocoo.org/docs/0.11/debug/#enabling-the-debugger
I'm not 100% that we're actually doing that, however when it starts up, it prints a debugger PIN code, which is what Werkzeug says the debugger does.
We shouldn't ship the release with debugging turned on, because someone who isn't a developer might not know that debugging was turned on

[2015-12-07 21:58] cdesyoun commented on #50
Russ, debuggers are removed in "core.py". For this, I added it below:
[code]

[2015-12-07 22:33] cdesyoun commented on #50
I changed the debug type in "core.py" file. when disabling the debugger, I realized users can not debug WOFpy at all.
[code]

[2015-12-07 22:43] valentinedwv commented on #50
Choonhan,
Loggers should be fine

Russ,
I don't think it's enabled, unless we
[code]

spoke too soon in runserver_odm_1_1.py
[code]

[2015-12-07 22:49] RussNelson commented on #50
Yeah, I think we need to remove or comment-out that line. If commented-out, include the link above in a comment saying #do not debug a server the public can access: http://werkzeug.pocoo.org/docs/0.11/debug/#enabling-the-debugger

[2015-12-07 22:53] valentinedwv opened #51 "Demonstrate logging using config files then doco"
https://docs.python.org/2/library/logging.config.html

[2015-12-07 22:55] #50 closed

[2015-12-07 23:21] valentinedwv commented on #33
Still green... so let's close this

[2015-12-07 23:21] #33 closed

[2015-12-22 16:16] #34 closed

[2016-04-10 15:38] ocefpaf opened #52 "What type of BSD license is used in WOFpy?"
The metadata states that the license is BSD, but what type? 2 or 3 clauses?

[2016-04-10 15:43] ocefpaf opened #53 "python-dateutil ==1.5.0"
Is there a strong reason to [pin](https://github.com/ODM2/WOFpy/blob/master/setup.py#L59) WOFpy to `python-dateutil ==1.5.0`? That is quite an old version!

[2016-04-10 17:37] valentinedwv commented on #53
Not sure. Changelog @2.1 says there were some 2.6 and 2.7 issues.

[2016-04-10 17:44] valentinedwv commented on #52
Would be type 3

[2016-04-10 17:47] ocefpaf commented on #52
Thanks!

[2016-04-10 17:47] #52 closed

[2016-04-10 17:48] ocefpaf commented on #53
No problem. I will try to investigate this later. Meanwhile I will package `python-dateutil 1.5.0` for. the ODM2 channel.

[2016-04-11 06:01] emiliom commented on #53
@ocefpaf, FYI, development on WOFpy stopped for abt. 4 years before @valentinedwv and a colleague of his picked it up last year and the ODM2 team became the new maintainers. A lot of work was done on it in the last 6 months, but it's not too surprising that it has some remnant old issues like this old dependency pinning. Hopefully we can get rid of it soon.

[2016-04-11 10:32] ocefpaf commented on #53
No worries. I find that the process of packing forces me to dig into the software. So I will be sending PRs to WOFpy soon to help with that.

[2016-04-11 17:29] valentinedwv commented on #53
Go ahead and update requirements. No difference in dates.

Working on updating the tests. May be a bit since they are out of date

[2016-04-11 17:41] ocefpaf commented on #53
Thanks @valentinedwv. I will close this then.

[2016-04-11 17:41] #53 closed

[2016-04-18 20:59] valentinedwv opened #55 "Implement ODM2 tests in travis when ODM2PythonAPI is available"
Demonstrate ODM2PythonAPI testing in WOFPy

1) create a mysqlDB (with lower_case_table_names setting)
2) write basic tests

[2016-05-02 16:21] mmbayles opened #56 "timeOffset issue with CSV example"
I noticed an issue with time offset using the CSV example included with WOFpy.
This screenshot is of the standard waterml 1.1 example provided by CUAHSI. The time offset is in a separate tag.
![image](https://cloud.githubusercontent.com/assets/12237799/14959840/9c31a1c2-104e-11e6-85a3-ec9b48bb6cb3.png)

However, when I run the csv example the time offset is included in the dateTime tag.
![image](h

[2016-05-02 17:04] valentinedwv commented on #56
Thanks.
We will need to make it conform to the expected

[2016-06-01 19:42] SRGDamia1 opened #57 "Question: Why both flask and django"
Why are both required/installed with the conda recipe?

[2016-06-01 20:47] valentinedwv commented on #57
Django needed for the ODM Web services, and not WofPy.

[2016-06-02 04:03] emiliom commented on #57
Which conda recipe are you referring to? [This one?](https://github.com/ODM2/conda-recipes-ODM2/blob/master/environment.yml) That recipe installs "everything", all ODM2 packages that have been packaged in the ODM2 channel so far. FYI, at this time that's mainly `odm2api`, `wofpy`, and dependencies.

I don't see any Django in the [conda recipe used to build the WOFpy conda package.](https://github.

[2016-08-12 17:09] valentinedwv opened #59 "Add Conda Channel information to documentation"

[2016-08-12 17:41] valentinedwv opened #60 "Conda... just resources and examples"
I you install in anaconda, WOFpy goes into an environment.

Configuration files are not in the package

[2016-08-13 18:30] emiliom commented on #57
Following up on this .... I've confirmed that installing just wofpy from the odm2 channel does install django as a dependency. @valentinedwv's response, "Django needed for the ODM Web services, and not WofPy", suggests that django shouldn't be there.

@valentinedwv and @ocefpaf, can you track how it got to be a dependency on the conda package, and remove it if it truly isn't needed? Maybe it's a d

[2016-08-13 18:59] emiliom commented on #59
Let'sl use this issue that @valentinedwv started to iron out wofpy installation instructions, including problems along the way. I'll start by redirecting @miguelcleon's email from 8/12/2016 to here:

Miguel then said:

### 1. conda package installation

Miguel, I'm glad you were able to install miniconda. If you don't mind, please post here a brief summary of the steps you used (web site, etc) to

[2016-08-15 13:51] miguelcleon commented on #59
The problem I encountered is that when I downloaded the
this | linux-64/wofpy-2.0.9b0-py27_0.tar.bz2 from
 https://anaconda.org/odm2/wofpy/files

Line 10 corresponding to `[https://github.com/ODM2/WOFpy/blob/master/examples/flask/odm2/timeseries/odm2_timeseries_dao.py#L10]

instead reads:

`from api.ODM2 import models as odm2_models`

Which doesn't work. When I changed it to
`from odm2api.ODM2 imp

[2016-08-15 14:13] ocefpaf commented on #57
`wofpy` does have a dependency on `flask`, not sure if that is only for the examples though. See
https://github.com/ODM2/conda-recipes-ODM2/blob/master/recipes/wofpy/meta.yaml#L21

If that is optional, and not desirable as to be installed by default, I can change that in the recipe.

BTW `django` is a dependency of `spyne` and `wofpy` specifies the latter. So `django` is also installed.

I based t

[2016-08-15 15:01] miguelcleon commented on #59
After I manually change that line of code, runserver_odm2_timesser.py seems to be able to succescfully run and read my db connection file and configuration file but I get another error. Seems like I'm getting closer.

![image](https://cloud.githubusercontent.com/assets/5941108/17668502/8faccdd8-62d7-11e6-8d0a-0454c33a6fe8.png)

[2016-08-15 15:10] ocefpaf commented on #59
@miguelcleon can you post the result of `conda list` and `conda info` here. I suspect I know what may be happening there.

[2016-08-15 15:31] miguelcleon commented on #59
Actually I did a reboot and it seems to be working now :)
![image](https://cloud.githubusercontent.com/assets/5941108/17669459/b45081b2-62db-11e6-80c0-60c5bccc13bb.png)
I clicked to first link hopefully it will not crash the browser.

[2016-08-15 15:34] ocefpaf commented on #59
Cool. The `shapely` issue there is b/c `ctypes` could not find `geos` and that usually means another library is in the way. (We patch `shapely` to always find conda's `geos` but sometimes that fails due to another installation of some of the libs being present.)

[2016-08-15 16:03] emiliom commented on #59
Great to see your progress, Miguel! Thanks for reporting back on the
odm2api issue; that's clear now.

I think you may still be running into "growing pains" from being new to
conda. And we still need to create simple instructions on that. I'll try to
have something ready by the end of the day.

In the meantime, it sounds like you're almost all set! Though there may be
additional customizations to

[2016-08-15 18:39] emiliom commented on #57
@ocefpaf has provided (thanks!) a definitive answer to the question about Django:

And to cover the `flask` part of @SRGDamia1's original question: `flask` is a core `wofpy` requirement.

Since the original questions asked on this issue have been answered, and there's no further action to be taken (unless @valentinedwv has something to add), I'm closing this issue.

[2016-08-15 18:39] #57 closed

[2016-08-15 20:29] miguelcleon commented on #59
yeah, just using download Anaconda at the top of https://anaconda.org/odm2 seemed to send me astray.

[2016-08-17 18:40] emiliom commented on #59
@miguelcleon and @sreeder: have you gotten farther along with your installation and use of WOFpy?

Miguel, I noticed just now that your successful installation was actually on Jeff's sample Little Bear dataset, not your own Luquillo CZO database. Still, have you been successful with the Little Bear test DB?

Any additional, helpful info you can add about the installation and configuration of WOFpy

[2016-08-17 21:11] sreeder commented on #59
@emiliom  I have not gotten any further than we were at our meeting on Friday. I have WOFpy up and running but I cannot get it to successfully return data. There seems to be errors with the queries being run to return data. I am also running Jeff's sample Little Bear River dataset. The Variable and the Site do exist in my database.

[2016-08-17 21:15] emiliom commented on #59
@sreeder, thanks for reporting back. While that may not be positive movement forward, hearing about what problems you're running into is still helpful.

Quick question about "I am also running Jeff's sample Little Bear River dataset." So, you're using exactly the same database dump available online, that Miguel is using, and the San Diego team developed the WOFpy ODM2 timeseries example, right? No

[2016-08-17 21:35] miguelcleon commented on #59
@emiliom I haven't made any progress, the services seem to start up but I can never get any of the links to load. I'm connecting to a local copy of the LCZO ODM2 database though.

[2016-08-17 21:38] sreeder commented on #59
@emiliom  I am using a local copy that could be 98% identical

[2016-08-17 22:26] miguelcleon commented on #59
I thought I'd reboot and give it another try. Now instead of it seeming to run unendingly doing nothing, I get errors :)
from http://127.0.0.1:8080/odm2timeseries/soap/cuahsi_1_0/.wsdl I get:
`traceback (most recent call last):
  File "/home/azureadmin/miniconda2/lib/python2.7/site-packages/flask/app.py", line 2000, in __call__
    return self.wsgi_app(environ, start_response)
  File "/home/azurea

[2016-08-17 22:28] miguelcleon commented on #59
from here:
http://127.0.0.1:8080/odm2timeseries/soap/cuahsi_1_1/
I get the following, it seems like it wants me to ask it for some content-type, I wonder how I do that?

`<soap11env:Envelope xmlns:soap11env="http://schemas.xmlsoap.org/soap/envelope/">
<soap11env:Body>
<soap11env:Fault>
<faultcode>soap11env:Client.RequestNotAllowed</faultcode>
<faultstring>
You must issue a POST request with the Co

[2016-08-17 22:39] valentinedwv commented on #59
That template is based on the path from where you start the program to
where the templates are located.
so where are you tying the command from, and what does the config file look
like

On Wed, Aug 17, 2016 at 3:26 PM, Miguel Leon <notifications@github.com>
wrote:

[2016-08-17 23:54] emiliom commented on #59
Thanks for your input, everyone. Lots to chew on. Let's see if there's any progress before Friday, to see if we should talk about this on the BiGCZ call on Friday.

[2016-08-17 23:54] valentinedwv commented on #59
I out on Friday.

On Wed, Aug 17, 2016 at 4:54 PM, Emilio Mayorga <notifications@github.com>
wrote:

[2016-08-18 20:53] miguelcleon commented on #59
yes I have no templates in Templates=../../../../wof/apps/templates
If that is what the error is about. Should there be templates in here?

[2016-08-18 21:24] miguelcleon commented on #59
I found templates in the github copy of wofpy copied it into the miniconda folder and it works! I see a bunch of xml but it doesn't seem to have to do with my site or anything in my db so far.

[2016-08-18 22:22] miguelcleon commented on #59
I'm making progress, my server connection string was wrong but I fixed it then I figured out I needed to go to  someplace like this: http://127.0.0.1:8080/odm2timeseries/rest/1_1/GetSites

But then I got this:

`(psycopg2.ProgrammingError) column samplingfeatures.featuregeometrywkt does not exist`

it is true my table samplingfeatures does not have a column featuregeometrywkt it does have a column

[2016-08-18 22:24] miguelcleon commented on #59
So if I try:

http://127.0.0.1:8080/odm2timeseries/rest/1_1/GetValuesForASite?site=odm2timeseries:LCZO&startDate=2015-09-01T00:00:00&endDate=2015-10-01T02:30:00

I get:

`(psycopg2.ProgrammingError) column "results.resultid" must appear in the GROUP BY clause or be used in an aggregate function LINE 1: SELECT odm2.results.resultid AS odm2_results_resultid, odm2.... ^ [SQL: 'SELECT odm2.results.res

[2016-08-19 00:06] emiliom commented on #59
Miguel: One thing I can say is that `samplingfeatures.featuregeometrywkt` was added somewhat recently (early this year, I think), together with expectations/recommendations for `samplingfeatures.featuregeometrywkt` vs `samplingfeatures.featuregeometry`, where the former is now recommended/expected but the latter is optional and often ignored in ODM2 software. So it's very likely that WOFpy expects

[2016-08-19 13:07] miguelcleon commented on #59
Ok I added the featuregeometrywkt field, how should this be used? I'm guressing I can store my coordinates here as plane text so they are human readable? what implications does this have for the mapping on OMD2 Admin?

from here http://127.0.0.1:8080/odm2timeseries/rest/1_1/GetSites I now get the second error starting with
`(psycopg2.ProgrammingError) column "results.resultid" must appear ....`

[2016-08-19 15:10] sreeder commented on #59
this is the issue i get:
`Traceback (most recent call last):
  File "C:\Anaconda\envs\wofpy\lib\site-packages\spyne\application.py", line 151, in process_request
    ctx.out_object = self.call_wrapper(ctx)
  File "C:\Anaconda\envs\wofpy\lib\site-packages\spyne\application.py", line 235, in call_wrapper
    retval = ctx.descriptor.service_class.call_wrapper(ctx)
  File "C:\Anaconda\envs\wofpy\lib\s

[2016-08-19 15:47] emiliom commented on #59
In response to @miguelcleon's last post:

Regarding implications for ODM2 Admin: I tend to be an incrementalist, so my suggestion for now is to ignore the new `featuregeometrywkt` field. *For now.* That way there are no immediate disruptions on ODM2 Admin functionality, including the new mapping functionality. Maybe we can work together with Don and others after next week to discuss `featuregeomet

[2016-08-19 15:50] emiliom commented on #59
@sreeder, thanks for the error report. @valentinedwv won't be at the BiGCZ call today. But we can see if there are any commonalities between the errors you and @miguelcleon are running into, and if there's anything we can do to mover forward a bit.

@sreeder, have you tried running WOFpy against the Little Bear sample database downloaded directly from github, to ensure that it's 100% the same as w

[2016-11-08 18:22] aufdenkampe opened #61 "Prepare for WOFpy Release v2.0.10-alpha"
Prepare for a new release in next few weeks.

The last release was Dec. 7, 2015 and since then there have been a number of critical commits to the master branch to better align WOFpy with the ODM2/ODM2PythonAPI, in particular @cdesyoun's recent commits cdesyoun@34038cced461f1b272ab3e96a48bd1357707b995 and cdesyoun@d1921a617b90203c5490ff768c33478e39876ebe which enabled WOFpy to work with [ODM2Pytho

[2016-11-08 18:42] emiliom commented on #61
As you prepare a new tagged release, please note the current mis-alignment of version labels/tags between the last github tagged release ("“v2.0.0009-alpha") and downstream pypi and conda packages ("2.0.9b0"). I'm copying notes about this that I just jotted down on our BiGCZ conference call notes from today:

[2016-12-09 22:33] valentinedwv commented on #61
WOFPy and ODM2api uploaded

https://pypi.python.org/pypi/WOFpy

https://pypi.python.org/pypi/odm2api

[2017-01-17 15:01] aufdenkampe commented on #61
@valentinedwv, what is your progress on finalizing this task, following the steps that we had discussed last week? These are:
* Preparing a GitHub Release of WOFpy, that is tagged "v2.0.10b" or perhaps "v2.0.10b1"
* Releasing this exact version on PyPi, pointing to this GitHub release (not the master branch), using the exact same version tag, and listing it as "beta" rather than "alpha" (to align

[2017-01-17 17:02] emiliom commented on #61
Regarding this:

@valentinedwv, just ping me via this github issue, when you let us know the github release is ready. I'll then follow up on conda packaging. No need for a separate email.

[2017-01-24 12:41] ocefpaf opened #64 "Travis-CI is failing on master"
It seems that the tests are failing in latest `master`. I am putting together a PR to add some Python 2/3 compatibility changes, but we need to fix `Travis-CI` first in order to properly assess the PR. The failures are mostly at `test/test_odm2_dao_sqlite.py`. See https://travis-ci.org/ODM2/WOFpy/ for the full log.

xrefL #63 and #62

[2017-01-25 20:00] emiliom opened #67 "Broken WSDL links (and SOAP endpoints?) on WOFpy instance main page"
@lsetiawan managed to get a production WOFpy instance up and running on the amazon cloud, with the test LBR ODM2 MySQL database. The [WOFpy instance start/main page is here](http://52.24.188.162:8080/odm2timeseries/). And FYI, his documentation/instructions on what he did is [here](https://github.com/ODM2/WOFpy/blob/master/docs/WOFpyODM2LBRproduction_installation_notes.md).

The REST services all

[2017-01-26 00:11] valentinedwv commented on #67
No idea on the WSDL.

Did it work in runserver?

[2017-01-26 00:15] valentinedwv commented on #67
think it can find, nor go outside of the top level www?

 sudo cp -r /home/ubuntu/WOFpy/examples/flask/odm2/timeseries /var/www/

curr_folder = os.path.abspath(os.path.dirname(__file__))
sys.path.insert(0, '%s/../../../' % curr_folder)

[2017-01-26 00:15] lsetiawan commented on #67
It doesn’t work, I get template not found errors on WSDL using the example runserver script.
--
Landung “Don” Setiawan, B.S.
Research Consultant
EIS | Applied Physics Laboratory
University of Washington
landungs@uw.edu

[2017-01-26 00:17] valentinedwv commented on #67
it wants to find these templates.

https://github.com/ODM2/WOFpy/tree/master/wof/flask/templates

On Wed, Jan 25, 2017 at 4:15 PM, Landung Setiawan <notifications@github.com>
wrote:

[2017-01-26 00:22] lsetiawan commented on #67
@valentinedwv So I should include a templates folder with my deployment? I thought this was brought in with the wofpy package.

[2017-01-26 00:27] valentinedwv commented on #67
Or add a hard coded path to the templates.
  app= wof.flask.create_wof_flask_multiple({conf_swis, conf_lcm, conf_csv}, templates="../../wof/apps/templates")

unless you know of a way to get resources from installed eggs, like you can with jars

[2017-01-26 00:43] lsetiawan commented on #67
@valentinedwv So, I solved the broken WSLD's thank to your suggestions. The WaterML2 seems to work also. SOAP is still not working though.

[2017-01-26 01:17] lsetiawan commented on #67
I tested the SOAP Service here: http://www.plumvoice.com/soaptester/ and it seemed to work.

[2017-01-26 06:59] emiliom commented on #67
Thanks, Dave and Don. Don, please update the document you've put together, when you get a chance.

I'll close this issue next week, once I've done more testing on the SOAP service.

[2017-01-26 19:29] ocefpaf commented on #67
That is possible. I can take a look at implementing this later.
@lsetiawan it is a similar case to https://github.com/miguelcleon/ODM2-Admin/pull/96/commits/c32ee956fc6cda1e1be5892b88b592c59447f4db , then in the code we can use either [pkg-resources](http://setuptools.readthedocs.io/en/latest/pkg_resources.html#package-discovery-and-resource-access-using-pkg-resources) or a clever `__filie__` and

[2017-01-26 19:32] emiliom commented on #67
@ocefpaf and @valentinedwv: yes, the plan is to implement a packaging and installation feature along these lines, later on. At least with conda. Let's finish the ODM2-Admin implementation first, though, so we can learn from that experience.

[2017-01-26 19:40] ocefpaf commented on #67
The implementation works with with both `conda` and `pip`.

Sure. But that one is a different beast... It is still unclear to me the right path forward. (But let us discuss this in https://github.com/miguelcleon/ODM2-Admin/pull/96)

[2017-01-31 18:00] valentinedwv commented on #61
revise numbering... code has 00010

[2017-02-07 17:51] valentinedwv commented on #67
Need to access the files in an packaged release from the package.
Will need testing.

http://stackoverflow.com/questions/6028000/python-how-to-read-a-static-file-from-inside-a-package
http://stackoverflow.com/questions/3071327/problem-accessing-config-files-within-a-python-egg

[2017-02-28 18:32] emiliom commented on #67
This issue was "fixed" (namely, we now know how to deploy SOAP and WSDL's properly) a few weeks ago. See @lsetiawan's [comment above from Jan 25](#issuecomment-275278345), and the WOFpy [installation documentation that implements the solution](https://github.com/ODM2/WOFpy/blob/master/docs/WOFpyODM2LBRproduction_installation_notes.md). I'll leave the issue open for now, though, while we do more ex

[2017-03-01 20:25] sreeder opened #69 "Database transaction rollback error"
When a query to the database fails all succeeding requests return an error, "can't reconnect until invalid transaction is rolled back
![screen shot 2017-03-01 at 1 25 30 pm](https://cloud.githubusercontent.com/assets/4721940/23479703/906af0fa-fe82-11e6-90b2-c55c12899c8a.png)
"

[2017-03-01 20:39] emiliom commented on #69
Thanks, @sreeder. Can you provide an example of a query that fails? I think you said one of the sample REST query url's failed. If so, please paste the link here.

[2017-03-01 20:48] sreeder commented on #69
@emiliom , I am actually  testing it now to try and get one to fail, but apparently it is happy today. I will keep testing and let you know as soon as I find one that fails. This is still something we should handle though, even if we can't figure out which one was failing for me. We don't want a user to have to come across this issue, and we have to restart all of the processes to get it to work a

[2017-03-01 20:50] sreeder opened #70 "can't connect to SOAP endpoint"
I get an error after trying to connect to the SOAP endpoint. I get the correct information when I connect to the .wsdl

![screen shot 2017-03-01 at 1 49 39 pm](https://cloud.githubusercontent.com/assets/4721940/23480660/f7be5780-fe85-11e6-9532-02c7271474e6.png)

[2017-03-01 20:51] sreeder commented on #70
Just noticed this is a duplicate of issue #67

[2017-03-01 20:51] #70 closed

[2017-03-01 20:57] emiliom commented on #70
Issue #67 was solved, though, and the solution (setup instructions) should be found in @lsetiawan's [deployment instructions](https://github.com/ODM2/WOFpy/blob/master/docs/WOFpyODM2LBRproduction_installation_notes.md). Let us know via issue #67 if you're still getting this error even though you followed the instructions step by step.

[2017-03-01 20:58] emiliom commented on #69
Agreed. But having a specific example will help me reproduce the problem and look into it.

[2017-03-05 21:15] emiliom commented on #69
@sreeder, as I mentioned in my email to the group a minute ago, I haven't run into this problem at all in our own LBR DB test deployment.

Let's leave this issue open for now in case the problem comes up again, or as a reference to follow up on (as you suggested) to ensure that there is proper error testing built in to prevent database locks.

[2017-03-07 17:24] lsetiawan opened #71 "Non-fatal error "bad datetime conversion" messages"
- On http://127.0.0.1:8080/odm2timeseries/rest/1_1/GetSiteInfo?site=odm2timeseries:USU-LBR-Mendon and http://127.0.0.1:8080/odm2timeseries/rest/1_1/GetSiteInfoMultple?site=odm2timeseries:USU-LBR-Mendon I am getting these non-fatal errors
[code]

[2017-03-07 18:11] valentinedwv commented on #71
Some dates are not converting.

Could make the error more detailed error message, and not fatal. If there is no conversion, it defaults to to NOW:
Core1_1.py:731
        try:
            beginDateTime =  dateutil.parser.parse(beginDateTime)
            endDateTime =  dateutil.parser.parse(endDateTime)
        except Exception as inst:
              logging.error('bad datetime conversion')

[2017-03-07 18:34] emiliom commented on #71
Thanks, @valentinedwv. We haven't looked into this; at this point we just wanted to capture the issue before we forget. Thanks for digging into it! Like @lsetiawan said, the error is not fatal.

[2017-03-07 19:06] emiliom commented on #71
@lsetiawan, I'm not sure why you added the section "Links to relevant WOFpy resources and documentation" on this issue. I don't think those links discuss anything specific to this issue. We may move that section out of [WOFpyODM2LBRtest_installation_notes.md](https://github.com/ODM2/WOFpy/blob/master/docs/WOFpyODM2LBRtest_installation_notes.md) later on, but for now they're still there for referen

[2017-03-10 08:03] #40 closed

[2017-03-10 08:35] emiliom opened #72 "Options for easier access / installation of "user data" (from examples/flask)"
@ocefpaf: We've sorted out the installation steps for a live WOFpy setup on an Ubuntu server. See [WOFpyODM2LBRproduction_installation_notes.md](https://github.com/ODM2/WOFpy/blob/master/docs/WOFpyODM2LBRproduction_installation_notes.md).

One of the installation steps we'd like to simplify or clarify is the "example" Data Access Object (DAO) code and configuration files for different data source

[2017-03-10 19:02] ocefpaf commented on #72
Actually it does, but it is in an awkward directory. You can download https://anaconda.org/odm2/wofpy/2.0.9b0/download/linux-64/wofpy-2.0.9b0-py27_0.tar.bz2 , unpack it, and navigate to the example directory to find it. In a installed version that directory will depended on the `Anaconda`/`miniconda` root installation and environment name.

That is the problem! If they are configuration they need

[2017-03-10 19:25] valentinedwv commented on #72
Need to access the files in an packaged release. Seems possible
Will need testing.

http://stackoverflow.com/questions/6028000/python-how-to-read-a-static-file-from-inside-a-package
http://stackoverflow.com/questions/3071327/problem-accessing-config-files-within-a-python-egg

[2017-03-10 19:32] ocefpaf commented on #72
Accessing files in a packaged release is easy to do but the users needs to write in those files that @emiliom mentioned or did I miss something?

[2017-03-10 20:07] emiliom commented on #72
Thanks, @ocefpaf and @valentinedwv !

Good to know that the conda package already brings in those user/example files, even if they're in an awkward directory!

(Note: this is referring to `examples/flask/odm2`) I think there may different use cases where the whole directory structure is needed, vs only one of the sub-directories (eg, `timeseries`) is needed. The deploy script should provide option

[2017-03-11 20:52] emiliom opened #73 "Adapting ODM2 timeseries DAO to Luquillo CZO ODM2 PostgreSQL DB"
From @miguelcleon:

(Regarding use of Site SamplingFeatures vs other SamplingFeature types)

[`examples/flask/odm2/timeseries`](https://github.com/ODM2/WOFpy/tree/master/examples/flask/odm2/timeseries), developed using the sample LBR ODM2 timeseries MySQL DB, is effectively the example DAO setup. For the LCZO (and other ODM2 DB's with timeseries result types) our approach will be to adapt and/or g

[2017-03-11 20:56] emiliom commented on #73
@miguelcleon, I'm pasting here this other comment of yours, for future reference:

But I'm not going to comment on it for now. I think we still have a ways to go in setting you up with WOFpy before we can focus on this topic per se. If Jeff comments on your question on the email thread, great. But my focus will be on getting WOFpy to work with your timeseries data, one incremental step at a time.

[2017-03-11 22:03] miguelcleon commented on #73
@emiliom Thanks that sounds good. I could post something about the errors I received but It's probably worth while to poke a little deeper.

[2017-03-12 01:37] emiliom commented on #73
Yes, let's also wait a bit until you have the sample MySQL LBR fully up and running, to compare against.

[2017-03-13 15:37] miguelcleon opened #74 "LBR MySQL Small example fails to load in MySQL 5.7"
The latest version of MySQL (5.7) won’t load the samplingfeature geometries in the LBR database (https://github.com/ODM2/ODM2/blob/master/usecases/littlebearriver/sampledatabases/odm2_mysql/LBR_MySQL_SmallExample.sql). Importing the database fails while loading samplingfeatures on MySQL 5.7. So right now you need version 5.6 if your installing MySQL fresh.

This post on stack over flow discusses t

[2017-03-13 16:14] lsetiawan commented on #72
I really like this suggestion by @ocefpaf. I think a cli script would be the simplest way to get users setup with a folder that they can customize to their needs, making changes to the DAO script etc. Then specify the server to use those configuration. This was somewhat similar to the direction we are taking for ODM2Admin...

@ocefpaf , regarding this:

I have started a docker image for the WOFPy

[2017-03-13 17:37] emiliom commented on #74
For follow-ups, the error apparently is this one (based on the stack overflow thread, above):
[code]

And here's [a Google search](https://www.google.com/#q=mysql+5.7+Error+%27Cannot+get+geometry+object+from+data+you+send+to+the+GEOMETRY+field%27+on+query&*) on that error message and MySQL 5.7, to help us get at the source of this problem.

My *hunch* is that this isn't a fundamental incompatibili

[2017-03-13 17:46] emiliom commented on #74
Forgot to add: As mentioned in our installation document, the LBR test database has been successfully tested with MySQL 5.6 **and** 5.5 (not just 5.6).

[2017-03-14 21:34] lsetiawan opened #75 "Reading from SQLite ODM2 timeseries"
## WOFPy Testserver deployment

When deploying WOFPy using SQLite database, I am getting errors. For example, when I request `http://127.0.0.1:8080/odm2timeseries/rest/1_1/GetSites` I these errors

### Frontend
[code]

### Backend
[code]

The errors also occur when requesting variable info: `http://127.0.0.1:8080/odm2timeseries/rest/1_1/GetVariableInfo`

## Looking into the problem by using Jupyte

[2017-03-14 21:36] emiliom commented on #75
Thanks, @lsetiawan. I'll just add that I've done some similar tests locally with a slightly different version of that LBR SQLite database. My conclusions are generally the same. But I'll try to add more details and more assessments later on.

[2017-03-15 13:59] ocefpaf commented on #72
@lsetiawan my initial plan is to copy the files that @emiliom mentioned:

I would go for the whole directory structure and we can add instructions to that directory.

However, in the future we can simplify that further with a single YAML config file (Not sure if that is possible though because I don't really understand all the moving parts of running WOFpy).

@emiliom should I start coding the CLI

[2017-03-30 02:46] emiliom commented on #72
Very late reply, but yes, please go ahead.

I'll review your PR #76 (and related PR's) soon.

[2017-04-03 18:18] emiliom commented on #75
@lsetiawan, I have a question about this:

I'm not sure I follow what you're saying here. It's clear that queries on individual tables (like `SamplingFeatures`, `TimeSeriesResultValues`) work, but queries that involve an explicit join (you have examples) or an entity like `Sites` that actually involves a "behind-the-scenes" join via SQLAlchemy polymorphism, fail.

I think the query tests you prese

[2017-04-13 16:30] ocefpaf commented on #64
Re-opening because there are more failures that we need to address.

[2017-04-13 16:30] emiliom commented on #64
Ok

[2017-04-17 17:08] lsetiawan opened #81 "Runserver arguments and wsgi entrypoint"
I am putting this as an issue because, I'm confused of which was is the way that WOFpy should be deployed. Currently, in the examples, the runserver scripts expect arguments, but this way doesn't work when I'm using uWSGI, which uses `wsgi.py` as the entrypoint.

So, when a user runs the `wofpy_config` CLI, should they get the configuration with this production setup in mind or the ones in example

[2017-04-17 20:03] emiliom commented on #81
@lsetiawan, I don't know enough about WOFpy setup to follow what you're saying!

Aren't you using uWSGI/wsgi.py in your live deployment? If so, didn't you run the runserver scripts with arguments?

Good question about what `wofpy_config` should do (production vs test). Can we ultimately provide options to do both, but maybe focus on one initially? What do you recommend? I'm not even sure what  you

[2017-04-17 20:17] lsetiawan commented on #81
@emiliom

I did use `wsgi.py` but I had to tweak the `runserver.py` and defining the arguments values inside the script.

Yea, it is currently just copying the example files, but ultimately those files would be files for either production setup or testing setup. I was thinking that maybe the production setup would have the runserver script without the arguments, and the test would be the one with

[2017-04-17 20:42] emiliom commented on #81
Ah, I see.

I'll be good to hear what @ocefpaf has to say. But @lsetiawan, you're the pro here (among the 3 of us)! Can you lay out a detailed, clean suggestion? Can those argument you edited in the production setup be part of a separate json configuration file that the use would need to fill out, for a production environment? Or do users need to make other edits to `runserver.py` anyway?

[2017-04-18 14:51] ocefpaf commented on #81
I am confused as well. I had the impression that copying the examples and letting the users edit them was the decision from https://github.com/ODM2/WOFpy/issues/72#issuecomment-290286459

@ocefpaf Any thoughts on this? Thanks.

That seems OK IMO but I am not a WOFpy users to really say that is the best way.

PS: I am not even convinced that copying the examples is a good pattern. I am having a har

[2017-04-18 14:57] ocefpaf opened #83 "Some tests add a directory that is not in the repository"
Some tests, like https://github.com/ODM2/WOFpy/blob/11a7785d2a3682e69da98cb578fd1d73dddf1656/test/test_cbi_dao.py#L9 , are adding an `implementations` directory to the path (`sys.path.append('../implementations/')`) but that directory does not exist in the source tree.

If those are really needed we need to commit them. I will send a PR to remove that for now since that is quite confusing and may

[2017-04-18 16:13] lsetiawan commented on #81
Ah, I didn't quite remember that decision, if that's the case then that's fine to just keep it that way. I guess as long as we provide a good documentation of what should be changed.

Maybe we shouldn't just copy the examples, but maybe copy actual configuration files depending on the users need to either deploy it as testing or production?

[2017-04-18 16:35] #83 closed

[2017-04-18 18:51] lsetiawan opened #90 "Fix imports in tests"
@ocefpaf Do you want me to go through each failing test script and fix the import statements?

[2017-04-18 18:56] ocefpaf commented on #90
If you have time please do. I am clocking out now and I can address that tomorrow if you are busy.

[2017-04-18 20:13] #90 closed

[2017-04-18 20:57] emiliom commented on #81
Yes, that was definitely the decision. *However*, that doesn't mean it's the only thing the `wofpy_config` CLI should do! We're trying to simplify the installation and configuration experience.  @lsetiawan raises good questions about `runserver.py` and production vs test configurations. Earlier (72#issuecomment-286749464) @ocefpaf made this suggestion:

That's all on the table for discussion. Thou

[2017-04-18 21:01] lsetiawan commented on #81
@emiliom Thursday won't work for me, as I have work lined up for Anthony's project. Can we do Friday? Thanks.

[2017-04-18 21:04] emiliom commented on #81
Right, I forgot. Friday is actually better for me too.

[2017-04-18 21:34] emiliom commented on #81
For reference, specially for @ocefpaf: [Here's our documentation on a production installation & configuration](docs/WOFpyODM2LBRproduction_installation_notes.md), which describes the changes done to `runserver.py`, at least for out canonical MySQL ODM2 Little Bear River sample database.

[2017-04-18 22:47] ocefpaf commented on #81
Friday is fine for me.

PS: the link above is not found at https://github.com/ODM2/WOFpy/issues/docs/WOFpyODM2LBRproduction_installation_notes.md

[2017-04-18 23:15] emiliom commented on #81
Re: doc url: sigh. I tried a relative link w/o actually testing it. I've fixed the url above, but here it is, too: https://github.com/ODM2/WOFpy/blob/master/docs/WOFpyODM2LBRtest_installation_notes.md

[2017-04-18 23:22] emiliom commented on #72
@lsetiawan, to help support discussions in #81, please add here a **brief** listing of:
- what files copied from `wof/examples` need to be edited by a user (use `odm2/timeseries` as your example)
- what other files need to be edited or created (wgsi.py, etc?), if they're not from `wof/examples`
- which ones need to be edited/created for a live vs a test deployment

Please don't bother explaining a

[2017-04-19 20:18] emiliom commented on #72
@lsetiawan, just a reminder, in case this got lost among the many other WOFpy github communication. Thanks.

[2017-04-19 20:41] lsetiawan commented on #72
The files that need to be edited by user for `odm2/timeseries` would be:
- [odm2_config_timeseries.cfg](https://github.com/ODM2/WOFpy/blob/master/wof/examples/flask/odm2/timeseries/odm2_config_timeseries.cfg) for application customization.. I left this file alone because I'm still not sure about all the parts of the customization, but Ideally, users probably want to edit this
- [runserver_odm2_tim

[2017-04-19 21:20] emiliom commented on #81
Just for reference, from https://github.com/ODM2/WOFpy/blob/master/docs/WOFpyODM2LBRtest_installation_notes.md, for a test deployment, `runserver.py` is passed arguments that look like this:
[code]

[2017-04-19 21:23] emiliom commented on #72
Great, thanks! Regarding this:

Is the database connection the only thing that a user needs to customize on that file, typically? If it is, it seems like one setup simplification would be to move the database connection info to the `odm2_config_timeseries.cfg`. What do you think? On the other hand, based on looking at the [test-deployment documentation](https://github.com/ODM2/WOFpy/blob/master/do

[2017-04-19 21:30] lsetiawan commented on #72
Yea. This could possibly work, I'll take a closer look on `configparser` library to see if I can implement this.

Because of how uwsgi do things, I think it's best not to use any command-line argument on production. The test-deployment documentation shows a command line argument because this is a quick test of the script, it doesn't use `wsgi.py` at all.

[2017-04-19 21:31] emiliom commented on #72
Ah. Got it.

[2017-04-21 16:54] emiliom commented on #64
Travis-CI is still failing, right? I remember you said you were working on the last fixes to get that working. Do you expect to have a PR today?

cc @lsetiawan

[2017-04-21 16:58] ocefpaf commented on #64
Probably not. I am stuck there. Nothing that I tried worked. (Not even reverting to the last passing commit!)

[2017-04-21 17:13] emiliom commented on #81
A follow up clarification to an earlier comment from @lsetiawan:

As described succinctly [here](72#issuecomment-295432274), there are **two** kinds of configuration files:
1. The `.cfg` file that's in `examples` and is used by `runserver.py`. Used by both test and production deployments.
2. Other configuration files used only in production deployments, and involving wsgi, linux init system (syste

[2017-04-21 17:30] emiliom commented on #64
Ok, I just got a clarification from @lsetiawan. Right now, Travis-CI should **only** be running `test_wof.py`. **Nothing else.** Can you give that a try?

[2017-04-21 17:32] ocefpaf commented on #64
Let me send a PR that will split the text context so we can run everything as is but leaving the `test_odm2_dao_sqlite.py` in a `allow_failure` section. That way we get an "all green" from Travis-CI but we can still see the failures (and work on them).

Sounds OK?

[2017-04-21 17:34] emiliom commented on #64
Yeah, we like that!

[2017-04-21 19:56] ocefpaf commented on #64
Closed by #98

Well.. Kind of :smile:
But let's open a fresh issue for `test_odm2_dao_sqlite.py`.

[2017-04-21 19:56] #64 closed

[2017-04-21 19:58] emiliom commented on #64
Cool, thanks! Yup, we'll open a fresh issue when we're ready to try `test_odm2_dao_sqlite.py` again.

[2017-04-21 20:00] ocefpaf opened #99 "test_odm2_dao_sqlite is failing on master"
For future reference the last time this test passed was in https://travis-ci.org/ODM2/WOFpy/builds/194949742

[2017-04-23 03:23] emiliom commented on #72
A summary of what we (@lsetiawan, @ocefpaf and me) decided on Friday 4/21:
- `wofpy_config.py` will take two additional arguments (it already takes the copy-to file path): the "example" to be copied, and the deployment type (test vs production)
- split off into a new directory ("`wof/examples/flask_notworking`") the DAOs (directories) that have not been tested recently and will not be tested soon

[2017-04-25 17:00] emiliom commented on #73
@miguelcleon, I don't see any reference to a `GROUP BY` problem on this issue. Can you post the problem and errors here, or if it's from a different type of problem, go ahead and submit a new issue. Thanks.

[2017-04-25 17:07] sreeder opened #102 "GROUP BY error in PostgreSQL ODM2 timeseries DB"
I am getting a Group by error when connecting to a Non-LBR ODM2 postgres database.

<img width="1216" alt="screen shot 2017-04-25 at 11 02 46 am" src="https://cloud.githubusercontent.com/assets/4721940/25397795/d3e83cda-29a6-11e7-94f9-c4baef0138e9.png">

<img width="1212" alt="screen shot 2017-04-25 at 11 04 01 am" src="https://cloud.githubusercontent.com/assets/4721940/25397845/03b17d64-29a7-11e7

[2017-04-25 17:14] miguelcleon commented on #102
For the GetSites error: to work around this issue I added the below in the `get_all_sites` function in odm2_timeseries_dao.py

`group_by(odm2_models.Sites.SamplingFeatureID)`

[2017-04-25 17:16] miguelcleon commented on #102
I don't see odm2_timeseries_dao.py in the code base any more so I'm not sure where that is now.

[2017-04-25 17:21] emiliom commented on #102
We're finishing up a substantial refactoring of the organization of the DAO's. `odm2_timeseries_dao.py` is now at
https://github.com/ODM2/WOFpy/blob/master/wof/examples/flask/odm2/timeseries/odm2_timeseries_dao.py

[2017-04-25 17:28] lsetiawan commented on #102
@miguelcleon https://github.com/ODM2/WOFpy/issues/102#issuecomment-297101305 What did you add here? I don't see any difference compared to example https://github.com/ODM2/WOFpy/blob/master/wof/examples/flask/odm2/timeseries/odm2_timeseries_dao.py#L42

[2017-04-25 17:32] miguelcleon commented on #102
@lsetiawan yeah your right, I saw that once @emiliom pointed out the code. I'm trying to figure out what I actually did.

[2017-04-25 17:52] miguelcleon commented on #102
now I'm getting other errors in the new code and the old code. Not sure why the old code is not working when it was working before.

In the new code I'm getting an import error
`ImportError: No module named examples.flask.odm2.timeseries.odm2_timeseries_dao`

[2017-04-25 17:57] lsetiawan commented on #102
@miguelcleon how did you install the wofpy package?

[2017-04-25 18:00] miguelcleon commented on #102
@lsetiawan does the error I'm getting have to do with file path changes you recently made? I installed the wofpy package by cloning the repo and creating a conda enviroment from the requirements.txt
then from the wofpy conda environment I run
`
python runserver_odm2_timeseries.py --config=odm2_config_timeseries.cfg --connection=connection.file`

[2017-04-25 18:00] miguelcleon commented on #102
I changed the connection.file to match my db

[2017-04-25 18:04] lsetiawan commented on #102
@miguelcleon Ah, yes, but it appears that wofpy was not installed. Please run:
`python setup.py sdist && version=$(python setup.py --version) && pushd dist  && pip install WOFpy-${version}.tar.gz && popd` to install wofpy into your conda environment.

[2017-04-25 18:14] miguelcleon commented on #102
Ok, I ran that but I'm still getting the same import error

[2017-04-25 18:18] lsetiawan commented on #102
hmm... I'm pulling in @ocefpaf as to why the import error is happening... https://github.com/ODM2/WOFpy/issues/102#issuecomment-297114389

[2017-04-25 18:20] emiliom commented on #102
I wouldn't recommend using the current WOFpy master. We're still doing testing after the refactoring (right, @lsetiawan?). Installation should be from the conda package. However, @miguelcleon, I understand why you want to clone from the repo, b/c you're also tweaking the code directly. Hmm.  I don't know what to recommend, other than asking @lsetiawan to accelerate the testing of the code in maste

[2017-04-25 18:26] lsetiawan commented on #102
@emiliom Not sure if you have a clean postgresql db that I can test on also, so that maybe i'll encounter the same errors. Thanks.

@miguelcleon I had no problem when installing the new wofpy by cloning the master, so i'm not sure why you are encountering this problem... I will take a look further, and see how I can help. FYI, I am testing this on Ubuntu 16.04, not sure what OS you have. Thanks.

[2017-04-25 18:29] emiliom commented on #102
I don't, sorry.

May I suggest you open a new issue, so that you don't overrun this issue that was originally about the GROUP BY error (and swamp Stephanie with unrelated messages)? Now it's about installation from master ...

[2017-04-25 18:52] miguelcleon opened #104 "installing from github repo master branch get an import error"
When installing from master I'm getting an import error

[code]

Operating system is ubuntu 16.04
pinging @lsetiawan

[2017-04-25 18:53] miguelcleon commented on #104
actually 16.04

[2017-04-25 18:54] lsetiawan commented on #104
@miguelcleon Please list the steps you take to install wofpy package. Thanks.

[2017-04-25 18:58] miguelcleon commented on #104
Ok, I'm going to redo it first

[2017-04-25 18:58] ocefpaf commented on #104
I tried:

[code]

@miguelcleon can you try that and let us know what happens?

[2017-04-25 19:05] miguelcleon commented on #104
I get ['WOF', 'WOF_1_1', 'WaterML', 'WaterML_1_1', 'WofWsdls', '_SERVICE_PARAMS', '__builtins__', '__doc__', '__file__', '__name__', '__package__', '__path__', '__version__', 'apps', 'core', 'core_1_0', 'core_1_1', 'site_map']

This command still gives an import error

python runserver_odm2_timeseries.py --config=odm2_config_timerseries.cfg --con
nection=connection2.file

`Traceback (most recent c

[2017-04-25 19:06] lsetiawan commented on #104
From @miguelcleon:

ImportError: No module named examples.flask.odm2.timeseries.odm2_timeseries_dao

Looking at the actual code [runserver_odm2_timeseries.py](https://github.com/ODM2/WOFpy/blob/master/wof/examples/flask/odm2/timeseries/runserver_odm2_timeseries.py), this error doesn't seem to be coming from the actual since the import is actually `from wof.examples.flask.odm2.timeseries.odm2_times

[2017-04-25 19:08] lsetiawan commented on #104
I have tested on same platform and not getting any error:
[code]

[2017-04-25 19:14] ocefpaf commented on #104
@miguelcleon I also tested and I did not get the error. Can you send us the result of:

[code]

PS: I only tested the call b/c I don't have the `odm2_config_timerseries.cfg` and `connection2.file` files. But that results in an error after the imports/

[2017-04-25 19:17] miguelcleon commented on #104
ok I ran @lsetiawan commands which include running setup.py and I got a different error

[code]
Then running what @ocefpaf asked:
[code]

[2017-04-25 19:19] lsetiawan commented on #104
@miguelcleon like I suspect, somehow wofpy is actually not installed in your conda environment.. hmm..

[2017-04-25 19:23] miguelcleon commented on #104
yeah, it wasn't I hadn't ran the setup.py afterall

now I get
Then running what @ocefpaf asked:
[code]

but then
[code]

[2017-04-25 19:25] miguelcleon commented on #104
updated the last comment with the entire traceback

[2017-04-25 19:27] ocefpaf commented on #104
Thanks, that helps!

Can you share the necessary files to reproduce that run? I want to be sure if the issue is `backports.configparser` or something else. If so we may need to re-think the strategy to update the code :unamused:

[2017-04-25 19:35] miguelcleon commented on #104
Ok, I'll change the database to a test db in the connection file, how should I share it? Can I just email it to you guys?

[2017-04-25 19:37] ocefpaf commented on #104
That is fine. Ideally I would like the smallest config/files that reproduces the problem so we can use it as a test on Travis-CI.

[2017-04-25 19:54] lsetiawan commented on #104
@ocefpaf What happened to conda-forge channel?
[code]

[2017-04-25 19:56] ocefpaf commented on #104
It is not `conda-forge` but all of anaconda.org at this moment. We need to wait until the service is back up...

[2017-04-25 19:58] lsetiawan commented on #104
K. It's back. I guess the cloud is not always up, sometimes it rains; server down. 😉

[2017-04-25 20:34] lsetiawan commented on #104
@miguelcleon So I did your steps and having no problem:

[code]

@miguelcleon I noticed that you misspelled `timeseries`

cfg --connection=connection2.file

is your `.cfg` supposed to be called `odm2_config_timerseries.cf` or `odm2_config_timeseries.cfg`

[2017-04-25 20:51] miguelcleon commented on #104
Wow, yes. That fixed it, odm2_config_timerseries.cfg is a typo it was supposed to be odm2_config_timeseries.cfg

Well certainly a more friendly error, would be useful here.

[2017-04-25 20:56] #104 closed

[2017-04-25 21:44] miguelcleon commented on #102
@sreeder actually I'm getting the same error for both of these
The only one I got working so far is a call like http://127.0.0.1:8080/odm2timeseries/rest/1_1/GetSites?site=odm2timeseries:Rio%20Icacos%20Trib-IO

[2017-04-25 21:52] miguelcleon commented on #102
Here is a commit I added to my fork https://github.com/miguelcleon/WOFpy/commit/f53476b7edf5b335b808e5cbc2f45b7a9ef0beab

[2017-04-28 22:02] lsetiawan commented on #75
PR https://github.com/ODM2/WOFpy/pull/111 should fix the reading from SQLite for ODM2 Timeseries. Though another error has emerged:

[code]

This error occurs when `WOFpy` is running on server by doing `python runserver_odm2_timeseries.py --config=odm2_config_timeseries.cfg`. The error emerge when I click on the samples api calls such as `GetSites` to `GetVariables` and also when I refresh the pag

[2017-05-01 19:14] emiliom commented on #99
Related/dependent on #75

[2017-05-01 20:02] emiliom commented on #102
Just wondering the status of this issue. @miguelcleon, are you saying the [commit you added on your fork](https://github.com/miguelcleon/WOFpy/commit/f53476b7edf5b335b808e5cbc2f45b7a9ef0beab) resolved the GROUP BY problems for you?

I'm somewhat confused b/c I remember seeing many other exchanges on this issue last week; I assume they've been deleted? Some were referring to changes Miguel thought

[2017-05-01 20:14] miguelcleon commented on #102
@emiliom The commit I added in my fork only resolved the group by error for the `GetSites?site= ` type call. That commit on my fork isn't terribly useful. Yeah, I deleted out some of the comments because they didn't seem helpful.

[2017-05-01 20:17] emiliom commented on #102
Well, that's still progress! Thanks. Are you saying that a `GetSites` request w/o the `site=` argument still returns a GROUP BY error?

[2017-05-01 20:18] miguelcleon commented on #102
Yes, the same error Stephanie posted here.

[2017-05-01 21:20] emiliom commented on #72
Just to make recent discussion of issuing a new release more prominent ...

@ocefpaf [asked on the 26th](https://github.com/ODM2/WOFpy/pull/108#issuecomment-297511247), *"I believe we are OK to issue a new release. What do you think?"*

@lsetiawan replied: "I think we need to update the README first before another release to include things about the wofpy_config. Also, I'm working on fixing the DA

[2017-05-01 21:58] lsetiawan opened #112 "Multithreading error on SQLite and MySQL"
This is following up to previous issue on SQLite after dao was updated to use `odm2api` querying engine. A test was done on MySQL Little Bear Database, and when the server is live I am getting

[code]

This is similar to issue [75 for SQLite](https://github.com/ODM2/WOFpy/issues/75#issuecomment-298116906).

After some research, I get to the same conclusion of queries not being closed each time it'

[2017-05-02 00:27] emiliom commented on #112
Thanks, @lsetiawan. Darn. I'll try to take a look later.

[2017-05-02 06:52] emiliom commented on #75
@lsetiawan, given the multi-threading problems you're running into (#112), how about going back to the SQLAlchemy-based querying technique that you had already solved for SQLite, which got you past the "join" errors? I remember that was working well with sites, in the notebook tests we worked on together.

With all the extensive joining that's needed in WOFpy, it may be that fully using the odm2ap

[2017-05-02 12:47] ocefpaf commented on #72
- README update is complete in https://github.com/ODM2/WOFpy/pull/109
- timeseries DAO in waiting to be merged https://github.com/ODM2/WOFpy/pull/111

I think we should go ahead with #111, pin it for the working version of `odm2api`, and release without support for Python 3 (still incomplete).

[2017-05-02 16:25] lsetiawan commented on #75
@ocefpaf A follow up to the SQLite problem, I have another twist. When I'm deploying WOFpy on Ubuntu 16.04, the `KeyError` problems has gone away, with our current DAO.. Not sure if you have encountered the same thing. I have tested both on Ubuntu 16.04 on AWS and Docker. @emiliom how should I proceed? Thanks.

[2017-05-02 16:51] emiliom commented on #75
Interesting. I haven't run odm2api on Ubuntu 16.04, so I haven't seen this. Though I'd guess it's not Ubuntu per se, but other things.

Given the current `odm2api` problems you're seeing (#112), let's stick with the SQLAlchemy querying approach for now.

Still, what you had figured out before did resolve the "join" errors, didn't it? Or were there things that still weren't working?

[2017-05-02 16:56] lsetiawan commented on #75
When I run things on Ubuntu 12.04, which is what Travis CI uses, indeed things broke.

Things worked great for SQLite, then when I tried the approach on MySQL, the query results differ between the old dao way, and the new way. I accidentally deleted the ipynb that has the new improvements, so i gotta create a new one so I can show you later. Thanks.

[2017-05-02 17:04] emiliom commented on #72
If it were working, yeah. But it's got some important problems (#112), so let's hold off.

[2017-05-02 17:14] lsetiawan commented on #112
One difference I see between how the wofpy dao is querying is that `scoped_session` is [used](https://github.com/ODM2/WOFpy/blob/master/wof/examples/flask/odm2/timeseries/odm2_timeseries_dao.py#L31), but `odm2api` is [not using](https://github.com/ODM2/ODM2PythonAPI/blob/master/odm2api/ODMconnection.py#L32) that.

`scoped_session` is an approach for Session Management. Without `scoped_session`, th

[2017-05-02 17:18] emiliom commented on #75
Arrgh. FYI, my old/current laptop is Ubuntu 14.04, so that's where I've done all my testing.

Ah ... Ok.

[2017-05-02 17:39] emiliom commented on #112
Just for reference: this issue is linked to [PR #111](https://github.com/ODM2/WOFpy/pull/111). See that PR (now closed) for related discussions.

[2017-05-02 18:12] lsetiawan commented on #75
Alright, so after some deeper comparison on environments (both conda and os) with Travis CI, it seems like the `sqlalchemy` version is the problem. After https://github.com/ODM2/WOFpy/commit/04e3b0ee2683c5850d2ec439e357fc45013f183d I didn't realize that I'm still using `conda-forge` when testing.

When creating conda environment without using `conda-forge` channel, `sqlalchemy` library is pulled f

[2017-05-02 18:19] emiliom commented on #75
sounds like progress, @lsetiawan!

So, I assume you're saying that with the newer version of sqlalchemy you no longer run into problems with the SQLite ODM2 LBR sample DB, say, on your local computer?? And WOFpy works like a charm with that SQLite DB, locally??

If that's true (let us know), maybe what we (@ocefpaf) should do is create a new `odm2api` conda package build based on the same odm2api

[2017-05-02 18:37] lsetiawan commented on #75
Just performed `runserver.py` with the updated `sqlalchemy` by doing `conda update sqlalchemy`

[code]

Seems like there is an updated version on odm2 channel, so I assume `sqlalchemy` is pinned. But, everything works great with the updated sqlalchemy for `SQLite` and `MySQL`! 😸

[2017-05-02 18:47] emiliom commented on #75
Updated version of what? I assume you mean `sqlalchemy`, b/c I see the new 1.1.7 version.

Great. Did you try several of the REST WOFpy 1.0 or 1.1 sample requests, and they all worked fine?

Thanks!

[2017-05-02 18:50] lsetiawan commented on #75
Yes, `sqlalchemy`.

Yes.

[2017-05-02 18:52] emiliom commented on #75
Wonderful!!

[2017-05-02 18:54] ocefpaf commented on #75
When I removed the dependency on the `conda-forge` channel I already added an updated version of `sqlalchemy` to the `odm2` channel, as you already found out :smile:

I just tested a fresh environment, `conda create -n WOFPY27 python=2.7 wofpy`, and I do get `sqlalchemy 1.0.17` instead of `1.1.7`. I am investigating this...

[2017-05-02 18:56] ocefpaf commented on #75
@lsetiawan it is `spyne`. See https://github.com/ODM2/conda-recipes-ODM2/blob/master/recipes/spyne/meta.yaml#L29

I am checking to see if there is an updated  version of `spyne` that we can use.

[2017-05-02 18:59] lsetiawan commented on #75
Aha! That's the culprit. Nice find 😄

[2017-05-02 19:05] ocefpaf commented on #75
PR https://github.com/ODM2/conda-recipes-ODM2/pull/57 should fix that.

[2017-05-03 22:16] lsetiawan opened #116 "Timeseries DAO returning `TimeSeriesResults` when getting `Sites`"
Based on @emiliom comment: https://github.com/ODM2/WOFpy/pull/114#discussion_r114661014

I opened up this issue as a reminder to revisit the [`odm2_timeseries_dao.py`](https://github.com/ODM2/WOFpy/blob/master/wof/examples/flask/odm2/timeseries/odm2_timeseries_dao.py) regarding what's queried, especially `get_all_sites`.

[code]

`TimeSeriesResults` are queried.. why? Our thoughts are to remove th

[2017-05-03 22:19] emiliom commented on #116
More specifically, having `TimeSeriesResults` in the `query` method only results in having `TimeSeriesResults` returned by the query. But AFAIK it's only needed as a query **criteria**, to select only Sites that are associated with `TimeSeriesResults`. So I don't see why it needs to be **returned** by the query.

Low priority ...

[2017-05-08 16:28] lsetiawan commented on #72
As of 5/8/2017 [`test_wof.py`](https://travis-ci.org/ODM2/WOFpy/jobs/228988489#L675) and [`test_wofpy_soap.py`](https://travis-ci.org/ODM2/WOFpy/jobs/228988489#L684) are now passing.

`test_wofpy_soap.py` is currently testing against the `swis` database  not `odm2`, does this need to change at all?

[2017-05-08 16:33] emiliom commented on #72
No need to change it at this time.

Wasn't `test_odm2_dao_sqlite.py` also passing? I'm pretty sure I saw it over the weekend on the Travis-CI list of successful ("passed") tests. Can you double check?

And FYI, there are also a couple of other tests that are passing, according to Travis-CI; though we don't care about them much, it's nice to see.

[2017-05-09 15:45] sreeder commented on #102
@emiliom   @lsetiawan  Would it be enough to give you access to the server that we are trying to host wofpy on? If not I can work on creating a copy of the live database onto that server that you guys could have access too.  The issue with giving you access to the live database is that there are multiple firewalls we don't control, it is easier for us to make a copy and move into a demilitarized z

[2017-05-09 15:57] lsetiawan commented on #102
@sreeder if that server has the connection to the database, and we get the credential to the database, then that would work. Thanks.

[2017-05-09 17:34] emiliom commented on #102
Wouldn't it be easier (for Don and I) if we could deploy the postgresql database on our local machines, for testing? We would not expose anything to the internet, of course. It would just be to minimize hassles and lags during testing and bug hunting.

@sreeder, that would just mean you sending us a postgresql dump file that we can then restore into a working database.

[2017-05-10 02:57] sreeder commented on #102
@emiliom that is a great idea. I have create the postgresql dump file and added it to the ODM2 Google drive folder, under ODM2_db_scripts. Let me know if you have any troubles finding it.

[2017-05-10 03:21] emiliom commented on #102
Thanks, @sreeder! I was able to download it. @lsetiawan and I will let you know if we have any issues restoring it into Postgresql.

[2017-05-10 17:00] emiliom commented on #99
@lsetiawan and @ocefpaf, we can close this issue, right? If so, please go ahead and close it. Reference the PR that fixed it, if you can find it easily.

[2017-05-10 17:01] emiliom commented on #75
@lsetiawan, we can close this issue, right?

[2017-05-10 17:04] ocefpaf commented on #99
Yep. Forgot to xref in the PR.

[2017-05-10 17:04] #99 closed

[2017-05-10 17:07] lsetiawan commented on #75
Yep! All is well on SQLite front regarding this issue.

[2017-05-10 17:07] #75 closed

[2017-05-10 17:40] emiliom commented on #72
@ocefpaf, it looks like the main remaining wofpy task for you, from the [most recent list of target tasks](#issuecomment-296416841), is this:

This is partly dependent on decisions about directory names being implemented in PR #115. Those decisions are not settled, mainly due to me being too busy to review the PR :(. But would you be able to make some progress this week, before your travel starts?

[2017-05-10 18:32] ocefpaf commented on #72
Can we have a live meeting to discuss that? If you are too busy it can be @lsetiawan and myself, I have a few questions that may be easier and faster to ask over a call.

[2017-05-10 19:13] lsetiawan commented on #102
@sreeder What postgresql and postgis versions are you using? Thanks

[2017-05-10 19:38] lsetiawan commented on #102
Also, I am currently having `ROLE` issues. Please dump without any role/owner associations Thanks.

[code]

[2017-05-10 19:44] lsetiawan commented on #72
@ocefpaf I am available whenever except Thursday. Thanks.

[2017-05-10 19:45] ocefpaf commented on #72
Friday? (I am clocking out now :weary:)

[2017-05-10 19:46] lsetiawan commented on #72
Friday's good. :) Enjoy the rest of your day!

[2017-05-10 19:46] emiliom commented on #72
Friday is good. We'll pick a time later.

[2017-05-11 17:12] sreeder commented on #102
@lsetiawan  we are using Postrgresql version 9.5.6. I don't believe he actually has postgis installed. and I have updated the script on google drive  without the role information.

[2017-05-11 18:42] emiliom commented on #102
Thanks, @sreeder! FYI, @lsetiawan will work on this tomorrow; he usually works on a different project on Thursdays.

[2017-05-12 16:18] lsetiawan commented on #102
@sreeder There doesn't appear to be an `odm2` schema in your dump, or am I missing something. Thanks.

<img width="348" alt="screen shot 2017-05-12 at 09 15 31" src="https://cloud.githubusercontent.com/assets/17802172/26007106/fed664c6-36f3-11e7-9547-6bfe469d3ccc.png">

[2017-05-12 16:33] emiliom commented on #102
You're right, @lsetiawan, there's supposed to be an `odm2` schema. You don't necessarily show the entire content of the Schemas object in your screenshot, but after some checking with PgAdmin, I would expect schemas to be presented in alphabetical order, so it should be before `pg_catalog` (BTW, is this a screenshot from PgAdmin or DBeaver? I suspect it's the latter. But I assume you're used to se

[2017-05-12 16:46] sreeder commented on #102
@emiliom @lsetiawan so sorry about that guys, I didn't realize he sent me two files, and of course I uploaded our Django one, instead of the ODM2. I have replaced the incorrect file on google drive with the correct odm2 schema file

[2017-05-12 16:56] emiliom commented on #72
For reference: See improvement in PR #120, "Modified runserver to be able to use in production"

[2017-05-12 17:24] lsetiawan commented on #102
@sreeder No problem. Thanks for replacement! All works now. I have an `odm2` database with `odm2` schema with their appropriate tables! 😸

Now off to testing!

[2017-05-12 17:26] emiliom commented on #102
Awesome! Thanks, @lsetiawan and @sreeder!

[2017-05-12 19:39] miguelcleon commented on #102
@lsetiawan I was running some unrelated SQL queries against a PostgreSQL database and I happened to include an order by clause where one was inappropriate. I got a similar GROUP BY error. Seems like this could happen in general when the SQL is malformed.

Seems like it would be a good idea to run the SQL commands directly against PostgreSQL and tweak them, then try and translate the changes back i

[2017-05-12 19:43] emiliom commented on #102
Yeah, but the weird thing is that the SQLAlchemy code does work with MySQL and SQLite! You'd think GROUP BY errors would be basic SQL issues that would work and fail the same across RDBMS's; but you never know.

I think @lsetiawan will first test the offending SQLAlchemy code in isolation, outside wofpy. If he's still having problems, I'll work with him to translate that code into equivalent SQL (

[2017-05-12 19:49] miguelcleon commented on #102
Yes, I would think so, I guess PostgreSQL tends to be a bit less forgiving then other RDBMS's  :persevere:

[2017-05-12 19:52] lsetiawan commented on #102
This is exactly what I'm doing now 😄

[2017-05-12 19:53] emiliom commented on #102
Good point.

Great!

[2017-05-12 20:18] emiliom commented on #81
Note to self and anyone else who looks at this issue: We've made lots of progress on the issues discussed here. This is being tracked mostly in issue #72

[2017-05-12 21:52] emiliom commented on #72
Note for follow-up: in the current production/server configuration (and also in the previous configuration), the database user & password are found in a file that's nominally exposed to the web. Can we change that in a way that doesn't make the setup much more complicated, and that works equally well for production and test deployments?

[2017-05-12 21:54] lsetiawan commented on #102
Looking at the `get_all_sites` in the DAO, this is where the problem lies for `GetSites` query.

I modified the query a bit to make it work and here's what I found:

## First Finding
- Seems like Postgresql require you to list all the Tables involved in GROUPBY to work properly
- Since `Sites` and `TimeSeriesResults` are polymorphic tables, I only put `odm2_models.Sites` rather than `odm2_models.S

[2017-05-12 21:57] lsetiawan commented on #72
@emiliom Do you mean the '.cfg' file? Can't the user just move that to a different directory within the server and just put the absolute path within the `runserver` script?

[2017-05-12 22:00] emiliom commented on #72
Yes; previously it was hard-wired in the runserver script, which is obviously also exposed.

You tell me! Is that doable? I hope so. If it is, we should probably recommend it in the documentation as a "best practice".

[2017-05-12 22:03] lsetiawan commented on #72
Yea. That's doable. Definitely a great recommendation.

[2017-05-12 22:04] emiliom commented on #102
Nice work. Let's look at it together on Monday. I'll be able to compose equivalent SQL queries then, to compare.

What happens when you run the second SQLAlchemy query type ("Second Finding") against the MySQL LBR DB? Does it work, and do you get the same number of sites as in the original query?

I'm guessing that if you run the first SQLAlchemy query type ("First Finding") against that DB, you'l

[2017-05-12 22:06] emiliom commented on #102
My guess is that your second query is the way to go. And that's the query type we had investigated a couple of weeks ago, though not with postgresql. If it works with MySQL and SQLite, we'll just have to make some small tweaks to the code in `get_all_sites` that handles the response, I think.

[2017-05-12 22:06] emiliom commented on #72
Great.

[2017-05-12 22:15] sreeder commented on #102
@emiliom  @lsetiawan . Hey, I am not understanding why we are trying to get the TimeSeriesResults back when we are searching for all of the sites. and why are we doing a group by and not just trying to get all of the DISTINCT sites? Also, it would probably be easiest to query the SamplingFeature object and filter by type of "Site".

[2017-05-12 22:23] emiliom commented on #102
@sreeder, we'll explain better on Monday. Right now we weren't trying to explain it to a wider audience :wink:

Very brief answers:

Because that's how the code was set up before we started working with it, partly b/c it assumes that the ODM2 database could have different result types and this DAO is intended to only return sites that have timeseries results.

We haven't explored DISTINCT in this

[2017-05-15 16:27] sreeder commented on #102
@emiliom @lsetiawan  are you using the API read_service calls or generating your own?
Have you tried
`read.getSamplingFeatures(type = "Site", results = True)`
That should get you all of the Sampling features of type site, where results exist. From the sample database I sent you there are 42 SamplingFeatures returned..

[2017-05-15 17:45] lsetiawan commented on #102
@emiliom

I get same number of sites in the original query.

Indeed. This is correct.

[2017-05-15 23:13] sreeder commented on #112
@lsetiawan the newest odm2api release is using the scoped_session.

[2017-05-16 16:04] lsetiawan commented on #112
@sreeder Woo hoo! Great! Thanks 😄

[2017-05-16 18:43] emiliom commented on #112
@sreeder I noticed this in the notes to the odm2api release. That's great, and thanks for letting us know here.

We're very close to a new wofpy release. To minimize uncertainties and new work, I'd rather keep odm2api querying out of this release, and stick to the current approach (almost pure SQLAlchemy, except for importing and using `odm2api.ODM2.models`). Then after the release we can revisit

[2017-05-16 18:51] emiliom commented on #102
Not at this time. [See the comment I just added here](112#issuecomment-301877012), in response to another comment of yours.

Besides not using odm2api querying at this time, that would not work generically b/c, as I mentioned earlier, this DAO (odm2 timeseries) is targeted at TimeSeries result types only. It would work in a database that has no other result types (such as EnviroDIY?), but we want

[2017-05-16 18:55] lsetiawan commented on #102
@emiliom In that case, should I use the "Second Finding" way of querying? getting rid of querying timeseriesresults and just put it as part of the join? Thanks.

[2017-05-16 18:58] emiliom commented on #102
Yup. But remember you'll probably need to edit the block at [odm2_timeseries_dao.py#L51](https://github.com/ODM2/WOFpy/blob/master/wof/examples/flask/odm2/timeseries/odm2_timeseries_dao.py#L51) too.

[2017-05-16 19:00] lsetiawan commented on #102
@emiliom Roger that! Thanks. 👍

[2017-05-17 17:18] emiliom commented on #81
For reference: this issue is largely or completely addressed already. We'll leave it open only until we've captured the changes in updated documentation.

[2017-05-23 17:17] ocefpaf commented on #61
@emiliom and @lsetiawan are we OK to issue a new release? I have some time here at PDX before my flight and I can prepare the GitHub and conda releases.

PyPI only once I land b/c my password is in the other laptop :-(

[2017-05-23 18:29] lsetiawan opened #127 "SQLite doesn't work in a multiple server with PostgreSQL"
# SQLite Issue with Postgresql
This is an issue regarding the SQLite database, not working when paired with PostgreSQL in a multiple WOFpy server environment.

TOC
- [Runserver script](#runserver-script)
- [The problem](#the-problem)
- [Original thought](#original-thought)

## Runserver script
Here's my runserver script:

[code]

When the script is ran, I do not get an error, it seems like all the

[2017-05-23 18:30] emiliom commented on #61
Nope, not yet. @lsetiawan is doing some additional work today and possibly tomorrow, and I was also hoping this release would include remaining enhancements to [wof/wofpy_config.py](https://github.com/ODM2/WOFpy/blob/master/wof/wofpy_config.py) by you, per [#72](72#issuecomment-296416841).

I'll follow up via email in a bit.

Also, this particular issue is probably outdated in terms of defining or

[2017-05-23 18:33] ocefpaf commented on #61
Yep. Let's close this one and follow the remaining of the work needed for the new release in a new issue.

[2017-05-23 18:33] #61 closed

[2017-05-23 18:37] emiliom commented on #127
Thanks. Another thing to note is that the TravisCI odm2-timeseries-dao test (which uses the SQLite DB) is passing. I know those tests are limited, but still, it's an indication that the problem may not be with the DAO changes.

In order for me to run SQLite and MySQL I have to comment out the part where I am creating the Postgresql DAO object and Config Object or else it will give the same error:

[2017-05-23 18:38] lsetiawan commented on #127
Yepp. Exactly that.

[2017-05-23 18:39] emiliom commented on #127
ok. makes sense.

[2017-05-23 18:58] emiliom opened #128 "Prepare new release, 2.0.20-alpha (or 2.0.20-beta?)"
To-do's before issuing release, ideally:

1. @lsetiawan and @emiliom need to fix problem (#127) with running multiple instances of wofpy that include SQLite and Postgresql backends at the same time. *Unless* it gets way too complicated, then we'll leave it for a future release! (the combinations MySQL+SQLite and MySQL+PostgreSQL do work). **Will table until after this release. See [my comment on #

[2017-05-23 19:04] emiliom commented on #128
And Don and I will work on finalizing [this new installation and setup documentation](https://github.com/ODM2/WOFpy/blob/master/docs/WOFpyODM2LBR_installation.md)

[2017-05-23 19:51] lsetiawan commented on #127
# Querying Behaviors
An interesting behavior is found when querying `SQLite` with `MySQL` vs querying `SQLite` with `PostgreSQL`

## SQLite and MySQL

When querying GetSites, the actual query is grabbing from `sites.samplingfeatureid`:

[code]

## SQLite and Postgresql

When querying GetSites, the actual query is grabbing from `odm2.sites.samplingfeatureid` which seems to cause the error. `SQLite`

[2017-05-23 20:24] emiliom commented on #127
Yikes. I think this is getting too complicated, and I don't think it's important enough at this time to have a working capability to mix SQLite and PostgreSQL.

So, unless you're now **very** close to solving it, I'd say let's table this until after the next release. For the amazon cloud multi-server example, use MySQL LBR + PostgreSQL EnviroDIY (what you had this morning).

[2017-05-23 20:28] lsetiawan commented on #127
Agreed. I have no idea, where the logic for this behavior resides. Thanks.

[2017-05-23 20:29] emiliom commented on #128
@lsetiawan:
- Let's table task 1 until after this next release. See [my comment on #127](127#issuecomment-303521152)
- For task 3, let's test your current code on the EnviroDIY database, after changing some `affiliations.organizationid` entries back to Null. (BTW, I'm not able to connect to the cloud DB; I'm not VPN'd at this moment. Maybe you can make the manual change yourself?). The goal here i

[2017-05-23 20:37] lsetiawan opened #129 "Incorrect querying of affiliation in TimeSeries DAO"
This issue is to discuss [comment list item 3](https://github.com/ODM2/WOFpy/issues/128#issue-230810014) in #128

Curently, the DAO uses:
[code]
to get Affiliations Object from results. This resulted in `None` for MySQL Little Bear site code: `USU-LBR-Mendon` which is incorrect, because there is an Affiliation.

I've modified the query to:
[code]
and it is now giving me an Affiliations object:
**N

[2017-05-23 20:43] lsetiawan commented on #129
Here's the actual SQL query of the new query to get Affiliations:
[code]

[2017-05-23 20:45] emiliom commented on #129
Didn't you say there were no affiliations in the MySQL LBR database??

The modified query looks good, and the confirmation that it works with the MySQL db is indication that it'll work with the postgresql EnviroDIY DB as well. The query looks pretty conventional, so I expect it to work fine on postgresql. Good job!

Go ahead and test it with the postgresql DB, and if the test looks good, submit a

[2017-05-23 20:52] lsetiawan commented on #129
I thought there wasn't because I used that old query, but didn't actually checked on the database side.

[2017-05-23 20:56] emiliom commented on #129
Ok. I thought you had directly confirmed it by looking at the affiliations table directly. Never trust a query you don't understand or can't confirm is working properly.

[2017-05-23 23:22] emiliom commented on #129
Once you've updated the wofpy services on the amazon cloud and I've had a chance to test it and see the `Sources` in the response (I assume it's now there?!), I'll close this issue.

[2017-05-23 23:22] emiliom commented on #116
Closing. Addressed in PR #126

[2017-05-23 23:22] #116 closed

[2017-05-24 20:03] emiliom commented on #129
@lsetiawan Woo-hoo, the "source" (affiliation/organization) information is now showing up on the `GetValues` responses for both the MySQL LBR and postgresql EnviroDIY!! eg, from the MySQL LBR:
[code]

I don't see "contact" (person) information, though. I suspect something still needs to be tweaked in the dao or the sqlalchemy model. Please look into it, but let me know if you don't know what's goi

[2017-05-24 20:11] lsetiawan commented on #129
Hmm... That's strange because contactName should be there: https://github.com/ODM2/WOFpy/blob/master/wof/examples/flask/odm2/timeseries/sqlalch_odm2_models.py#L211

I'll try changing the string concatenation to `.format`.

[2017-05-24 20:15] emiliom commented on #129
Well, the problem may be on the [wofpy generation of the contact info in the XML response](https://github.com/ODM2/WOFpy/blob/master/wof/WaterML_1_1.py) ... If you can confirm that contactName is being populated properly, we can look into that possibility; and probably leave that fix to a future release.

[2017-05-24 20:36] lsetiawan commented on #129
I can confirm that the problem is not in https://github.com/ODM2/WOFpy/blob/master/wof/examples/flask/odm2/timeseries/sqlalch_odm2_models.py#L211

So it is somewhere else. I will do some more debugging in [wofpy generation of the contact info in the XML response](https://github.com/ODM2/WOFpy/blob/master/wof/WaterML_1_1.py) to see if it's there.

[2017-05-24 21:46] lsetiawan commented on #129
After digging into the code, it seems like the problem lies on https://github.com/ODM2/WOFpy/blob/master/wof/core_1_1.py#L608

The contact information only shows if there is `sourceResult.Address`, `sourceResult.City`, `sourceResult.State`, and `sourceResult.ZipCode`, which based on https://github.com/ODM2/WOFpy/blob/master/wof/examples/flask/odm2/timeseries/sqlalch_odm2_models.py#L217 none of tho

[2017-05-24 21:51] emiliom commented on #129
Yes, that all makes sense! I had seen that code and something didn't look right, but I didn't catch the indentation level on https://github.com/ODM2/WOFpy/blob/master/wof/core_1_1.py#L618

Great!

[2017-05-24 22:23] lsetiawan commented on #129
Futher changes to `core_1_1.py` allows contactInformation to show up, but for some reason email is split weirdly. **Note: Name has been changed**
[code]

[2017-05-24 22:35] emiliom commented on #129
Weird. But you're almost there.

[2017-05-24 22:51] #129 closed

[2017-05-24 22:51] lsetiawan commented on #129
Just for identity security i guess, don't wanna reveal the actual result here. 😄

[2017-05-24 23:00] lsetiawan commented on #128
Task 3

Is fixed by https://github.com/ODM2/WOFpy/pull/131

[2017-05-24 23:04] emiliom commented on #128
Yes! And I can confirm this on the MySQL LBR & postgresql EnviroDIY amazon cloud endpoints. Thanks!

@lsetiawan, I think you are done with updates for the next release :smiley:. Now it's mostly on @ocefpaf, plus me (with some input from you) on the [new, draft documentation.](https://github.com/ODM2/WOFpy/blob/master/docs/WOFpyODM2LBR_installation.md)

[2017-05-25 12:55] ocefpaf commented on #128
I am back on the laptop today. I'll review the docs today and prepare the GitHub release later today or early tomorrow, if that is OK with @emiliom.

[2017-05-25 13:05] ocefpaf opened #132 "Enhancement to wof/wofpy_config.py"
From @emiliom:

A few comments:

- I don't recommend the folder name to be `wofpy`. That can be troublesome with importing code because Python will search `import wofpy` in that folder first. Right now the folder is a mandatory argument of the CLI and I prefer to keep it that way. Users should always be in control of folder/file creation.

- Taking two additional arguments

So the new options are

[2017-05-25 15:55] emiliom commented on #128
I'm ok with that. Thanks.

[2017-05-25 16:05] emiliom commented on #132
Well, it's actually `test` vs (`production` or `server`). @lsetiawan and I couldn't decide which label of those two (`production` or `server`) makes the most sense. But we want to be consistent across the board. Right now we're using the label `production` in this newish directory: [wof/examples/production_configs](https://github.com/ODM2/WOFpy/tree/master/wof/examples/production_configs). So, I g

[2017-05-25 16:06] emiliom commented on #132
FYI, I'll be tied up today, too.

[2017-05-26 14:44] lsetiawan commented on #132
Yea, I like production better because `server` doesn't seem to really say much about the state of the application on a server.

@ocefpaf Let me know if you have any questions. 😄

[2017-05-26 15:17] ocefpaf commented on #132
👍

So the new options will be `test` and `production`, right?

I need to know what should happen for each option, for example what files should be copied?
Do you want to have a `default` one or those options should be a mandatory argument?

[2017-05-26 15:40] lsetiawan commented on #132
Yep!

Do you want to have a default one or those options should be a mandatory argument?

### Production
Should have basically everything in `timeseries` folder plus `production_configs`

### Test
Just the `timeseries` folder

Default I think should just be a test. Thanks.

[2017-05-26 15:46] ocefpaf commented on #132
Perfect! Working on it. Thanks!!

[2017-05-26 16:54] emiliom commented on #132
Thanks, guys. A couple of things to keep in mind:

- Running `wofpy_config.py` installs one DAO (eg, odm2/timeseries). The first time it's run, it'll create the base folder (eg, "wofpyserver") and the DAO sub-folder under it. Next time it's run (to install another DAO), if the user picks the existing base folder (eg, "wofpyserver"), obviously it should use it and not delete it ;)
- @lsetiawan, did

[2017-05-26 17:46] lsetiawan commented on #132
I thought the current location for `production_configs` is the place we decided so it's generic.

[2017-05-26 18:37] emiliom commented on #132
I don't follow. Maybe you mean the current location in your amazon cloud instance?? If so, I don't have access to it, so I don't know how you're organizing these folders.

Ok, so that means we're recommending a single directory, outside the DAO directory? eg:
[code]

[2017-05-26 18:55] lsetiawan commented on #132
I thought you are talking about the location within the wof package. Sorry.. misunderstood.

I like that example. Do you think that maybe `.cfg` goes in its own folder or just let the user move those outside the main folder that contains the dao and runserver script?

[2017-05-26 19:02] lsetiawan opened #133 "Posgresql SSL issue when on production mode?"
I’m getting weird behavior for for postgresql, when running on a production setting.

When I try to do Get Sites for the first time after the server is up, I am getting the expected output with a list of sites, etc. When I reload the page, I get this error:

[code]
reload again I get
[code]
then lastly, another reload I get
[code]
This does not happen with MySQL. And of course the error message is

[2017-05-26 19:02] emiliom commented on #132
No problem. So, where did you place `production_configs` in your amazon instance? Right under the base folder, as in my example? Or within the dao folder?

I think you **are** recommending/agreeing that it go outside the DAO, right?

That's the DAO `.cfg`, right? I don't remember, but the user doesn't have to then move the `.cfg` file to get wofpy to work, right? If so, `wofpy_config.py` shouldn't

[2017-05-26 19:13] lsetiawan commented on #132
I placed only `wofpy.ini` and `wsgi.py` within the [dao folder](https://github.com/ODM2/WOFpy/blob/master/docs/WOFpyODM2LBR_installation.md#setup-wsgipy), and the rest of the files to their appropriate folders.

Only certain parts.. please see my comment above.

Yea this makes sense. Sounds like a good idea.

[2017-05-26 19:21] emiliom commented on #132
Ok. I think you should compose specific, clear directions to @ocefpaf about what `wofpy_config.py` should do with the `production_configs` folder and its content for a `production` deployment. It sounds like the most user-friendly thing would be to copy some of its files into the DAO folder, and copy the other files elsewhere (?); the user would then move/copy them manually to "their appropriate f

[2017-05-26 19:32] lsetiawan commented on #132
This is what I did on my instruction.

I think the easiest way to do this might be just to copy the whole `production_configs` folder. Like the example above and with instructions the user then move the nginx and systemd stuff to their appropriate folders.

I already have instructions for this approach and I don't think it would take much for users to move files around.

[2017-05-26 20:02] lsetiawan commented on #133
After further research, it seems like `lazy-apps` option for uwsgi isn't necessary bad. `lazy` option is the one that's not good.

By default `uwsgi` will use the `preforking` mode:

`lazy-apps` mode:

This is actually a good option for the app, though it will consume more memory, which isn't a big deal atm. This suggestions comes from http://uwsgi-docs.readthedocs.io/en/latest/articles/TheArtOfGr

[2017-05-26 20:07] emiliom commented on #133
Woo-hoo! :man_dancing:

[2017-05-26 21:07] sreeder commented on #133
@emiliom @lsetiawan I was just getting on here to tell you guys about this. I  was able to get your current code running on our postgres server, I just had to add the lazy-apps setting!

[2017-05-26 21:27] lsetiawan commented on #133
@sreeder YAAAAAAYYYY!!!! THAT'S AWESOME!! 😸

[2017-05-27 19:51] emiliom commented on #55
Old, closing. Will open relevant issue(s) as needed.

[2017-05-27 19:51] #55 closed

[2017-05-27 19:55] emiliom commented on #69
Closing. We haven't run into this problem again, with MySQL.

Referencing #133 in case the discussion here is helpful for that postgresql issue (I doubt it, plus it's pretty much solved).

[2017-05-27 19:55] #69 closed

[2017-05-27 19:56] #60 closed

[2017-05-27 20:13] emiliom commented on #128
Starting draft here of the **list of enhancements and bug fixes included in this new release:**

- greatly improved installation and setup, to make it easier and clearer to users
- new, interim installation and setup documentation
- removed pinned dependence to old sqlalchemy version (resulted in problems with odm2 timeseries dao handling SQLite)
- wofpy_confi.py
- reorganization of examples (dao'

[2017-05-28 00:51] ocefpaf commented on #128
@emiliom I am editing above to make things simple, is that OK?

[2017-05-28 00:53] emiliom commented on #128
Sounds great, thanks. I was just adding whatever I could remember or look up easily.

[2017-05-30 17:32] lsetiawan commented on #133
I am closing this issue. It seems like the problems has not creep up again.

[2017-05-30 17:32] #133 closed

[2017-05-30 18:12] lsetiawan opened #135 "Travis CI Failing at `build_cbi_cache.py`"
It appears that Travis CI is failing at https://travis-ci.org/ODM2/WOFpy/jobs/237613666#L638

when trying to run `build_cbi_cache.py` getting this error:

lxml.etree.XMLSyntaxError: Start tag expected, '<' not found, line 1, column 1

---

From @emiliom : My hunch is that it's best to move the cbi test (`test_cbi_parser.py`?) to the set of tests that don't cause TravisCI failures. But @ocefpaf is

[2017-05-30 18:28] lsetiawan commented on #135
This is what's in `/tmp/cbi_parameter_file.xml`

[code]

The location is set as `CBI_CACHE_DIR = tempfile.gettempdir()`

[2017-05-31 21:08] emiliom commented on #132
@ocefpaf, how is this going?

[2017-05-31 21:12] ocefpaf commented on #132
Stuck. There is a lot on my plate due to the travelling. I should have something late Thursdays or early Friday.

[2017-05-31 21:14] emiliom commented on #132
Ok, thanks. Good luck catching up!

[2017-06-02 18:31] emiliom commented on #132
@ocefpaf any progress??

[2017-06-02 18:35] ocefpaf commented on #132
No. I'm having 'fun' getting my new laptop properly configured. The old
system76 died.

On Jun 2, 2017 3:31 PM, "Emilio Mayorga" <notifications@github.com> wrote:

[2017-06-02 19:23] ocefpaf commented on #132
Emilio are you in a tight schedule for a new release? If so I recommend to
release more often, we can do one now and another one as soon as I update
the CLI tool.

On Jun 2, 2017 3:35 PM, "Filipe Pires Alvarenga Fernandes" <
ocefpaf@gmail.com> wrote:

[2017-06-02 22:39] emiliom commented on #132
Not per se. I don't see any benefit from issuing a release now before the CLI tool is ready, so it's not worth the hassle. Hopefully next week?

[2017-06-05 22:03] aufdenkampe commented on #22
The need to release documentation has now been folded into #128

[2017-06-05 22:03] #22 closed

[2017-06-05 22:10] aufdenkampe commented on #19
@emiliom & @lsetiawan , I'm presuming that this issue is folded into #128. I'm closing it for this reason.

[2017-06-05 22:10] #19 closed

[2017-06-08 17:12] ocefpaf commented on #135
BTW this is the error message:

[code]

I am investigating this now...

[2017-06-08 17:36] ocefpaf commented on #135
@emiliom can you check if anything changed upstream with those responsible for http://mmisw.org/ont?form=rdf&uri=http://mmisw.org/ont/gcoos/parameter ? I don't have access to any cached past result but I am convinced that the breakage is due to a change in the `gcoos` service used in the test.

[2017-06-08 17:55] emiliom commented on #135
Thanks for that detective work. As a matter of fact, I have here at the EarthCube meeting the best possible person to answer that question! Also, I do know that there was a version upgrade around May 26 to the mmisw.org/ont system.

For reference (for me at least):
- https://github.com/ODM2/WOFpy/blob/master/wof/examples/flask/cbi/build_cbi_cache.py#L21
- https://github.com/ODM2/WOFpy/blob/master/

[2017-06-08 18:08] emiliom commented on #135
Went ahead and made that change (since it's a one liner) as [a commit](https://github.com/ODM2/WOFpy/commit/3bac69239b53379ef8f716a51f2e9120db1654df). We'll let the CI try it out

[2017-06-08 18:14] ocefpaf commented on #135
Well, I already had a PR with that in https://github.com/ODM2/WOFpy/pull/137

[2017-06-08 18:20] emiliom commented on #135
Yeah, I saw that ... We have really slow wifi here.

I know. But it was a one liner, with the promise of near-immediate confirmation. And wifi here is terrible

Looks like it worked!!

[2017-06-08 18:35] #135 closed

[2017-06-09 16:42] #132 closed

[2017-06-09 16:52] #72 closed

[2017-06-09 16:54] lsetiawan commented on #128
PR https://github.com/ODM2/WOFpy/pull/136 completes **task 2**.

The PR has been merged. So I think now we are finally ready for new release?

[2017-06-09 17:08] emiliom commented on #128
Great! One last thing, before issuing the release: @lsetiawan, can you test `wofpy_config.py`, to confirm that it works as expected?

@ocefpaf remind us here what your suggested tag naming convention is, now that we have **versioneer**, #138 ?

For reference (mostly to myself): while #72 is now closed, there are a lot of useful comments there that we'll want to reference when enhancing documentati

[2017-06-09 17:17] ocefpaf commented on #128
I would go for `v2.1.0a0`. (Actually I would drop the alpha status too :smile:)

[2017-06-09 17:35] emiliom commented on #128
Ok. And it looks like we no longer need to maintain a version string in a file (setup.cfg, setup.py, whatever), from what I can tell?? Everything flows from the tag assigned on the release, right?

Let's plan issuing the release on Monday.

[2017-06-09 17:37] ocefpaf commented on #128
Yep. All we need is a tag.

[2017-06-09 21:40] lsetiawan opened #139 "wofpy_config improvements"
This is a follow up for #136.

`wofpy_config` is working as intended. I was able to execute
- `--mode=development` and get only `odm2/timeseries` folder
- `--mode=production` and get `odm2/timeseries` and `production_configs` folders

Though here's the catch, when I created `odm2/timeseries` with `development` mode the first time then using `production` mode the second time gave an error that `wof

[2017-06-10 10:29] ocefpaf commented on #139
That is by design. If the user is expected to change settings in those files we should not overwrite/add files them without a proper switch, like `--overwrite` for example.

I can implement that. But, IMO, it is not too different from letting the user manage multiple calls using different directories, or explicitly removing the directory before calling the CLI again.

[2017-06-10 23:56] emiliom commented on #128
#139 Some final discussions on `wofpy_config.py`, before the new release

[2017-06-12 17:40] emiliom commented on #73
@miguelcleon, this is a heads-up that @lsetiawan and I should be able to start working with you on setting up WOFpy with your LCZ DB soon, hopefully towards the end of this week.

FYI, we plan to issue a new release by tomorrow, including conda and pypi packages.

[2017-06-12 17:42] miguelcleon commented on #73
sounds great. Thanks @emiliom  and @lsetiawan :smiley:

[2017-06-12 19:18] emiliom commented on #128
@ocefpaf, remind us where the `extras_require` settings/options in https://github.com/ODM2/WOFpy/blob/master/setup.py#L52 are used? Is it `pip install`?

[2017-06-12 19:28] emiliom commented on #139
@ocefpaf: @lsetiawan and I have discussed this. We also looked at your comments from the email you sent me today.

Here's what we want: ideally **two** overwrite options. We can call them "hard" vs "soft" overwrite:
1. **hard** overwrite: delete everything and replace
2. **soft** overwrite: do *not* delete anything that's already there, but add files that are not present in the target directory. T

[2017-06-12 19:36] emiliom commented on #128
@ocefpaf, one more question before we issue the release; about the `odm2api` dependency.

I see that `odm2api` is listed in `requirements-dev.txt` and not in `requirements.txt`. @lsetiawan reminded me that for the conda package, you'll include dependencies from both -- can you confirm this?

Finally, in [setup.py#L58](https://github.com/ODM2/WOFpy/blob/master/setup.py#L58) still has this line:
[co

[2017-06-12 20:27] lsetiawan commented on #128
Comments for https://github.com/ODM2/WOFpy/issues/128#issuecomment-304474108:

I don't remember us doing this... Originally we planned to split working vs not working, but didn't end up doing that.

[2017-06-13 14:32] ocefpaf commented on #128
The reason why this is still kind of messy is because `odm2api`, and many other dependencies, are actually never used in wofpy code but rather in aplications built using `wofpy`.

In the software development realm the dependencies are defined in the app and not in the software used as the backbone for the app.

Some time ago @lsetiawan and I reached an understanding that such dependencies would be

[2017-06-13 14:43] ocefpaf commented on #139
Time to implement that is not a problem. I can add both if that is what you want. However, I do advice against the extra complexity of two options. Users can easily manage multiple directories and/or deletions/renamings well. There is no need to cover all cases under the sun with options in CLI, in fact there is a risk of confounding users with too many options.

PS: I am implementing those today

[2017-06-13 17:21] emiliom commented on #139
Got it, I see your concern. Since you're already implementing these, let's just leave them in there for now and prune back at a later time if we decide that's better.

[2017-06-13 17:23] emiliom commented on #128
Re: odm2api dependencies: Thanks for the explanations (or reminders!), and the PR follow-up. @lsetiawan and I had already confirmed that there was no odm2api version dependency.

[2017-06-13 17:26] ocefpaf commented on #139
Also bare in mind that my "concerns" are only standards for general tools. If `wofpy` will live in the `ODM2` sphere only you can do pretty much anything you guys want to make it more convinient for your use case.

[2017-06-13 17:35] emiliom commented on #139
We do intend it to be used more widely. So, your advice is definitely appreciated!

[2017-06-13 18:09] #102 closed

[2017-06-13 18:13] lsetiawan commented on #81
PR https://github.com/ODM2/WOFpy/pull/136 and https://github.com/ODM2/WOFpy/pull/141 closes this issues. More updated documentation is coming.

[2017-06-13 18:13] #81 closed

[2017-06-13 18:18] lsetiawan commented on #67
This issue is definitely fixed. Problems arise from templates path not defined correctly.

[2017-06-13 18:18] #67 closed

[2017-06-13 18:21] lsetiawan commented on #51
Anyone know the status of this issue?

@ocefpaf @emiliom

[2017-06-13 18:22] lsetiawan commented on #48
What's going on with this issue?

@ocefpaf @emiliom

[2017-06-13 18:23] ocefpaf commented on #51
The issue description is not very clear to me. I am guessing that the goal is not to demostrate but rather implement a logging scheme for wofpy. If so I don't think we have one.

That is not an an easy task BTW, but we can certanily start logging some of the key outputs.

[2017-06-13 18:24] lsetiawan commented on #42
Any news on this issue?

@ocefpaf @emiliom

[2017-06-13 18:25] lsetiawan commented on #51
@ocefpaf No worries, just trying to clean up, don't address just simply checking 😄

[2017-06-13 18:30] ocefpaf commented on #51
IMO we should treat any 2-year issue like a Trello card. Just close it and wait for the original poster to re-open it if it is still relevant :smile:

[2017-06-13 18:32] lsetiawan commented on #59
I think this issue is ironed out in the new documentation: https://github.com/ODM2/WOFpy/pull/124 ... At least the original intent of this issue.

[2017-06-13 18:32] lsetiawan commented on #51
Good Idea! Thanks 😄

[2017-06-13 18:33] #51 closed

[2017-06-13 18:33] #48 closed

[2017-06-13 18:33] #42 closed

[2017-06-13 18:35] lsetiawan commented on #56
The status of this issue is unknown. Closing for now, until problem arise again.

[2017-06-13 18:35] #56 closed

[2017-06-13 19:04] emiliom commented on #59
I'm leaving this open for now. I'd like to go over these discussions next week, to see if there's anything of value for documentation or future discussion ... before closing.

[2017-06-13 19:05] lsetiawan commented on #139
This was implemented in https://github.com/ODM2/WOFpy/pull/143. I've tested the functionality locally and everything works great! As expected.

One thing to comment though, when I do `wofpy_config wofpyserver` then do it again, the folders shouldn't change and it didn't change, as expected. But, the CLI still prints `Adding files to directory wofpyserver` even though it's not adding anything new.

[2017-06-13 19:06] emiliom commented on #128
Guys, thanks for your work on PR #143!

@lsetiawan, you got a little too eager closing issues. I was deliberately leaving open some of the ones we have addressed, to review them next week and see if there are any nuggets of useful discussions for future use. But maybe I'll just be grateful next week when I see them all closed and decide it was never worth spending extra time on them ... :thinking:

[2017-06-13 19:06] ocefpaf commented on #139
I can fix that tomorrow morning.

[2017-06-13 19:11] lsetiawan commented on #128
My bad ... really wanted to start fresh, some of the issues are so old, and I have no idea what's going on in them. Now at least all of us are pinged in them, and the issues can be reopened if you think they are worth spending time on. Thanks.

[2017-06-13 19:11] ocefpaf commented on #128
In @lsetiawan defense that was my suggestion. In software development the person that opened the issue is the issue "owner." S/he will either re-open it or the issue will re-surface at some point. Etiher way I don't think it is worth looking into >2-year old issues when there are plenty of new ones for us to take care of :smile:

[2017-06-13 20:23] lsetiawan commented on #71
As of the latest WOFpy (https://github.com/ODM2/WOFpy/commit/cf12e131212b1bf7ffc9e04a49be88fee2fb6614) This is error is not there anymore. I'm closing unless it reappears.

[2017-06-13 20:23] #71 closed

[2017-06-14 15:51] #139 closed

[2017-06-14 17:55] emiliom commented on #128
Looks like we're ready for the release, right? (Except for me not having reviewed and edited Don's installation & setup documentation ... I guess that'll have to wait)

If so, I'll go ahead and get it out today.

[2017-06-14 17:57] ocefpaf commented on #128
I am biased b/c I am not using WOFpy on production and it is "easy" to install when you are the one writing the installation script :grimacing:, but @lsetiawan's looks good to me.

[2017-06-14 18:04] lsetiawan commented on #128
@emiliom We are definitely ready for a release. I don't see anything else atm that are problematic. Thanks.

[2017-06-14 19:00] emiliom commented on #128
@ocefpaf, we need your help!! @lsetiawan and I are drafting the new release. It's pretty much (saved it in "draft" state, which you can probably see). **BUT** github is complaining about the release tag we're trying to use. I picked a string that's identical to your suggestion (`v2.1.0a0`), except we're calling it "beta": `v2.1.0b0`. github complains in prominent red letters saying:

The suggestio

[2017-06-14 19:06] ocefpaf commented on #128
You can use `v2.1.0-beta.0` and `versionner` will convert that to `pep440` automatically.

[2017-06-14 19:13] emiliom commented on #128
Thanks for your quick reply!! The [release is now out](https://github.com/ODM2/WOFpy/releases/tag/v2.1.0b0). And turns out the tag string complaint was **my fault**! Your original string pattern (`v2.1.0b0`) was totally fine, but I had a blank character at the beginning :frowning_face:

I assume `versioneer` is already automatically churning to create the conda and pip packages, w/o you needing to

[2017-06-14 19:16] ocefpaf commented on #128
Nope.  `versioneer` propagates the tag to version string to avoid inconsistencies from human maintained version strings, like what happened in `odm2api`. I still need to manually create both `PyPI` and `conda` packages as usual.

[2017-06-14 19:31] ocefpaf commented on #128
PyPI: https://pypi.python.org/pypi/WOFpy/2.1.0b0
conda-forge: (in progress...)

[2017-06-14 20:18] lsetiawan commented on #128
@ocefpaf Thanks for all the knowledge that you shared with me through this development 😃  Can't wait to pick at your brain some more on other things! You're the best!

[2017-06-14 20:35] emiliom commented on #128
@ocefpaf:

The package is going into our ODM2 channel (https://anaconda.org/odm2/wofpy), isn't it? I just don't remember if you're also adding it to conda-forge, or what.

[2017-06-14 20:37] ocefpaf commented on #128
Yep. Everything goes into the `odm2` channel as you requested when we started. If you want to move them to conda-forge let me know.

[2017-06-14 20:37] ocefpaf commented on #128
I can say the same :wink:

[2017-06-14 20:39] emiliom commented on #128
Great. We're good with just the odm2 channel for now. FYI, I've prepared an email announcement to our collaborators, but I'm holding off on sending it until the conda package is ready. I don't know how long it takes, and I'm seeing a CircleCI failure at https://github.com/ODM2/conda-recipes-ODM2/pull/62 ...

[2017-06-14 20:42] ocefpaf commented on #128
Neither do I :smile: conda is always a moving target and the latest "advancements" broke our workflow. I am trying to fix it. In theory pinning the `conda` to `4.2.13` should work, but that failed here and I am investigating it...

[2017-06-15 16:08] miguelcleon commented on #73
Hi @emiliom and @lsetiawan, I went ahead and installed the latest release of WOFpy and it seems to be working! This is running currently on a local development machine, I'd like to get this setup on a development webserver, serving this over the web and then do some validation. Looks like I need to change one or more files here https://github.com/ODM2/WOFpy/tree/master/wof/examples/production_conf

[2017-06-15 16:16] emiliom commented on #73
That's great news, @miguelcleon! Don is working with a different project/PI today (as all Thursdays). Hopefully he'll be able to help you on Friday, but his availability will be **very** tight; then he's off on vacation next week.

I believe you do have to move around and edit some of the `production_configs` files (which can be deployed/copied via `wofpy_config.py`), but if it's not clear on the

[2017-06-15 16:19] miguelcleon commented on #73
Ok, I'm also away at a workshop most of next week, back for a few days then I'm on vacation June 28th to July 9th. I'll probably play around with it a little, otherwise tomorrow works.

[2017-06-15 18:01] miguelcleon commented on #73
Ok, I gave the  [documentation](https://github.com/ODM2/WOFpy/blob/master/docs/WOFpyODM2LBR_installation.md), instructions a try. I didn't follow them exactly because I'm trying to run it through apache2 instead nginx. I looked up instructions for running both and it seemed pretty complex. Really it seems like things should work but I'm getting an error that seems to be related to the conda enviro

[2017-06-15 20:18] emiliom commented on #73
@lsetiawan probably won't be able to respond until tomorrow.

But given that you suspect a conda problem, I'm pinging @ocefpaf (Filipe) in case he recognizes the errors.

BTW, all our wofpy testing has been done on nginx. Just yesterday we were talking about Apache. Don thinks wofpy should work there, but he hasn't looked into it.

[2017-06-15 20:35] ocefpaf commented on #73
I don't think this is conda related. My guess it is a Python "mix-up."

I would check what is in `/var/www/wofpy/wsgi.py` to see if that is calling another Python that is not from `/home/azureadmin/miniconda2/envs/wofpy4/lib/python2.7`.

It that `wsgi.py` is the oringinal one from @lsetiawan's PR config files we need to be carful with the hardcoded shebang: `#! /home/ubuntu/miniconda/envs/wofpy/bi

[2017-06-15 20:50] emiliom commented on #73
Hmm, shouldn't we wait for @miguelcleon to report back, before closing this issue?? Besides, this issue is broader than just the bug fixed by that PR

[2017-06-15 20:51] ocefpaf commented on #73
Thanks to GitHub the "closing" is automatic. We need to manually re-open it. But I see you already did.

[2017-06-15 21:10] miguelcleon commented on #73
Yeah I had changed that line in the wsgi.py file. Something is still pointing to the wrong python environment though. I check `conda list ` and it has python version 2.7.13 for the wofpy environment, but the error is indicating 2.7.12.

[2017-06-15 21:15] ocefpaf commented on #73
To help us debug this can you inform us what ou changed that line to?

[2017-06-15 21:20] miguelcleon commented on #73
well I changed it again to:
#!/usr/bin/env python

before I had:
#! /home/ubuntu/miniconda/envs/wofpy/bin/python

[2017-06-15 21:24] ocefpaf commented on #73
What python do you get with `$(which python) --version`  2.7.12 or  2.7.13?

[2017-06-15 21:30] miguelcleon commented on #73
from where should I do that in wsgi.py?
from the command line with wofpy conda env active I get
/home/azureadmin/miniconda2/envs/wofpy4/bin/python

[2017-06-15 21:33] miguelcleon commented on #73
without the conda env active I get
/home/azureadmin/miniconda2/bin/python: Python 2.7.12 :: Continuum Analytics, Inc.

[2017-06-15 21:40] ocefpaf commented on #73
Makes sense. Your root env python and your `wofpy4` env Python.
As long as you have the env where you installed `wofpy` activated `#!/usr/bin/env python` should find the right python. If that is not the case than I am lost.

[2017-06-15 21:47] miguelcleon commented on #73
I think it maybe my apache settings are getting confused. I had wofpy listed under the same virtualhost as some ODM2 Admin instances so I think maybe it is trying to use the conda environment from those. So I'm trying to setup a different virtual host. thinking maybe that would help but I don't think I'm doing it right, can't seem to connect to the wofpy instance.

[2017-06-15 22:18] miguelcleon commented on #73
ok so for whatever reason my wofpy installation is not using the correct conda environment when running through apache. I'm not sure why but I'm giving up for today.

[2017-06-16 13:44] miguelcleon commented on #73
Ok, I got it to work!
http://dev-odm2admin.cuahsi.org/wofpy/odm2timeseries/rest/1_1/

There were confusing instructions in the django documentation about how to point to your venv in apache. For some reason the [Django docs](https://docs.djangoproject.com/en/1.11/howto/deployment/wsgi/modwsgi/) say to use python-home variable to point to your venv when in fact you should use python-path, at least

[2017-06-16 14:43] miguelcleon commented on #73
@lsetiawan

so I got an error calling [getsites ](http://dev-odm2admin.cuahsi.org/wofpy/odm2timeseries/rest/1_1/GetSites)
[code]

[2017-06-16 14:45] miguelcleon commented on #73
and now I'm getting an assertion that there should be a database rollback, when there shouldn't be anything to rollback:
`<ns0:Fault xmlns:ns0="http://schemas.xmlsoap.org/soap/envelope/">
<faultcode>soap11env:Server</faultcode>
<faultstring>
(sqlalchemy.exc.InvalidRequestError) Can't reconnect until invalid transaction is rolled back [SQL: u'SELECT DISTINCT ON (odm2.variables.variableid) odm2.time

[2017-06-16 15:03] miguelcleon commented on #73
more then 15 minutes later I'm still getting this rollback message.

[2017-06-16 15:49] lsetiawan commented on #73
Did you set `lazy-apps` to `true` in `wsgi.ini`? I encountered that same error before and fixed it that way.

[2017-06-16 15:52] miguelcleon commented on #73
Yes, lazy-apps is set to true

[2017-06-16 15:56] lsetiawan commented on #73
Maybe it's your DB configuration?
https://github.com/psycopg/psycopg2/issues/356, Based on that link, you are running into TCP timeouts?

[2017-06-16 16:02] miguelcleon commented on #73
yes, I'll look at increasing the timeout.

[2017-06-16 16:15] miguelcleon commented on #73
ok I changed the timeout but now I'm getting a different error for getsites
[code]

[2017-06-16 16:18] miguelcleon commented on #73
getvariables worked I think that timed out before.

[2017-06-16 16:20] lsetiawan commented on #73
I think you have some sort of weird character that can't be handled by WOFpy. If so, please open up a separate issue for this so that we can improve the sophistication.

[2017-06-16 16:23] miguelcleon commented on #73
yes it is a unicode minus sign http://www.fileformat.info/info/unicode/char/2212/index.htm which I may just be using as a dash in a site name.

[2017-06-16 16:39] miguelcleon commented on #73
strangely I tried running getsites again and got a completely different error:
[code]

[2017-06-16 16:45] miguelcleon opened #148 "handle unicode characters"
My ODM2 database contains unicode characters that cause errors in wofpy.

This is the call that errors out http://dev-odm2admin.cuahsi.org/wofpy/odm2timeseries/rest/1_1/GetSites

The error:
[code]

u'\u2212' this is a unicode minus sign http://www.fileformat.info/info/unicode/char/2212/index.htm which I may just be using as a dash in a site name.

[2017-06-16 16:46] miguelcleon commented on #73
`SSL SYSCALL error: EOF detected`

A stackoverflow post suggested this is a disk out of space error, I deleted a bunch of daily database back ups to free space and the error doesn't seem to be happening now.

[2017-06-16 16:48] miguelcleon commented on #73
I created #148 regarding the unicode character error.

[2017-06-16 17:01] lsetiawan commented on #73
@miguelcleon Thanks for opening the issue. This is great. I'm glad we encountered that error. So have you tested all the other requests `GetSiteInfo` etc?

[2017-06-16 17:35] miguelcleon commented on #73
running `GetSiteInfo`, it has been spinning for 15 minutes+

[2017-06-16 17:44] miguelcleon commented on #73
eventually I got another EOF error:
[code]

[2017-06-16 17:46] miguelcleon commented on #73
I reloaded apache and `GetSiteInfo` took just a few seconds to comeback.

[2017-06-16 18:30] miguelcleon commented on #73
This works
http://dev-odm2admin.cuahsi.org/wofpy/odm2timeseries/rest/1_1/GetValuesForASite?site=odm2timeseries:Rio%20Icacos%20Trib-IO&startDate=2016-12-01T12:00:00&endDate=2016-12-01T14:30:00

a different site works
http://dev-odm2admin.cuahsi.org/wofpy/odm2timeseries/rest/1_1/GetSites?site=odm2timeseries:EP1

[2017-06-16 18:33] emiliom commented on #73
Awesome!

Miguel, I recommend you test all the services (REST 1_1) that are provided in the example page at
http://dev-odm2admin.cuahsi.org/wofpy/odm2timeseries/rest_1_1/
EXCEPT `GetSites` w/o a `site` argument! It looks like the example site/location, "Rio Icacos Trib-IO", doesn't have the unicode issue, so it's a great test. It'll be fantastic if you can confirm by the end of the day today that

[2017-06-16 19:23] miguelcleon commented on #73
trying to create a bounding box I get another unicode error for a different dash
http://dev-odm2admin.cuahsi.org/wofpy/odm2timeseries/rest/1_1/GetSitesByBox?west=-65.85692813&south=18.26143335&east=-65.74067507&north=18.32232903&IncludeSeries=false

this bounding box didn't work
http://dev-odm2admin.cuahsi.org/wofpy/odm2timeseries/rest/1_1/GetSitesByBox?west=-65.7800&south=18.2790&east=-65.7681&no

[2017-06-16 19:29] miguelcleon commented on #73
@emiliom @lsetiawan Everything seems to work? except when I get unicode errors from sampling feature codes.

even this worked:

http://dev-odm2admin.cuahsi.org/wofpy/odm2timeseries/rest/1_1/GetValues?location=odm2timeseries:Rio%20Icacos%20Trib-IO&variable=odm2timeseries:DO%20Concentration

[2017-06-16 19:31] miguelcleon commented on #73
It would be a good Idea to try some other sites and variables though.

[2017-06-16 23:13] emiliom commented on #73
Woo-hoo! That's great that everything not involving the unicode characters is working!

Yeah. I suggest you identify a handful of stations that don't have unicode characters, and represent a good contrast of data types -- stream data, met stations, etc. We can assess that thing are working ok, identify issues, etc, on those stations, while we wait for Don to come back and be able to look into the

[2017-06-23 16:37] miguelcleon opened #150 "occasional error: SSL SYSCALL error: EOF detected"
Seemingly at random, I'll get the below error. Then WOFpy stops working and I need to reload apache to get it working again. I've been trying to figure out a reproducible to get this error but I haven't found it yet. If I do I'll update this issue. I was also going to post the 2nd error you get after this one but again because I can't reproduce it, now I'm not getting it. I'll add the second error

[2017-06-26 14:45] miguelcleon commented on #150
I'm thinking this may well be a the system running out of ram to store the data in local memory while it's pulling sql records into Django querysets. I've run into that problem while doing data ingestion and had to write some server side scripts to break files into smaller pieces. I don't get this same error but I suspect it is just manifesting differently in this setting.

[2017-06-26 22:03] lsetiawan commented on #150
@miguelcleon It seems like you have encountered this problem before and solved it? https://github.com/ODM2/WOFpy/issues/73#issuecomment-309090364

[2017-06-26 22:07] miguelcleon commented on #150
@lsetiawan So it's an issue that is appearing intermittently, I initially thought it was the file system running out of space but that doesn't appear to be the case. When you reload apache the error goes away and might not appear again for a bit.

[2017-06-26 22:10] lsetiawan commented on #150
Hmm... okay.

how does Django come into play with WOFpy?

[2017-06-26 22:11] emiliom commented on #150
The "lazy-apps" setting @lsetiawan has mentioned before, which fixed this issue with a postgresql backend, is probably specific to `ngingx`, right Don? Assuming it is, maybe there's an equivalent setting/flag in Apache?

[2017-06-26 22:13] lsetiawan commented on #150
`lazy-apps` is specific to uWSGI settings. Seems like Apache is usually paired with `mod_wsgi`, at least from Flask documentation (http://flask.pocoo.org/docs/0.12/deploying/mod_wsgi/)

[2017-06-26 22:14] miguelcleon commented on #150
with the DAO, I would think, loading querysets with lots of SQL records. I'm kind of guessing with the RAM thing, it would need more testing to figure out if that is really happening. Actually all I'd need to do is pull a huge time series and watch top.

[2017-06-30 19:10] lsetiawan commented on #148
I found similar problem when going through the envirodiy `/postgresqlodm2timeseries/rest/1_1/GetValues?location=postgresqlodm2timeseries:srgd_desk&variable=postgresqlodm2timeseries:EnviroDIY_Mayfly_Temp`

[code]

[2017-07-05 20:50] lsetiawan opened #151 "No module named MySQLdb from the latest wofpy installation"
@ocefpaf I am still getting error when trying to deploy mysql database with the latest WOFpy due to missing `mysql-python` library...

ERROR:

[code]

From the installation, it seems like `mysql-python` is missing.

[code]

[2017-07-05 21:14] emiliom commented on #151
@lsetiawan, there are at least two common Python MySQLl packages: `mysql-python` and `pymysql`. In most ODM2 work, or at least in `odm2api`, `pymysql` is used. In our NANOOS & vizer work, we use `mysql-python` exclusively. The latter is the one that has a `MySQLdb` importable module.

I don't remember what `wofpy` uses. Ideally it should be the same as `odm2api`. There's no reason to have to requi

[2017-07-05 21:15] emiliom commented on #151
Forgot to add: in your env, `mysql-python` is missing, but `pymysql` is present.

[2017-07-05 21:18] lsetiawan commented on #151
Hmm..

[code]

From the traceback error, it seems like `sqlalchemy` is the one that uses `mysql-python`. So I'm not sure what's going on here.

[2017-07-05 21:20] emiliom commented on #151
Hmm. You got me. Either something has changed, or I'm wrong about `pymysql` and `odm2api`! :(

[2017-07-05 21:48] lsetiawan commented on #151
I found the problem. It seems that the problem lies within my connection string.

`odm2api` defaults using `pymysql` to build the connection string, this is why it works. I on the other hand uses `mysqldb` for wofpy. So I have to change the connection string to use `pymysql` to make things work.

`mysql+pymysql://user:***@127.0.0.1:3306/ODM2` instead of `mysql+mysqldb://user:***@127.0.0.1:3306/ODM

[2017-07-05 22:00] emiliom commented on #151
Great! Sounds like an easy solution.

[2017-07-05 22:08] lsetiawan commented on #151
Yepp. I applied the changes. It works. Thanks!

[2017-07-05 22:08] #151 closed

[2017-07-05 22:11] emiliom commented on #151
Great. Let's make sure we catch that in the documentation, too.

[2017-07-06 13:31] ocefpaf commented on #151
If you want to use `mysql-python` instead we can add it as a "server" dependency or something similar.

[2017-07-06 18:19] ocefpaf commented on #128
I believe we can close this issue, right?

[2017-07-06 19:10] emiliom commented on #128
Let's leave it open, mostly for me once I have time to come back to revisit the documentation. I've been swamped with other work. It'll get better in ~10 days.

So, basically, everyone can ignore this issue.

[2017-07-07 18:47] lsetiawan opened #152 "ODM2 timeseries GetVariableInfo Response Checks and Mapping"
## GetVariableInfo Response Against LittleBear MySQL Database
[GetVariableInfo Xml](http://54.186.36.247:8080/mysqlodm2timeseries/rest/1_1/GetVariableInfo)

### One Variable Unknowns:
[code]

- `dataType` : This attribute is being used currently, and it is pulled from ODM2 `Variables `[`VariableTypeCV`](https://github.com/ODM2/WOFpy/blob/master/wof/examples/flask/odm2/timeseries/sqlalch_odm2_model

[2017-07-07 19:22] lsetiawan commented on #152
[WOF 1.1 Documentation](http://his.cuahsi.org/documents/WaterML_1_1_part1_v2.pdf)

Example from Documentation Pg. 72:
[code]

From the example, it seem like:
- `dataType` (A3 pg. 89) should come from ODM2 `TimeSeriesResults` [`AggregationStatisticCV`](http://vocabulary.odm2.org/aggregationstatistic/).
- `generalCategory` (A4 pg. 90) should come from ODM2 `Variables` [`VariableTypeCV`](http://vocab

[2017-07-07 19:27] horsburgh commented on #152
@lsetiawan - valueType is interesting. You're right, there's not a 1:1 match with ODM2. I can see that using the ActionTypeCV might work, but I could also see a case for using ResultType. I think your suggestion for using the ActionTypeCV for the valueType attribute seems reasonable.

[2017-07-07 19:44] emiliom commented on #152
Thanks, @lsetiawan, and thanks for chiming in, @horsburgh! @lsetiawan, very nice use of links to documents, code and vocabularies :+1:

I'm not adding any comments per se, yet. Just wanted to point to pre-generated WOFpy `GetVariableInfo` responses from our three current ODM2 timeseries test databases (LBR, EnviroDIY and Miguel's LCZO). I've [uploaded these WaterML1.1 XML files here](https://githu

[2017-07-07 19:50] emiliom commented on #152
@lsetiawan, thanks also for remembering to add this to issue to the [milestone](https://github.com/ODM2/WOFpy/milestone/3) we set up!

cc'ing @steveskrip

[2017-07-07 20:28] lsetiawan commented on #152
@emiliom Thanks uploading those XML files. This is great to link to. 😃

[2017-07-07 21:21] emiliom opened #154 "Verify timezone handling in ODM2 timeseries DAO responses & requests"
A stub, for now. I'll get more specific later. Broadly, this involves double checking that no improper conversion (or lack of conversion) between local and UTC times are taking place, wherever a datetime is reported in a WOF/WaterML response or expected in a WOF request.

cc @steveskrip

[2017-07-09 20:23] emiliom commented on #152
I agree that that's the best match. But it's also a very imperfect match, b/c ODM2 introduced concepts there that are not mapped to the WaterML 1.1 `generalCategory` concepts. Still, this is indeed the way to go as a first enhancement to `generalCategory` handling.

[2017-07-09 20:30] emiliom commented on #152
More broadly, I think we'll have no choice but to create mappings between ODM2 CV's and these 4 WaterML 1.1 CV's. Some of these mappings will be imperfect, b/c of the conceptual mismatch. If we simply pass the ODM2 CV values, we'll be returning non-compliant WaterML 1.1 (though maybe I should re-read the WaterML 1.1 doc).

Those mappings would also be customizable by WOFpy users, to provide flexib

[2017-07-11 21:46] emiliom commented on #148
@lsetiawan, can you describe briefly what the EnviroDIY error was that you're addressing with PR #155? What kind of values were failing, and where?

[2017-07-11 21:58] lsetiawan commented on #148
I am not sure of the values that were failing. Traceback wasn't very helpful, but it came back to something with `StringIO` library.

[code]

[2017-07-11 22:03] ocefpaf commented on #148
@lsetiawan ideally we should use `codecs`/`io` and other `Python 3` tools (ported to `2.7`) and treat everything as bytes. This is not an easy task, but it will make the code more robust and ready for future upgrades.

Ideally, we should start by adding tests that fail, then we can implement the conversions as needed.

[2017-07-12 16:31] lsetiawan commented on #148
I was too excited for it to work with EnviroDIY, but when I tested the new code with @miguelcleon database, the error is still there.

I will look into @ocefpaf [suggestion](https://github.com/ODM2/WOFpy/issues/148#issuecomment-314585433).

[2017-07-12 18:14] lsetiawan commented on #148
I can't seem to build the failure in https://github.com/ODM2/WOFpy/issues/148#issue-236536065 like @miguelcleon. I tried putting the exact wordings that has the suspected dash, and it's still not failing.

[2017-07-13 16:18] sreeder opened #157 "What DB systems are officially supported by WOFpy?"
I am trying to run this on a MSSQL server and I was wondering if you guys had completed any testing against this database type?

I am receiving an error when I run the code. It is similar to an issue we were getting when we started running against PostgreSql
<img width="1120" alt="screen shot 2017-07-13 at 10 16 22 am" src="https://user-images.githubusercontent.com/4721940/28176390-69b8bf8c-67b4-1

[2017-07-14 14:30] lsetiawan commented on #157
We do not support MSSQL as of now. We have no way of testing and developing with that DB system. Currently, we are "officially" supporting MySQL, SQLite, and PostgreSQL.

[2017-07-15 22:15] emiliom commented on #157
Just to add to what @lsetiawan said: we are not able to do any testing or development on MSSQL. So, to the extent that `odm2api` works with MSSQL (and to the extent that odm2api actually used in wofpy), and that the explicit SQL statements in the `wofpy` [odm2timeseries DAO](https://github.com/ODM2/WOFpy/tree/master/wof/examples/flask/odm2/timeseries) work with MSSQL (which we can't test), things

[2017-07-17 15:12] horsburgh commented on #157
Hi guys - I feel like we've done a MASSIVE amount of work over the past several years to make sure that the tools we are building for ODM2 are platform and database agnostic. I think it would be a real shame if this tool locked us into a particular way of doing things. There has always been a free version of SQL Server, and Windows is pretty easy to get your hands on.

That said - according to Ste

[2017-07-17 16:21] miguelcleon commented on #148
@lsetiawan so it's failing for my db but you can't generate the same error from the EnviroDIY db? It does seem to be the case that this is a valid unicode character '\u2212' http://www.fileformat.info/info/unicode/char/2212/index.htm

[2017-07-17 16:44] lsetiawan commented on #157
Hi @sreeder Could you please go through your dao, and try adding an `or` on the lines where it checks for the engine as 'postgresql'.

[code]

https://github.com/ODM2/WOFpy/blob/master/wof/examples/flask/odm2/timeseries/odm2_timeseries_dao.py#L131, https://github.com/ODM2/WOFpy/blob/master/wof/examples/flask/odm2/timeseries/odm2_timeseries_dao.py#L142

See if that changes anything. Thanks.

[2017-07-17 16:54] sreeder commented on #157
@lsetiawan I was able to add those changes last Friday, but have since been getting another error that I am unsure how to fix. I this something you have come across before?
![image](https://user-images.githubusercontent.com/4721940/28279650-57742802-6ade-11e7-9bdc-4f5a968aaaa5.png)

[2017-07-17 17:08] lsetiawan commented on #157
I think that pops up when you don't have `[WOF]` in the `.cfg` file. https://github.com/ODM2/WOFpy/blob/master/wof/examples/flask/odm2/timeseries/odm2_config_timeseries.cfg#L1

[2017-07-17 17:16] sreeder commented on #157
@lsetiawan  That is strange, because my .cfg file looks nearly identical to that one.

[2017-07-17 19:23] sreeder commented on #157
@lsetiawan  Okay, I was running the code from another folder, so it seems to have difficulty finding the path unless you run it from the same folder as the runserver.py file.

[2017-07-17 20:03] lsetiawan commented on #157
@sreeder Hmm.. interesting. If the `.cfg` files are in a different folder. You should be able to make an absolute path. See below.

[code]

[2017-07-18 06:59] emiliom commented on #148
@lsetiawan, are you sure the error you reported for EnviroDIY is the same kind of error @miguelcleon reported in his database? (see "decode byte" vs "encode character")

`EnviroDIY` error:
[code]
`LCZO` error:
[code]

Also, can you describe exactly where you added the unicode dash character? Is it in the same table and field as in Miguel's database?

[2017-07-18 17:12] sreeder commented on #157
@lsetiawan Thanks for your help, I was able to get this up and running! So with your code fix from above

[code]

https://github.com/ODM2/WOFpy/blob/master/wof/examples/flask/odm2/timeseries/odm2_timeseries_dao.py#L131, https://github.com/ODM2/WOFpy/blob/master/wof/examples/flask/odm2/timeseries/odm2_timeseries_dao.py#L142

I was able to get the code running against an MSSQL database.

[2017-07-18 17:12] #157 closed

[2017-07-18 18:00] lsetiawan commented on #148
## `LCZO` error

The encoding error that @miguelcleon encounters is caused by https://github.com/ODM2/WOFpy/blob/master/wof/WaterML_1_1.py#L4887.

[code]

`self.valueOf_` is `unicode`. Trying to convert `unicode` object to bytes with `str` is not a good practice. So to fix this error. `unicode` objects should be converted to bytes by using `.encode()`.

### simple test
[code]

[code]

Reference:
-

[2017-07-18 18:08] lsetiawan commented on #148
Now, @miguelcleon encoding error has become a decoding error, similar to `EnviroDIY`.

[code]

[2017-07-18 18:13] lsetiawan commented on #148
To handle both cases. I am using what @ocefpaf suggested: `io.BytesIO()` in https://github.com/ODM2/WOFpy/blob/master/wof/apps/spyned_1_1.py#L38

[code]

And this seems to solve the problem for both errors, since the strings are treated as bytes.

I will create a PR with those changes.

[2017-07-18 18:17] miguelcleon commented on #148
@lsetiawan sounds great! I'll give it a try once it's up.

[2017-07-18 20:27] emiliom commented on #148
Great progress!! And @lsetiawan, thanks for the additional information you provided above.

[2017-07-18 20:50] miguelcleon commented on #150
after you get the EOF error:

From here http://dev-odm2admin.cuahsi.org/wofpy/odm2timeseries/rest/1_1/GetVariableInfo?variable=odm2timeseries:DO%20Concentration you get:

[code]

from here http://dev-odm2admin.cuahsi.org/wofpy/odm2timeseries/rest/1_1/GetSites?site=odm2timeseries:Rio%20Icacos%20Trib-IO you get:

[code]

from here http://dev-odm2admin.cuahsi.org/wofpy/odm2timeseries/rest/1_1/GetValu

[2017-07-18 20:53] lsetiawan commented on #150
@miguelcleon if you restart WOFpy, what happens then?

[2017-07-18 20:54] miguelcleon commented on #150
It will work again.

[2017-07-18 20:58] lsetiawan commented on #150
I am currently using your ODM2LCZO Database for testing. I am not seeing the problem there so far.

[2017-07-18 20:59] miguelcleon commented on #150
prior to the EOF error I got a timeout error below. The problem doesn't seem to be reproducible unfortunately.

Fault: Fault(Server: "(psycopg2.DatabaseError) SSL SYSCALL error: Connection timed out\\n [SQL: 'SELECT DISTINCT odm2.sites.samplingfeatureid AS odm2_sites_samplingfeatureid, odm2.samplingfeatures.samplingfeatureid AS odm2_samplingfeatures_samplingfeatureid, odm2.sites.spatialreferenceid

[2017-07-18 21:02] miguelcleon commented on #150
I pulled the timeout error from the apache error log.

[2017-07-18 21:12] lsetiawan commented on #150
Are you using `mod_wsgi` or `uWSGI`?

[2017-07-18 21:14] miguelcleon commented on #150
`mod_wsgi`

[2017-07-18 21:17] lsetiawan commented on #150
I think you don't have a "graceful" reloading in place. So everytime you reload the browser, it's not killing the session, so eventually your database gets overwhelmed. `lazy-apps` fixes that with uWSGI/NGINX setup. I am not sure what the equivalent is for mod_wsgi/Apache setup, unless you already figured it out and it's still not working.

[2017-07-18 21:20] miguelcleon commented on #150
ok, I'll look into that.

[2017-07-19 02:48] emiliom commented on #157
@sreeder, I'm really glad you made it work! Thanks so much for these detailed wrap-up comments and the additional set of instructions you've said you'll post as well. We'll want to capture the MSSQL-specific instructions in the general instructions for WOFpy.

It's instructive (for those of us who don't use MSSQL) to see that MSSQL SQL dialect is more similar to PostgreSQL than to MySQL. That's ef

[2017-07-19 16:01] emiliom commented on #152
The 4 WaterML 1.1 CV's discussed each has a small list of terms (see the WaterML / WOF 1.1 document link in one of the comments above). So, I'm listing them here for convenient reference (would be nice to also add a link to the WaterML 1.1 CV online system, but I can't remember the url):

`dataType` (A3)
- Continuous
- Sporadic
- Cumulative
- Incremental
- Average
- Maximum
- Minimum
- Constant Ov

[2017-07-19 22:57] emiliom commented on #152
The term lists I posted immediately above are from the [WaterML 1.1 Manual (pdf)](http://his.cuahsi.org/documents/WaterML_1_1_part1_v2.pdf). But this manual was last edited in mid 2009, and in the meantime the WaterML 1.1 vocabularies continued to evolve, as represented in the live vocabulary system, ["Master Controlled Vocabulary Registry for ODM 1.1"](http://his.cuahsi.org/mastercvreg/cv11.aspx)

[2017-07-21 02:29] lsetiawan commented on #152
@emiliom Thanks for leading me to the Master CV Registry! Btw. I'll be working tonight for a few hours (probably until 9). I am looking at the CV for Water ML 1.1. Thinking maybe parsing the page to get the CVs

[2017-07-21 02:34] emiliom commented on #152
Well, they were notes for me, too.

Alright.

[2017-07-21 02:36] lsetiawan commented on #152
@emiliom Do you think that this WSDL will work with ulmo? http://his.cuahsi.org/odmcv_1_1/odmcv_1_1.asmx?WSDL

[2017-07-21 02:38] horsburgh commented on #152
@emiliom and @lsetiawan - when I was running the Master CV registry for ODM 1.1.1 (before it moved to CUAHSI) I created that simple web service that would return the CV terms serialized as XML. You could probably use Python and suds to access it. It's super simple (but uses SOAP - sorry, it was in vogue back then...).

[2017-07-21 02:39] emiliom commented on #152
It won't. It's not for a WaterML request, but instead for a vocabulary request.

Thanks @horsburgh! I was going to say roughly what you're saying. That Master CV service seems to return a fairly straightforward XML response that can probably be parsed easily after issuing the request with `suds`. But @lsetiawan hasn't used suds directly ...

[2017-07-21 02:41] lsetiawan commented on #152
@emiliom Thanks! I will try with `suds`.

[2017-07-21 03:15] lsetiawan commented on #152
@horsburgh, @emiliom,

Thanks for the suggestions! `suds` works great. I was able to do the request and get the CV terms and definitions with no problem 😄 at least for `DataTypeCV` and `CensorCodeCV` so far.

[2017-07-24 21:08] lsetiawan commented on #152
## ODM2 --> WaterML 1.1 CV Mapping

I am currently using the mapping in https://github.com/ODM2/WOFpy/issues/152#issuecomment-313770769. Here's a `waterml:odm2` cv table mapping dictionary. Another resource I found is [here](https://github.com/ODM2/ODM2/blob/master/usecases/WOF_to_ODM2/load_wof_to_ODM2.py).

[code]

Here's an inventory of ODM2 CV that doesn't currently match WaterML 1.1 CVs:

[cod

[2017-07-24 23:18] lsetiawan opened #160 "ODM2 to WaterML 1.1 Controlled Vocabularies Mapping."
#152 is getting long. Opening this issue for the mapping of CV. Following up from https://github.com/ODM2/WOFpy/issues/160#issuecomment-317583449. Please edit as you see fit.

The format is waterml cv as key then list of ODM2 cv that matches as values. **I am only mapping the ODM2 CV terms that don't match with WaterML 1.1 terms.**

---
<details>
<summary>Censorcode</summary>

## Censorcode [(Wate

[2017-07-24 23:22] lsetiawan commented on #160
## ODM2 --> WaterML 1.1 CV Mapping

I am currently using the mapping in https://github.com/ODM2/WOFpy/issues/152#issuecomment-313770769. Here's a `waterml:odm2` cv table mapping dictionary. Another resource I found is [here](https://github.com/ODM2/ODM2/blob/master/usecases/WOF_to_ODM2/load_wof_to_ODM2.py).

[code]

Here's an inventory of ODM2 CV that doesn't currently match WaterML 1.1 CVs:

[cod

[2017-07-25 01:05] emiliom commented on #160
@lsetiawan, thanks for the additional work/research, and for starting a new, narrower issue (and for being diligent and deleting the last comment you posted in #152, to put it here instead). This looks like good progress towards mapping non-matching ODM 2 terms.

I'll be seeing Anthony and Jeff tomorrow, so we can discuss these CV 1.1 vs 2 issues and mappings in person!

[2017-08-09 07:28] emiliom opened #162 "Add agencyName and agencyCode in SiteInfo response"
From *John McEnery*. His original question:

Followed by more detailed information:

*And my initial comments (sent before he sent those detailed references):*
I looked at the official WaterML 1.1 documentation and sample XML files (sorry, I don't have the url handy right now, but it's on the CUAHSI web site); I couldn't find any reference to agencyName and agencyCode XML elements.

What's there,

[2017-08-09 15:34] emiliom commented on #162
For reference: See comment in `create_site_info_element` about missing `agencyName`
at [wof/core_1_1.py#L726](https://github.com/ODM2/WOFpy/blob/master/wof/core_1_1.py#L726)

[2017-08-09 15:47] emiliom commented on #162
*My comments addressed to John (mainly), copied from email follow-up, but edited a bit to make references to this github issue less obtrusive:*

Thanks so much for the detailed information; that's really helpful. I definitely see `agencyCode` and `agencyName` mentioned or used in these resources.

I'm cc'ing Jeff (though I think he's on vacation this week) b/c I don't see a definition of what an "

[2017-08-09 17:06] lsetiawan commented on #162
@emiliom,

organization : OrganizationName
sourceDescription : OrganizationDescription
sourceID attribute : OrganizationID

It seems like SourceID is actually mapped to `AffiliationID` rather than `OrganizationID` ([sqlalch_odm2_models.py/L203](https://github.com/ODM2/WOFpy/blob/master/wof/examples/flask/odm2/timeseries/sqlalch_odm2_models.py#L203)). Is `OrganizationID` supposed to be the correct

[2017-08-09 18:46] emiliom commented on #162
Good catch. Conceptually I think we want OrganizationID, but we'll need to look more closely at the code to see if there are any side effects.

[2017-08-15 03:42] emiliom commented on #162
For the record, we're *de facto* retaining the use of `AffiliationID` for `SourceID`, at least for now (eg, in [this merged commit](https://github.com/ODM2/WOFpy/pull/164/commits/230530f88a41ef468ab911d3a298a64a6419ea0b)).